<label class="checkboxDiamond js-checkbox {{className}}" id="{{id}}" data-name="{{name}}">
    <input class="input" type="checkbox" name="{{name}}" value="{{value}}"{{#if checked}} checked{{/if}}{{#if disabled}} disabled{{/if}} />
    <div class="wrapper">
        <span>
            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="25" viewBox="0 0 28 25" fill="none" opacity="0.4">
             <path d="M26 8.55339L14.0694 22.6004L2 8.55339L6.99422 2.38989H21.2832L26 8.55339Z" stroke="white" stroke-width="1.8"/> 
            </svg>
        </span>
        <span class="checkboxLabel">
           {{label}}
        </span>
    </div>
    <p class='errorText'>Поле обязательно должно быть заполнено</p>
</label>