<a
    href="{{@root.websiteAddress}}{{#if @root.platform}}{{@root.platform}}/{{/if}}games/{{alias}}"
    class="cardGame js-cardGame{{#if size}} {{size}}{{/if}} {{#if className}} {{className}}{{/if}}"
    data-id="{{_id}}"
    {{#if inCart}}data-in-cart="true"{{/if}}
    title="Перейти к странице товара"
>
    {{#if dlc}}
        <div class="dlc" title="Дополнение для игры">DLC</div>
    {{/if}}
    {{#if isNew}}
        <div class="new" title="Новинка">new</div>
    {{/if}}
    
    <div class="head">
        
        {{!-- d81e3c7c-7179-455a-b31d-bb6201424351.jpeg --}}
        {{!-- TODO изменить адрес картинки --}}
        {{!-- {{img}} --}}
        <img class="img" src="{{@root.websiteAddress}}/img/d81e3c7c-7179-455a-b31d-bb6201424351.jpeg" loading="lazy" alt="Картинка {{name}}" title="{{name}}">
        <div class="imageFilter{{#unless inStock}} activate{{/unless}}"></div>
    </div>
    <div class="name">{{name}}</div>
    <div class="price {{#unless inStock}}{{#unless preOrder}}hidden {{/unless}}{{/unless}}">
        <div class="toPrice">
            <span class="value">{{priceTo}}</span>
        </div>
        {{#iff priceFrom '>' priceTo}}
            <div class="fromPrice">
                <span class="value">{{priceFrom}}</span>
            </div>
            {{#if discount}}
                <div class="discount js-discount">{{discount}}</div>
            {{/if}}
        {{/iff}}
    </div>
    <div class="actions{{#unless inStock}} noInStock{{/unless}}">
        {{#if @root.isAuth}}
            <button class="btn like js-favoritesBtn{{#if inFavorites}} js-active{{/if}}" title="{{#if inFavorites}}Удалить товар из избранного{{else}}Добавить товар в избранное{{/if}}">
                <span class="icon-static icon-static-actionLike js-icon{{#if inFavorites}} active{{/if}}"></span>
            </button>
        {{/if}}
            {{#if inStock}}
                <button
                    class="btn inCart js-addToCart{{#if inCart}} active js-active{{/if}}"
                    title="{{#if inCart}}Перейти в корзину покупок{{else}}Добавить данный товар в корзину покупок{{/if}}"
                >
                    <span class="desktop js-text">{{#if inCart}}В корзине{{else}}В корзину{{/if}}</span>
                    <span class="icon icon-check js-icon"></span>
                </button>
            {{else}}
                {{#if preOrder}}
                    <div class="soonInStockMsg mobile">Скоро<br>в наличии!</div>
                    <div class="soonInStockMsg desktop">Скоро в наличии!</div>
                {{/if}}
                {{#unless preOrder}}
                    <div class="noInStockMsg">Нет в наличии</div>
                {{/unless}}
                <button
                    class="btn subscribeInStock js-subscribeInStock"
                    title="{{#if subscribed}}Когда товар появится в наличии, на Ваш E-mail придет уведомление{{else}}Подписаться на уведомление о поступлении товара{{/if}}"
                >
                    Уведомить
                    {{#if subscribed}}
                        <span class="icon icon-check"></span>
                    {{/if}}
                </button>
            {{/if}}
    </div>
</a>
