<a
    href="/games/{{alias}}"
    class="cardGame js-cardGame{{#if size}} {{size}}{{/if}}"
    data-id="{{id}}"
    {{#if inCart}}data-in-cart="true"{{/if}}
    title="Перейти к странице товара"
>
    <div class="actions{{#unless inStock}} noInStock{{/unless}}">
        {{#if @root.isAuth}}
            <button class="btn like js-favoritesBtn{{#if inFavorites}} js-active{{/if}}" title="{{#if inFavorites}}Удалить товар из избранного{{else}}Добавить товар в избранное{{/if}}">
                <span class="icon-static icon-static-actionLike js-icon{{#if inFavorites}} active{{/if}}"></span>
            </button>
        {{/if}}
        {{#if inStock}}
            <button
                class="btn border rounded uppercase bg-darkPink hover-bg-pink inCart small js-addToCart{{#if inCart}} active js-active{{/if}}"
                title="{{#if inCart}}Перейти в корзину покупок{{else}}Добавить данный товар в корзину покупок{{/if}}"
            >
                <span class="desktop js-text">
                    {{#if inCart}}Добавлено{{else}}В корзину{{/if}}
                </span>
                <span class="mobile icon-static icon-static-cartProduct{{#if inCart}} active{{/if}} js-icon"></span>
            </button>
        {{else}}
                <div class="noInStockMsg">Игры нет<br>в наличии :(</div>
                <button
                        class="btn border rounded bg-darkPink hover-bg-pink small js-subscribeInStock"
                        title="Подписаться на уведомление о поступлении товара"
                >Уведомить</button>
        {{/if}}
    </div>
    {{#if dlc}}
        <div class="dlc" title="Дополнение для игры">DLC</div>
    {{/if}}
    <div class="head">
        <img class="img" src="{{@root.websiteAddress}}{{img}}" alt="Картинка {{name}}" title="{{name}}">
        <div class="name">
            {{name}}
        </div>
    </div>
    <div class="price">
        <div class="toPrice">
            <span class="value">
                {{priceTo}}
            </span>
        </div>
        <div class="fromPrice">
            <span class="value">
                {{priceFrom}}
            </span>
        </div>
    </div>
</a>