<a
    href="/games/{{alias}}"
    class="cardGame {{size}} js-cardGame"
    data-id="{{id}}"
    data-ds-id="{{dsId}}"
    {{#if inCart}}data-in-cart="true"{{/if}}
    title="Перейти к странице товара"
>
    <div class="actions">
        {{#if @root.isAuth}}
            <button class="btn like js-favoritesBtn{{#if inFavorites}} js-active{{/if}}" title="{{#if inFavorites}}Удалить товар из избранного{{else}}Добавить товар в избранное{{/if}}">
                <span class="icon-static icon-static-actionLike js-icon {{#if inFavorites}} active{{/if}}"></span>
            </button>
        {{/if}}
        {{#unless inStock}}
            <div class="noInStock">Игры нет<br>в наличии :(</div>
        {{/unless}}
        <button
            class="btn border rounded uppercase bg-darkPink hover-bg-pink inCart small
                {{#if inStock}}
                    js-addToCart{{#if inCart}} active js-active{{/if}}
                {{else}}
                    js-subscribeInStock
                {{/if}}
            "
            title="
                {{#if inStock}}
                    {{#if inCart}}Перейти в корзину покупок{{else}}Добавить данный товар в корзину покупок{{/if}}
                {{else}}
                    Подписаться на уведомление о поступлении товара
                {{/if}}
            "
        >
            {{#if inStock}}
                {{#if inCart}}В корзине ✔{{else}}В корзину{{/if}}
            {{else}}
                Уведомить
            {{/if}}
        </button>
    </div>
    {{#if dlc}}
        <div class="dlc" title="Дополнение для игры">DLC</div>
    {{/if}}
    <div class="head">
        <img class="img" src="{{@root.websiteAddress}}{{img}}" alt="Картинка {{name}}" title="{{name}}">
        <div class="name">
            {{name}}
        </div>
    </div>
    <div class="price">
        <div class="toPrice">
            <span class="value">
                {{priceTo}}
            </span>
        </div>
        <div class="fromPrice">
            <span class="value">
                {{priceFrom}}
            </span>
        </div>
    </div>
</a>