<div class="containerMenu">
    <nav class="menu js-menu">
        <ul class="col categoriesMenu mobileMenu">
	        <li class="menu-title">
		        {{#if isCatalog}}
			        <span class="link">Каталог</span>
		        {{else}}
			        <a href="{{websiteAddress}}{{#if platform}}{{ platform }}/{{/if}}games" class="link" title="Все игры">Каталог</a>
		        {{/if}}
	        </li>
            {{#each allCategories}}
                <li class="colLink">
                    <a href="{{websiteAddress}}{{#if @root.platform}}{{ @root.platform }}/{{/if}}games?categories={{alias}}" class="link" title="Открыть товары из категории {{name}}">{{name}}</a>
                </li>
            {{/each}}
            <li class="colLink">
                {{#if isCatalog}}
                    <span class="link">Все игры</span>
                {{else}}
                    <a href="{{websiteAddress}}{{#if platform}}{{ platform }}/{{/if}}games" class="link" title="Все игры">Все игры</a>
                {{/if}}
            </li>
            <li class="colLink">
                <a href="{{websiteAddress}}{{#if platform}}{{ platform }}/{{/if}}games?onlyStock=true" class="link" title="Все игры">Игры в наличии</a>
            </li>
            <li class="colLink">
                <a href="{{websiteAddress}}{{#if platform}}{{ platform }}/{{/if}}games?noCommission=true" class="link" title="Оплата без комиссии">Оплата без комиссии</a>
            </li>
        </ul>
    </nav>
</div>
