<div class="containerMenu">
    <nav class="menu js-menu">
        <ul class="col categoriesMenu mobileMenu">
            {{#each allCategories}}
                <li class="colLink">
                    <a href="{{websiteAddress}}games?categories={{alias}}" class="link" title="Открыть товары из категории {{name}}">{{name}}</a>
                </li>
            {{/each}}
            <li class="colLink">
                {{#if isCatalog}}
                    <span class="link">Все игры</span>
                {{else}}
                    <a href="{{websiteAddress}}games" class="link" title="Все игры">Все игры</a>
                {{/if}}
            </li>
            <li class="colLink">
                <a href="{{websiteAddress}}games?onlyStock=true" class="link" title="Все игры">Игры в наличии</a>
            </li>
            <li class="colLink">
                <a href="{{websiteAddress}}games?noCommission=true" class="link" title="Оплата без комиссии">Оплата без комиссии</a>
            </li>
        </ul>
        <div class="containerMainMenuSearch">
            <div class="searchResult js-searchResult"></div>
            <div class="mainMenu">
                <ul class="col">
                    <li class="title">Жанры</li>
                    {{#each allGenres}}
                        <li class="colLink">
                            <a href="{{@root.websiteAddress}}{{alias}}" class="link" title="Открыть товары жанра {{name}}">{{name}}</a>
                        </li>
                    {{/each}}
                </ul>
                <ul class="col">
                    <li class="title">Активация</li>
                    {{#each allActivationServices}}
                        <li class="colLink">
                            <a href="{{@root.websiteAddress}}{{alias}}" class="link" title="Открыть товары с активацией в {{name}}">{{name}}</a>
                        </li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </nav>
</div>