{{!--TODO remove for production --}}
<div class="homeSection newsSliderContainer">
    <h2 class="homeTitle">Новости и статьи</h2>
    <div class="newsSlider js-newsSlider">
        <button class="btn prev js-prevBtn"></button>
        <div class="visibleArea js-visibleArea">
            <div class="tape js-tape">
                {{#each articles}}
                    <a href="{{@root.websiteAddress}}{{#if @root.platform}}{{@root.platform}}/{{/if}}blog/{{alias}}" class="slide newsPreview js-slide{{#iff @index '<' 3}} active{{/iff}}">
                        <img class="img" src="{{@root.websiteAddress}}{{img}}" loading="lazy" alt="Изображение записи из блога {{name}}" title="Изображение записи из блога {{name}}">
                        <div class="attributes">
                            <div class="btn small round border small bg-darkLilac">
                                {{#iff type '===' 'news'}}Новости{{else}}Статьи{{/iff}}
                            </div>
                            <div class="date">{{createdDate}}</div>
                        </div>
                        <div class="description">
                            <div class="title">{{name}}</div>
                            <div class="text">{{introText}}</div>
                        </div>
                    </a>
                {{/each}}
            </div>
        </div>
        <button class="btn next js-nextBtn"></button>
    </div>
    <a class="btn round border hover-bg-palePink all" href="{{websiteAddress}}{{#if platform}}{{platform}}/{{/if}}blog">Все новости</a>
</div>
