<div class="nav">
    <button class="btn mobileOpenProfileMenu js-mobileOpenProfileMenu">
        <span class="decor"></span>
        Меню профиля
    </button>
    <div class="menu js-mobileProfileMenu">
        <div class="profileMenu js-profileMenu">
            {{#if isProfileHome}}
                <div class="btn active">Профиль</div>
            {{else}}
                <a class="btn" href="/profile">Профиль</a>
            {{/if}}
            {{#if isProfileEdit}}
                <div class="btn active">Личные данные</div>
            {{else}}
                <a class="btn" href="/profile/edit">Личные данные</a>
            {{/if}}
            {{#if isProfileAchievements}}
                <div class="btn active">Достижения</div>
            {{else}}
                <a class="btn" href="/profile/achievements">Достижения</a>
            {{/if}}
            {{#if isProfileInvite}}
                <div class="btn active">Пригласи друга</div>
            {{else}}
                <a class="btn" href="/profile/invite">Пригласи друга</a>
            {{/if}}
            {{#if isProfileOrders}}
                <div class="btn active">Мои заказы</div>
            {{else}}
                <a class="btn" href="/profile/orders">Мои заказы</a>
            {{/if}}
            {{#if isProfileFavorites}}
                <div class="btn active">Избранное</div>
            {{else}}
                <a class="btn" href="/profile/favorites">Избранное</a>
            {{/if}}
            <div class="marker js-marker">
                <span class="center"></span>
            </div>
        </div>
        <a href="/rating/{{user.login}}" class="btn border round viewProfile">Как видят мою страницу</a>
        <a href="/logout" class="btn link exit">Выход</a>
    </div>
</div>