<div class="nav">
    <div class="profileMenu">
        {{#if isProfileHome}}
            <div class="btn translucent active">Профиль</div>
        {{else}}
            <a class="btn translucent" href="/profile">Профиль</a>
        {{/if}}
        {{#if isProfileEdit}}
            <div class="btn translucent active">Личные данные</div>
        {{else}}
            <a class="btn translucent" href="/profile/edit">Личные данные</a>
        {{/if}}
        {{#if isProfileAchievements}}
            <div class="btn translucent active">Достижения</div>
        {{else}}
            <a class="btn translucent" href="/profile/achievements">Достижения</a>
        {{/if}}
        {{#if isProfileInvite}}
            <div class="btn translucent active">Пригласи друга</div>
        {{else}}
            <a class="btn translucent" href="/profile/invite">Пригласи друга</a>
        {{/if}}
        {{#if isProfileOrders}}
            <div class="btn translucent active">Мои игры</div>
        {{else}}
            <a class="btn translucent" href="/profile/orders">Мои игры</a>
        {{/if}}
        {{#if isProfileFavorites}}
            <div class="btn translucent active">Избранное</div>
        {{else}}
            <a class="btn translucent" href="/profile/favorites">Избранное</a>
        {{/if}}
        <div class="marker">
            <span class="center"></span>
        </div>
    </div>
    <a href="/profile/view/{{user.login}}" class="btn border round viewProfile">Как видят мою страницу</a>
    <a href="/logout" class="btn link exit">Выход</a>
</div>