<div class="item review" itemscope itemtype="https://schema.org/Review">
    {{#if forProduct}}
        <span itemprop="itemReviewed" itemscope itemtype=”https://schema.org/Game”>
            <meta itemprop="name" content="{{#if forGameName}}{{forGameName}}{{else}}{{@root.product.name}}{{/if}}">
        </span>
    {{/if}}
    <div class="head">
        <a
            class="btn link userName"
            href="{{@root.websiteAddress}}rating/{{userLogin}}"
            title="Перейти на страницу пользователя {{userLogin}}"
            itemprop="author"
            itemscope
            itemtype="https://schema.org/Person"
        >
            {{userLogin}}
            <meta itemprop="name" content="{{userLogin}}">
        </a>
        {{#iff status '!==' 'taken'}}
            <div class="moderationInfo">
                {{#iff status '===' 'moderation'}}Отзыв на модерации{{/iff}}
                {{#iff status '===' 'rejected'}}
                    <div class="rejectedBlock">
                        Отзыв отклонен
                        <div class="tooltip">
                            <span class="icon icon-info"></span>
                            <div class="prompt rejectionReason">Причина отлонения: {{rejectionReason}}</div>
                        </div>
                    </div>
                {{/iff}}
            </div>
        {{/iff}}
        {{#if forGameName}}
            <div class="forGame">
                Отзыв на игру: {{#if forGameAlias}}<a class="link gameName" href="/games/{{forGameAlias}}">{{forGameName}}</a>{{else}}<span class="gameName">{{forGameName}}</span>{{/if}}
            </div>
        {{/if}}
    </div>
    <div class="grade" itemprop="reviewRating" itemscope itemtype="https://schema.org/Rating">
        <span class="icon icon-star{{#iff eval '>=' 1}}Fill{{/iff}}"></span>
        <span class="icon icon-star{{#iff eval '>=' 2}}Fill{{/iff}}"></span>
        <span class="icon icon-star{{#iff eval '>=' 3}}Fill{{/iff}}"></span>
        <span class="icon icon-star{{#iff eval '>=' 4}}Fill{{/iff}}"></span>
        <span class="icon icon-star{{#iff eval '>=' 5}}Fill{{/iff}}"></span>
        <meta itemprop="ratingValue" content="{{toStr eval}}">
    </div>
    <div class="text" itemprop="name">
        {{text}}
    </div>
</div>