<div class="item review">
    <div class="head">
        <a class="btn link userName" href="{{@root.websiteAddress}}rating/{{userLogin}}" title="Перейти на страницу пользователя {{userLogin}}">{{userLogin}}</a>
        {{#if forGameName}}
            <div class="forGame">
                Отзыв на игру: {{#if forGameAlias}}<a class="link gameName" href="/games/{{forGameAlias}}">{{forGameName}}</a>{{else}}<span class="gameName">{{forGameName}}</span>{{/if}}
            </div>
        {{/if}}
    </div>
    <div class="grade">
        <span class="icon icon-star{{#iff eval '>=' 1}}Fill{{/iff}}"></span>
        <span class="icon icon-star{{#iff eval '>=' 2}}Fill{{/iff}}"></span>
        <span class="icon icon-star{{#iff eval '>=' 3}}Fill{{/iff}}"></span>
        <span class="icon icon-star{{#iff eval '>=' 4}}Fill{{/iff}}"></span>
        <span class="icon icon-star{{#iff eval '>=' 5}}Fill{{/iff}}"></span>
    </div>
    <div class="text">
        {{text}}
    </div>
</div>