<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="IceGames -- Магазин Ключей Steam">
    <meta name="keywords" content="IceGames -- Магазин Ключей Steam">
    <link rel="stylesheet" href="/styles/bundle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,600;1,300;1,600&display=swap" rel="stylesheet">
    <title>{{title}}</title>
</head>
<body {{#if @root.person.dsCartId}}data-ds-cart-id="{{@root.person.dsCartId}}"{{/if}}>
{{#unless isAuth}}
    {{> loginForm}}
{{/unless}}
<header class="header js-header">
    <div class="contentContainer">
        {{#if isHome}}
            <div class="logo link">
                <img src="/img/logo.png" class="img" alt="Логотип Ice Games" title="Логотип Ice Games">
                <div class="name">Ice Games<br>Store</div>
            </div>
        {{else}}
            <a class="logo link" href="/">
                <img src="/img/logo.png" class="img" alt="Логотип Ice Games" title="Логотип Ice Games">
                <div class="name">Ice Games<br>Store</div>
            </a>
        {{/if}}
        <div class="navigation js-mainNavigation">
            {{> menu}}
            <button title="Открыть каталог игр" class="btn round border hover-color-pink hover-border-pink openMenu js-toggleMainNavigation">Каталог</button>
            <div class="searchBar">
                <input class="textField js-searchString" type="text" placeholder="Поиск...">
                <button class="btn goSearch" title="Выполнить поиск">
                    <span class="icon icon-search"></span>
                </button>
            </div>
            <a href="#" title="Рейтинг пользователей Ice Games" class="btn round border hover-color-pink hover-border-pink">Рейтинг</a>
        </div>
        <div class="profile">
            {{#if isAuth}}
                {{#if isProfileHome}}
                    <div class="btn">
                        <span class="icon icon-profile"></span>
                    </div>
                {{else}}
                    <a href="/profile" class="btn" title="Перейти в профиль">
                        <span class="icon icon-profile"></span>
                    </a>
                {{/if}}
            {{else}}
                <button class="btn js-openLogin" title="Авторизация">
                    <span class="icon icon-profile"></span>
                </button>
            {{/if}}
            <a href="/cart" class="btn cart" title="Перейти в корзину с товарами">
                <span class="icon icon-cart"></span>
            </a>
        </div>
    </div>
</header>

{{{body}}}

<footer class="contentContainer homeSection footer">
    <div class="navigation">
        <a class="link" href="#">
            <img class="logo" src="/img/logoFull.png" alt="Ice Games полный логотип" title="Ice Games полный логотип">
        </a>
        <div class="social">
            <a href="#" class="link" title="Перейти на страницу Ice Games во Вконтакте">
                <img class="img" src="/img/vkSocial.png" alt="Логотип вконтакте" title="Перейти на страницу Ice Games во Вконтакте">
            </a>
            <a href="#" class="link" title="Перейти на страницу Ice Games в TikTok">
                <img class="img" src="/img/tiktokSocial.png" alt="Логотип TikTok" title="Перейти на страницу Ice Games в TikTok">
            </a>
            <a href="#" class="link" title="Перейти на страницу Ice Games в Instagram">
                <img class="img" src="/img/instagramSocial.png" alt="Логотип Instagram" title="Перейти на страницу Ice Games в Instagram">
            </a>
            <a href="#" class="link" title="Перейти на страницу Ice Games в Twitch">
                <img class="img" src="/img/twitchSocial.png" alt="Логотип Twitch" title="Перейти на страницу Ice Games в Twitch">
            </a>
            <a href="#" class="link" title="Перейти на страницу Ice Games в Twitter">
                <img class="img" src="/img/twitterSocial.png" alt="Логотип Twitter" title="Перейти на страницу Ice Games в Twitter">
            </a>
            <a href="#" class="link" title="Перейти на страницу Ice Games в FaceBook">
                <img class="img" src="/img/fbSocial.png" alt="Логотип FaceBook" title="Перейти на страницу Ice Games в FaceBook">
            </a>
        </div>
        <div class="menu">
            <a href="#" class="link">Все игры</a>
            <a href="#" class="link">Поддержка</a>
            <a href="#" class="link">Доставка и оплата</a>
            <a href="#" class="link">Отзывы</a>
            <a href="#" class="link">О магазине</a>
            <a href="#" class="link">Блог</a>
            <a href="#" class="link">Скидки</a>
            <a href="#" class="link">Новинки</a>
            <a href="#" class="link">Предзаказы</a>
        </div>
    </div>
    <div class="info">
        <img class="payments" src="/img/payments.png" alt="Способы оплаты" title="Способы оплаты">
        <a class="link legalInfo" href="#" title="Перейти на страницу правовой информации">Правовая информация</a>
        <a class="link designBy" href="#" title="Перейти на сайт студии" target="_blank">Дизайн: дизайн студия ган михаила</a>
    </div>
    <div class="copy">
        Все права защищены. Копирование любых материалов сайта запрещено! Все названия продуктов и игр,
        компаний и марок, логотипы, товарные знаки и другие материалы являются собственностью
        соответствующих владельцев. Только лицензионные ключи ко всем игровым платформам: Steam, Uplay,
        Battle.net, Origin и другие. Выгодно, надежно и быстро!
    </div>
</footer>
<script src="/js/bundle.js"></script>
</body>
</html>