<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
{{#if noIndex}}
    <meta name="robots" content="noindex, nofollow">
{{/if}}
{{#if metaDescription}}
    <meta name="description" content="{{metaDescription}}">
{{/if}}
    <link rel="stylesheet" href="{{websiteAddress}}styles/bundle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>{{title}}</title>
</head>
<body {{#if @root.person.dsCartId}}data-ds-cart-id="{{@root.person.dsCartId}}"{{/if}}>
{{#unless isAuth}}
    {{> loginForm}}
{{/unless}}
<header class="header js-header">
    <div class="mobileQuickSearch js-mobileQuickSearchContainer">
        <div class="searchBar">
            <input class="textField" type="text" placeholder="Поиск...">
            <button class="btn goSearch" title="Выполнить поиск">
                <span class="icon icon-search"></span>
            </button>
        </div>
        <div class="searchResults">
            <a href="#" class="cardGame small js-itemNavSlider" title="Перейти к странице игры">
                <div class="head">
                    <img class="img" src="./img/CoverDoomEternal.jpg" alt="Image of Doom ETERNAL" title="Doom ETERNAL">
                    <div class="name">Doom ETERNAL</div>
                </div>
                <div class="price">
                    <div class="toPrice">
                        <span class="value">999</span>
                    </div>
                    <div class="fromPrice">
                        <span class="value">1300</span>
                    </div>
                </div>
            </a>
            <a href="#" class="cardGame small js-itemNavSlider" title="Перейти к странице игры">
                <div class="head">
                    <img class="img" src="./img/CoverDoomEternal.jpg" alt="Image of Doom ETERNAL" title="Doom ETERNAL">
                    <div class="name">Doom ETERNAL</div>
                </div>
                <div class="price">
                    <div class="toPrice">
                        <span class="value">999</span>
                    </div>
                    <div class="fromPrice">
                        <span class="value">1300</span>
                    </div>
                </div>
            </a>
            <a href="#" class="cardGame small js-itemNavSlider" title="Перейти к странице игры">
                <div class="head">
                    <img class="img" src="./img/CoverDoomEternal.jpg" alt="Image of Doom ETERNAL" title="Doom ETERNAL">
                    <div class="name">Doom ETERNAL</div>
                </div>
                <div class="price">
                    <div class="toPrice">
                        <span class="value">999</span>
                    </div>
                    <div class="fromPrice">
                        <span class="value">1300</span>
                    </div>
                </div>
            </a>
            <a href="#" class="cardGame small js-itemNavSlider" title="Перейти к странице игры">
                <div class="head">
                    <img class="img" src="./img/CoverDoomEternal.jpg" alt="Image of Doom ETERNAL" title="Doom ETERNAL">
                    <div class="name">Doom ETERNAL</div>
                </div>
                <div class="price">
                    <div class="toPrice">
                        <span class="value">999</span>
                    </div>
                    <div class="fromPrice">
                        <span class="value">1300</span>
                    </div>
                </div>
            </a>
            <a href="#" class="cardGame small js-itemNavSlider" title="Перейти к странице игры">
                <div class="head">
                    <img class="img" src="./img/CoverDoomEternal.jpg" alt="Image of Doom ETERNAL" title="Doom ETERNAL">
                    <div class="name">Doom ETERNAL</div>
                </div>
                <div class="price">
                    <div class="toPrice">
                        <span class="value">999</span>
                    </div>
                    <div class="fromPrice">
                        <span class="value">1300</span>
                    </div>
                </div>
            </a>
            <a href="#" class="cardGame small js-itemNavSlider" title="Перейти к странице игры">
                <div class="head">
                    <img class="img" src="./img/CoverDoomEternal.jpg" alt="Image of Doom ETERNAL" title="Doom ETERNAL">
                    <div class="name">Doom ETERNAL</div>
                </div>
                <div class="price">
                    <div class="toPrice">
                        <span class="value">999</span>
                    </div>
                    <div class="fromPrice">
                        <span class="value">1300</span>
                    </div>
                </div>
            </a>
            <a href="#" class="cardGame small js-itemNavSlider" title="Перейти к странице игры">
                <div class="head">
                    <img class="img" src="./img/CoverDoomEternal.jpg" alt="Image of Doom ETERNAL" title="Doom ETERNAL">
                    <div class="name">Doom ETERNAL</div>
                </div>
                <div class="price">
                    <div class="toPrice">
                        <span class="value">999</span>
                    </div>
                    <div class="fromPrice">
                        <span class="value">1300</span>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="contentContainer">
        {{#if isHome}}
            <div class="logo">
                <div class="imgContainer">
                    <img src="{{websiteAddress}}img/logo.svg" class="img" alt="Логотип Ice Games" title="Логотип Ice Games">
                    <span class="eye"></span>
                </div>
                <div class="name">Ice Games<br>Store</div>
            </div>
        {{else}}
            <a class="logo" href="{{websiteAddress}}" title="Перейти на главную страницу">
                <div class="imgContainer">
                    <img src="{{websiteAddress}}img/logo.svg" class="img" alt="Логотип Ice Games" title="Логотип Ice Games">
                    <span class="eye"></span>
                </div>
                <div class="name">Ice Games<br>Store</div>
            </a>
        {{/if}}
        <div class="navigateMobileContainer js-navigateMobileContainer">
            <div class="navigation js-mainNavigation">
                {{> menu}}
                <button title="Открыть каталог игр" class="btn round border hover-color-pink hover-border-pink openMenu js-toggleMainNavigation">Каталог</button>
                <div class="searchBar">
                    <input class="textField js-searchString" type="text" placeholder="Поиск...">
                    <button class="btn goSearch" title="Выполнить поиск">
                        <span class="icon icon-search"></span>
                    </button>
                </div>
                {{#if isRating}}
                    <span title="Рейтинг пользователей Ice Games" class="btn round border hover-color-pink hover-border-pink">Рейтинг</span>
                {{else}}
                    <a href="{{websiteAddress}}rating" title="Рейтинг пользователей Ice Games" class="btn round border hover-color-pink hover-border-pink">Рейтинг</a>
                {{/if}}
            </div>
            <div class="profile">
                {{#if isAuth}}
                    {{#if isProfileHome}}
                        <div class="btn">
                            <span class="icon icon-profile"></span>
                        </div>
                    {{else}}
                        <a href="{{websiteAddress}}profile" class="btn" title="Перейти в профиль">
                            <span class="icon icon-profile"></span>
                        </a>
                    {{/if}}
                {{else}}
                    <button class="btn js-openLogin" title="Авторизация">
                        <span class="icon icon-profile"></span>
                    </button>
                {{/if}}
                {{#if isCart}}
                    <div class="btn cart isCart{{#if person.cart.length}} full{{/if}}">
                        <span class="icon icon-cart"></span>
                        <span class="icon icon-fillDiamond"></span>
                    </div>
                {{else}}
                    <a href="{{websiteAddress}}cart" class="btn cart{{#if person.cart.length}} full{{/if}}" title="Перейти в корзину с товарами">
                        <span class="icon icon-cart"></span>
                        <span class="icon icon-fillDiamond"></span>
                    </a>
                {{/if}}
            </div>
        </div>
        <div class="mobileNavBtn">
            <button class="btn js-openMobileQuickSearch">
                <span class="icon icon-search"></span>
            </button>
            <button class="btn burger openMobileMenu js-openMobileMenu"></button>
        </div>
    </div>
</header>

{{{body}}}

<footer class="contentContainer homeSection footer">
    <div class="navigation">
        {{#if isHome}}
            <div class="logo">
                <div class="imgContainer">
                    <img src="{{websiteAddress}}img/logo.svg" class="img" alt="Логотип Ice Games" title="Логотип Ice Games">
                    <span class="eye"></span>
                </div>
            </div>
        {{else}}
            <a class="logo" href="{{websiteAddress}}" title="Перейти на главную страницу">
                <div class="imgContainer">
                    <img src="{{websiteAddress}}img/logo.svg" class="img" alt="Логотип Ice Games" title="Логотип Ice Games">
                    <span class="eye"></span>
                </div>
            </a>
        {{/if}}
        <div class="social">
            <a href="#" rel="nofollow" class="link" title="Перейти на страницу Ice Games во Вконтакте">
                <img class="img" src="{{websiteAddress}}img/vkSocial.png" alt="Логотип вконтакте" title="Перейти на страницу Ice Games во Вконтакте">
            </a>
            <a href="#" rel="nofollow" class="link" title="Перейти на страницу Ice Games в TikTok">
                <img class="img" src="{{websiteAddress}}img/tiktokSocial.png" alt="Логотип TikTok" title="Перейти на страницу Ice Games в TikTok">
            </a>
            <a href="#" rel="nofollow" class="link" title="Перейти на страницу Ice Games в Instagram">
                <img class="img" src="{{websiteAddress}}img/instagramSocial.png" alt="Логотип Instagram" title="Перейти на страницу Ice Games в Instagram">
            </a>
            <a href="#" rel="nofollow" class="link" title="Перейти на страницу Ice Games в Twitch">
                <img class="img" src="{{websiteAddress}}img/twitchSocial.png" alt="Логотип Twitch" title="Перейти на страницу Ice Games в Twitch">
            </a>
            <a href="#" rel="nofollow" class="link" title="Перейти на страницу Ice Games в Twitter">
                <img class="img" src="{{websiteAddress}}img/twitterSocial.png" alt="Логотип Twitter" title="Перейти на страницу Ice Games в Twitter">
            </a>
            <a href="#" rel="nofollow" class="link" title="Перейти на страницу Ice Games в FaceBook">
                <img class="img" src="{{websiteAddress}}img/fbSocial.png" alt="Логотип FaceBook" title="Перейти на страницу Ice Games в FaceBook">
            </a>
        </div>
        <div class="menu">
            {{#if isCatalog}}
                <span class="link">Все игры</span>
            {{else}}
                <a href="{{websiteAddress}}games" class="link">Все игры</a>
            {{/if}}
            {{#if isSupport}}
                <span class="link">Поддержка</span>
            {{else}}
                <a href="{{websiteAddress}}support" class="link">Поддержка</a>
            {{/if}}
            {{#if isPayment}}
                <span class="link">Доставка и оплата</span>
            {{else}}
                <a href="{{websiteAddress}}payment" class="link">Оплата</a>
            {{/if}}
            {{#if isReviews}}
                <span class="link">Отзывы</span>
            {{else}}
                <a href="{{websiteAddress}}reviews" class="link">Отзывы</a>
            {{/if}}
            {{#if isAbout}}
                <span class="link">О магазине</span>
            {{else}}
                <a href="{{websiteAddress}}about" class="link">О нас</a>
            {{/if}}
            {{#if isBlog}}
                <span class="link">Блог</span>
            {{else}}
                <a href="{{websiteAddress}}blog" class="link">Блог</a>
            {{/if}}
            {{#if isDiscounts}}
                <span class="link">Скидки</span>
            {{else}}
                <a href="{{websiteAddress}}discounts" class="link">Скидки</a>
            {{/if}}
            {{#if isNovelty}}
                <span class="link">Новинки</span>
            {{else}}
                <a href="{{websiteAddress}}novelty" class="link">Новинки</a>
            {{/if}}
            {{#if isPreorders}}
                <span class="link">Предзаказы</span>
            {{else}}
                <a href="{{websiteAddress}}preorders" class="link">Предзаказы</a>
            {{/if}}
        </div>
    </div>
    <div class="info">
        <img class="payments" src="{{websiteAddress}}img/payments.png" alt="Способы оплаты" title="Способы оплаты">
        <a class="link legalInfo" href="#" title="Перейти на страницу правовой информации">Правовая информация</a>
        <a class="link designBy" href="#" rel="nofollow" title="Перейти на сайт студии" target="_blank">Дизайн: дизайн студия ган михаила</a>
    </div>
    <div class="copy">
        Все права защищены. Копирование любых материалов сайта запрещено! Все названия продуктов и игр,
        компаний и марок, логотипы, товарные знаки и другие материалы являются собственностью
        соответствующих владельцев. Только лицензионные ключи ко всем игровым платформам: Steam, Uplay,
        Battle.net, Origin и другие. Выгодно, надежно и быстро!
    </div>
</footer>
<script src="{{websiteAddress}}js/bundle.js"></script>
</body>
</html>