<main class="aboutPage">
    {{> breadcrumbs}}
    <div class="cover">
        <img class="img" src="{{websiteAddress}}img/aboutPageCover.png" loading="lazy" alt="Сборка топовых игр" title="Сборка топовых игр">
        <div class="textContent">
            <h1 class="title">ICE GAMES</h1>
            <p class="description">
                — это интернет-магазин лицензионных компьютерных игр.<br>Наша главная миссия — создать неразрывное активное
                комьюнити геймеров.
            </p>
        </div>
        <button class="btn rounded big bg-blue translucent js-scroller" data-target="aboutContent">Читать</button>
    </div>
    <div class="contentContainer js-aboutContent">
        <div class="rocket">
            <img class="img" src="{{websiteAddress}}img/aboutPage-rocket.png" loading="lazy" alt="Ракета" title="Ракета">
            <div class="content">
                <h2 class="title">Сегодня мы лучше, чем вчера.</h2>
                <p class="description">
                    Наш проект совершенствуется ежечасно: команда специалистов еженедельно собирает полный спектр данных,
                    формирует отчётность, обсуждает и дорабатывает выявленные слабые места.
                </p>
            </div>
        </div>
        <div class="history">
            <div class="infoBlock">
                <img class="img" src="{{websiteAddress}}img/aboutPage-friends.png" loading="lazy" alt="Два друга" title="Два друга">
                <div class="content">
                    <h2 class="title">История компании</h2>
                    <p class="description">
                        Идея создания сайта зародилась в 2020 году. Два друга, увлекающиеся компьютерными играми,
                        решили объединить начинающих игроков и уже заядлых геймеров в одном месте, чтобы помочь им
                        покупать игры дешевле. Проект начал разрабатываться незамедлительно.
                    </p>
                </div>
            </div>
            <div class="infoBlock">
                <img class="img" src="{{websiteAddress}}img/aboutPage-puzzle.png" loading="lazy" alt="Пазл, как символ преодоления трудностей" title="Пазл">
                <p class="description">
                    Уже тогда начались первые трудности. Технические недоработки, неверная структура сайта, нехватка
                    людей в команде… И как следствие — обманутые ожидания. Как видите, мы не сдались. Мы просто верили
                    в то, что комьюнити будет существовать.
                </p>
            </div>
            <div class="infoBlock">
                <img class="img" src="{{websiteAddress}}img/aboutPage-instruments.png" loading="lazy" alt="Отвертка и ключ" title="Отвертка и ключи">
                <p class="description">
                    Над проектом тогда старались более 5 человек, но чувствовалась серьёзная нехватка кадров. Первым
                    делом мы собрали команду людей, которые горели идеей также, как и те два парня в самом начале пути.
                    Вместе мы смогли выявить главные ошибки и даже временно остановили сайт, чтобы создать верную
                    структуру и подачу продукта, улучшить дизайн и устранить недоработки.
                </p>
            </div>
            <div class="infoBlock">
                <img class="img" src="{{websiteAddress}}img/aboutPage-tents.png" loading="lazy" alt="Палатки" title="Палатки">
                <p class="description">
                    Мы совершенствовали не только сайт, но и все социальные сети, чтобы комьюнити было максимально
                    крепким и неразрушимым. В итоге мы собрали команду более чем из 10 человек, которая постоянно
                    работает над продуктом, сайтом, сервисом и узнаваемостью.
                </p>
            </div>
        </div>
        <div class="Earth">
            <div class="content">
                <h2 class="title">Раз мы смогли сделать это за год, то совсем скоро о нас узнает весь мир.</h2>
                <p class="description">
                    Мы планируем выходить за рамки СНГ, создавать собственные сервера с облачным геймингом, вводить в
                    продажу скины для игр и многое другое.
                </p>
            </div>
            <div class="bgBlock">
                <img class="img" src="{{websiteAddress}}img/aboutPage-Earth.png" loading="lazy" alt="планета Земля" title="планета Земля">
            </div>
        </div>
        <div class="weMade">
            <h2 class="title">Что мы смогли создать для вас?</h2>
            <div class="list">
                <div class="item">
                    <span class="decorationIcon icon icon-triangle"></span>
                    <h3 class="title">Доступные цены круглый год</h3>
                    <p class="description">скидки меняются, но не заканчиваются</p>
                </div>
                <div class="item">
                    <span class="decorationIcon icon icon-triangle"></span>
                    <h3 class="title">Множество способов оплаты</h3>
                    <p class="description">
                        банковские карты: Visa, Mastercard, Maestro, Мир, American Express, JCB, Apple Pay и Google Pay,
                        ЮMoney, WebMoney, QIWI Кошелёк, оплата в терминалах и кассах, а также интернет-банки.
                    </p>
                </div>
                <div class="item">
                    <span class="decorationIcon icon icon-triangle"></span>
                    <h3 class="title">Широкий выбор игр</h3>
                    <p class="description">Более 2500 игр</p>
                </div>
                <div class="item">
                    <span class="decorationIcon icon icon-triangle"></span>
                    <h3 class="title">Быстрая доставка</h3>
                    <p class="description">вы получаете ключ мгновенно после оплаты </p>
                </div>
                <div class="item">
                    <span class="decorationIcon icon icon-triangle"></span>
                    <h3 class="title">Техническая поддержка</h3>
                    <p class="description">своевременная помощь на сайте и в группе ВКонтакте</p>
                </div>
                <div class="item">
                    <span class="decorationIcon icon icon-triangle"></span>
                    <h3 class="title">Активное комьюнити геймеров</h3>
                    <p class="description">
                        мы уже делаем контент и набираем подписчиков в ВКонтакте, ТикТок, Инстаграм и Twitch
                    </p>
                </div>
            </div>
        </div>
        <div class="companyValues">
            <div class="trianglePuzzleWrapper">
                <div class="trianglePuzzle">
                    <span class="icon icon-triangle"></span>
                    <span class="icon icon-triangle"></span>
                    <span class="icon icon-triangle"></span>
                    <span class="icon icon-triangle"></span>
                    <span class="icon icon-triangle"></span>
                    <span class="icon icon-triangle"></span>
                </div>
            </div>
            <h2 class="title">Ценности компании</h2>
            <div class="trianglePuzzleWrapper">
                <div class="trianglePuzzle">
                    <span class="icon icon-triangle"></span>
                </div>
            </div>
            <p class="description">Только твёрдая, полная, сравнительная информация</p>
            <div class="trianglePuzzleWrapper">
                <div class="trianglePuzzle">
                    <span class="icon icon-triangle"></span>
                    <span class="icon icon-triangle"></span>
                </div>
            </div>
            <p class="description">Качество — главное в нашем деле:<br>никакого посредственного отношения к работе.</p>
            <div class="trianglePuzzleWrapper">
                <div class="trianglePuzzle">
                    <span class="icon icon-triangle"></span>
                    <span class="icon icon-triangle"></span>
                    <span class="icon icon-triangle"></span>
                </div>
            </div>
            <p class="description">Важен поиск и использование любых возможностей.</p>
            <div class="trianglePuzzleWrapper">
                <div class="trianglePuzzle">
                    <span class="icon icon-triangle"></span>
                    <span class="icon icon-triangle"></span>
                    <span class="icon icon-triangle"></span>
                    <span class="icon icon-triangle"></span>
                </div>
            </div>
            <p class="description">Работа в команде даёт наилучший результат. </p>
            <div class="trianglePuzzleWrapper">
                <div class="trianglePuzzle">
                    <span class="icon icon-triangle"></span>
                    <span class="icon icon-triangle"></span>
                    <span class="icon icon-triangle"></span>
                    <span class="icon icon-triangle"></span>
                    <span class="icon icon-triangle"></span>
                </div>
            </div>
            <p class="description">Клиент превыше всего</p>
            <div class="trianglePuzzleWrapper">
                <div class="trianglePuzzle">
                    <span class="icon icon-triangle"></span>
                    <span class="icon icon-triangle"></span>
                    <span class="icon icon-triangle"></span>
                    <span class="icon icon-triangle"></span>
                    <span class="icon icon-triangle"></span>
                    <span class="icon icon-triangle"></span>
                </div>
            </div>
            <p class="description">Маниакальная страсть к мелочам</p>
        </div>
        <div class="quote">
            <q class="description">На плохом фундаменте неверных ценностей никогда не вырастет достойная компания.</q>
            <span class="decorationIcon icon icon-triangle"></span>
            <span class="decorationIcon icon icon-triangle"></span>
            <span class="decorationIcon icon icon-triangle"></span>
            <span class="decorationIcon icon icon-triangle"></span>
            <span class="decorationIcon icon icon-triangle"></span>
        </div>
        <div class="end">
            <p class="title">ICE GAMES же сделает всё необходимое для<br>достижения успеха</p>
            <img class="img" src="{{websiteAddress}}img/aboutPage-diamond.svg" loading="lazy" alt="Алмаз" title="Алмаз">
        </div>
    </div>
</main>
