<form action="/admin/activation-services/{{#if isEdit}}edit/{{activationService._id}}{{else}}add{{/if}}" method="post">
    <label>
        Название сервиса активации:
        <input type="text" name="name"{{#if isEdit}} value="{{activationService.name}}"{{/if}}>
    </label>
    <br>
    <br>
    <input type="submit" name="add" value="{{#if isEdit}}Сохранить изменения{{else}}Добавить{{/if}}">
</form>
{{#if isEdit}}
    {{#if activationService.stages.length}}
        <br>
        <ol>
            {{#each activationService.stages}}
                <li>
                    {{name}}
                </li>
            {{/each}}
        </ol>
    {{/if}}
    <br>
    <a href="/admin/activation-services/{{activationService._id}}/add-activation-stage">Добавить этап активации</a>
{{/if}}