{{#if isEdit}}
    <a href="/admin/articles/{{article.id}}/addBlock">Добавить контент-блок</a>
    <br>
    <br>
{{/if}}
<form method="post" action="/admin/articles/{{#if isEdit}}{{article.id}}{{else}}add{{/if}}" enctype="multipart/form-data">
    <label>
        Название записи:
        <input type="text" name="name"{{#if isEdit}} value="{{article.name}}"{{/if}}>
    </label>
    <br>
    <br>
    <label>
        Вступительный текст:
        <textarea name="introText" cols="30" rows="10">{{article.introText}}</textarea>
    </label>
    <br>
    <br>
    <label>
        Meta-description:
        <textarea name="metaDescription" cols="30" rows="10">{{article.metaDescription}}</textarea>
    </label>
    <br>
    <br>
    <label>
        Cover изображение:
        <input type="file" name="coverImg">
    </label>
    <br>
    <br>
    {{#if article.coverImg}}
        <img src="{{websiteAddress}}{{article.coverImg}}" style="max-width: 300px">
    {{/if}}
    <br>
    <br>
    <label>
        Картинка:
        <input type="file" name="img">
    </label>
    <br>
    <br>
    {{#if article.img}}
        <img src="{{websiteAddress}}{{article.img}}" style="max-width: 300px">
    {{/if}}
    <br>
    <br>
    <label>
        Картинка справа:
        <input type="checkbox" name="rightImg" {{#if article.rightImg}}checked{{/if}}>
    </label>
    <br>
    <br>
    <label>
        Цвет блока:
        <input type="color" name="blockColor"{{#if isEdit}} value="{{article.blockColor}}"{{/if}}>
    </label>
    <br>
    <br>
    <label>
        Тип:
        <select name="type">
            <option value="article" {{#iff article.type '===' 'article'}}selected{{/iff}}>Статья</option>
            <option value="news" {{#iff article.type '===' 'news'}}selected{{/iff}}>Новость</option>
        </select>
    </label>
    <br>
    <br>
    <label>
        Закрепить в шапке:
        <input type="checkbox" name="fixed" {{#if article.fixed}}checked{{/if}}>
    </label>
    <br>
    <br>
    <label>
        Активна:
        <input type="checkbox" name="active" {{#if article.active}}checked{{/if}}>
    </label>
    <br>
    <br>
    <label>
        Прикрепленные игры:
        <select name="products" multiple>
            {{#each products}}
                <option value="{{id}}" {{#if selected}}selected{{/if}}>
                    {{name}}
                </option>
            {{/each}}
        </select>
    </label>
    <br>
    <br>
    <input type="submit" name="add" value="{{#if isEdit}}Сохранить изменения{{else}}Добавить{{/if}}">
</form>
{{#if isEdit}}
    <br>
    Контент-блоки:
    {{#if article.blocks.length}}
        <ul>
            {{#each article.blocks}}
                <li>
                    {{text}}
                </li>
            {{/each}}
        </ul>
    {{else}}
        Отсутствуют
    {{/if}}
{{/if}}