<form method="post" action="/admin/genres/{{#if isEdit}}edit/{{genre.id}}{{else}}add{{/if}}" enctype="multipart/form-data">
    <label>
        *Название:
        <input type="text" name="name"{{#if genre.name}} value="{{genre.name}}"{{/if}}>
    </label>
    <br>
    <br>
    <label>
        *Алиас (название на английском маленькими буквами, без пробелов, слова делятся коротким дефисом. Например: activation-name):
        <input type="text" name="alias"{{#if genre.alias}} value="{{genre.alias}}"{{/if}}>
    </label>
    <br>
    <br>
    <label>
        *Изображение:
        <input type="file" name="img">
    </label>
    {{#if genre.img}}
        <br>
        <br>
        <img src="{{websiteAddress}}{{genre.img}}" style="max-width: 300px">
    {{/if}}
    <br>
    <br>
    <label>
        *Цвет фона:
        <input type="text" name="bgColor"{{#if genre.bgColor}} value="{{genre.bgColor}}"{{/if}}>
    </label>
    <br>
    <br>
    <label>
        Порядок:
        <input type="number" name="order"{{#if genre.order}} value="{{genre.order}}"{{/if}}>
    </label>
    <br>
    <br>
    <input type="submit" name="add" value="{{#if isEdit}}Сохранить изменения{{else}}Добавить{{/if}}">
</form>



