<form method="post" action="/admin/genshin/{{#if isEdit}}edit/{{genshin._id}}{{else}}add{{/if}}">
	<label>
		Продукт в Genshin:
		<select name="product" required>
			<option {{#unless genshin.productID}} selected{{/unless}}>Выберите продукт</option>
			{{#each genshin.products}}
				<option value="{{this.id}}" {{#if genshin.productID}} selected{{/if}}>{{this.name}}</option>
				<li>{{@index}}: {{this}}</li>
			{{/each}}
		</select>
	</label>
	<br>
	<br>
	<label>
        Название продукта на странице пополнения:
        <input type="text" name="name"{{#if genshin.name}} value="{{genshin.name}}"{{/if}} required>
    </label>
    <br>
    <br>
    <label>
        Стоимость
        <input type="number" name="price"{{#if genshin.price}} value="{{genshin.price}}"{{/if}} required>
    </label>
    <br>
    <br>
    <input type="submit" name="add" value="{{#if isEdit}}Сохранить{{else}}Добавить{{/if}}">
</form>
