<form action="/admin/keys/{{#if is_edit}}edit/{{key._id}}{{else}}add{{/if}}" method="post">
    {{#if is_edit}}
        <label>
            Введите ключ:
            <input type="text" name="key" id="" value="{{key.key}}">
        </label>
    {{else}}
        <label>
            Введите ключи (каждый ключ с новой строки - через Enter):
            <br>
            <textarea name="keys" cols="50" rows="15"></textarea>
        </label>
    {{/if}}
    <br>
    <br>
    <label>
        Выберите игру:
        <select name="productId">
            {{#each products}}
                <option value="{{_id}}" {{#iff @root.key.product '===' _id}} selected{{/iff}}>
                    {{name}}
                </option>
            {{/each}}
        </select>
    </label>
    <br>
    <br>
    <label>
        Срок действия:
        <input type="date" {{#if is_edit}}value="{{expired}}"{{/if}} name="expired" id="">
    </label>
    <br>
    <br>
    <label>
        Цена закупки:
        <input type="number" name="purchasePrice" value="{{key.purchasePrice}}">
    </label>
    <br>
    <br>
    <label>
        Активен:
        <input {{#if is_edit}}{{#if key.is_active}}checked{{/if}}{{else}}checked{{/if}} type="checkbox" name="is_active">
    </label>
    {{#if is_edit}}
        <input type="checkbox" name="is_edit" checked id="" hidden>
    {{/if}}
    <br>
    <br>
    <input type="submit" name="add" value="{{#if is_edit}}Сохранить{{else}}Добавить{{/if}}">
</form>