<form action="/admin/keys/{{#if isEdit}}edit/{{key._id}}{{else}}add{{/if}}" method="post">
    {{#if isEdit}}
        <label>
            Введите ключ:
            <input type="text" name="key"{{#if key.value}} value="{{key.value}}{{/if}}" disabled>
        </label>
    {{else}}
        <label>
            Введите ключи (каждый ключ с новой строки - через Enter):
            <br>
            <textarea name="keys" cols="50" rows="15"></textarea>
        </label>
    {{/if}}
    <br>
    <br>
    <label>
        Выберите игру:
        <select name="productId">
            {{#each products}}
                <option value="{{_id}}"{{#iff @root.key.product '===' _id}} selected{{/iff}}>
                    {{name}}
                </option>
            {{/each}}
        </select>
    </label>
    <br>
    <br>
    <label>
        Срок действия:
        <input type="date" name="expired"{{#if key.expired}} value="{{key.expired}}"{{/if}}>
    </label>
    <br>
    <br>
    <label>
        Цена закупки:
        <input type="number" name="purchasePrice"{{#if key.purchasePrice}} value="{{key.purchasePrice}}{{/if}}">
    </label>
    <br>
    <br>
    <label>
        Активен:
        <input type="checkbox" name="isActive"{{#unless isEdit}} checked{{/unless}}{{#if key.isActive}} checked{{/if}}>
    </label>
    {{#if isEdit}}
        <label>
            Причина деактивации:
            <br>
            <textarea name="deactivationReason" cols="50" rows="15"></textarea>
        </label>
    {{/if}}
    <br>
    <br>
    <input type="submit" name="add" value="{{#if isEdit}}Сохранить{{else}}Добавить{{/if}}">
</form>