{{#if isEdit}}
    <a href="/admin/products/{{product.id}}/addElement">Добавить элемент</a>
    {{#if productElements}}
        <br>
        <br>
        Список элементов игры:
        <ul>
            {{#each productElements}}
                <li>
                    <a href="/admin/products/{{@root.product.id}}/{{id}}">
                        {{name}}
                    </a>
                    {{#if productId}}
                        --- <a href="/admin/products/edit/{{productId}}">Перейти к игре</a>
                    {{else}}
                        {{#if description}}
                            <p>
                                {{description}}
                            </p>
                        {{/if}}
                    {{/if}}
                    <br>
                    <br>
                </li>
            {{/each}}
        </ul>
    {{/if}}
    <br>
    <br>
{{/if}}
<form method="post" action="/admin/products/{{#if isEdit}}edit/{{product.id}}{{else}}add{{/if}}" enctype="multipart/form-data">
    <label>
        В наличии:
        <input type="checkbox" name="inStock"{{#if product.inStock}} checked{{/if}}>
    </label>
    <br>
    <br>
    <label>
        Название:
        <input type="text" name="name" value="{{product.name}}">
    </label>
    <br>
    <br>
    <label>
        Meta-description:
        <textarea name="metaDescription" cols="30" rows="10">{{product.metaDescription}}</textarea>
    </label>
    <br>
    <br>
    <label>
        Id на Digiseller:
        <input type="number" name="dsId" value="{{product.dsId}}">
    </label>
    <br>
    <br>
    <label>
        Описание:
        <textarea name="description" cols="30" rows="10">{{product.description}}</textarea>
    </label>
    <br>
    <br>
    <label>
        Цена со скидкой:
        <input type="number" name="priceTo" value="{{product.priceTo}}">
    </label>
    <br>
    <br>
    <label>
        Цена без скидки:
        <input type="number" name="priceFrom" value="{{product.priceFrom}}">
    </label>
    <br>
    <br>
    <label>
        Изображение:
        <input type="file" name="img">
    </label>
    <br>
    <br>
    {{#if product.img}}
        <img src="{{websiteAddress}}{{product.img}}" style="max-width: 300px">
    {{/if}}
    <br>
    <br>
    <label>
        Cover изображение:
        <input type="file" name="coverImg">
    </label>
    <br>
    <br>
    {{#if product.coverImg}}
        <img src="{{websiteAddress}}{{product.coverImg}}" style="max-width: 300px">
    {{/if}}
    <br>
    <br>
    <label>
        Cover видео:
        <input type="file" name="coverVideo">
    </label>
    <br>
    <br>
    {{#if product.coverVideo}}
        <video width="300" controls="controls" poster="{{websiteAddress}}{{product.coverImg}}">
            <source src="{{websiteAddress}}{{product.coverVideo}}">
        </video>
    {{/if}}
    <br>
    <br>
    <label>
        Изображения слайдера:
        <input type="file" name="gameImages" multiple>
    </label>
    <br>
    <br>
    {{#if gameImages}}
        <div style="display: flex; flex-wrap: wrap">
            {{#each gameImages}}
                <img src="{{@root.websiteAddress}}{{name}}" alt="Изображение{{@index}} из игры {{../game.name}}" style="height: 200px; max-width: 300px; margin: 5px; object-fit: cover">
            {{/each}}
        </div>
    {{/if}}
    <br>
    <br>
    <label>
        Ссылка на трейлер в YouTube:
        <input type="text" name="trailerLink"{{#if product.trailerLink}} value="{{product.trailerLink}}"{{/if}}>
    </label>
    <br>
    <br>
    <label>
        Добавить в слайдер на главной странице:
        <input type="checkbox" name="inHomeSlider"{{#if product.inHomeSlider}} checked{{/if}}>
    </label>
    <br>
    <br>
    <label>
        DLC:
        <input type="checkbox" name="dlc"{{#if product.dlc}} checked{{/if}}>
    </label>
    <br>
    <br>
    <label>
        DLC для бесплатной игры:
        <input type="checkbox" name="dlcForFree"{{#if product.dlcForFree}} checked{{/if}}>
    </label>
    <br>
    <br>
    <label>
        Название игры, если ее нет на сайте, к которой относится это DLC:
        <input type="text" name="dlcForName"{{#if product.dlcForName}} value="{{product.dlcForName}}"{{/if}}>
    </label>
    <br>
    <br>
    <label>
        Игра с сайта, к которой относится это DLC:
        <select name="dlcForId">
            <option value="0">Не выбрано</option>
            {{#each products}}
                <option value="{{id}}" {{#if selected}}selected{{/if}}>
                    {{name}}
                </option>
            {{/each}}
        </select>
    </label>
    <br>
    <br>
    <label>
        Предзаказ:
        <input type="checkbox" name="preOrder"{{#if product.preOrder}} checked{{/if}}>
    </label>
    <br>
    <br>
    <label>
        Дата выхода:
        <input type="date" name="releaseDate" value="{{product.hyphenReleaseDate}}">
    </label>
    <br>
    <br>
    <label>
        ОС:
        <input type="text" name="os" value="{{product.os}}">
    </label>
    <br>
    <br>
    <label>
        Процессор:
        <input type="text" name="cpu" value="{{product.cpu}}">
    </label>
    <br>
    <br>
    <label>
        Видео карта:
        <input type="text" name="graphicsCard" value="{{product.graphicsCard}}">
    </label>
    <br>
    <br>
    <label>
        Оперативная память:
        <input type="text" name="ram" value="{{product.ram}}">
    </label>
    <br>
    <br>
    <label>
        Память на диске:
        <input type="text" name="diskMemory" value="{{product.diskMemory}}">
    </label>
    <br>
    <br>
    <label>
        Категории игры:
        <select name="categories" multiple>
            {{#each categories}}
                <option value="{{id}}" {{#if selected}}selected{{/if}}>
                    {{name}}
                </option>
            {{/each}}
        </select>
    </label>
    <br>
    <br>
    <label>
        Жанры игры:
        <select name="genres" multiple>
            {{#each genres}}
                <option value="{{id}}" {{#if selected}}selected{{/if}}>
                    {{name}}
                </option>
            {{/each}}
        </select>
    </label>
    <br>
    <br>
    <label>
        Расширения игры:
        <select name="gameExtends" multiple>
            {{#each extends}}
                <option value="{{id}}" {{#if selected}}selected{{/if}}>
                    {{name}}
                </option>
            {{/each}}
        </select>
    </label>
    <br>
    <br>
    <label>
        Языки игры:
        <select name="languages" multiple>
            {{#each languages}}
                <option value="{{id}}" {{#if selected}}selected{{/if}}>
                    {{name}}
                </option>
            {{/each}}
        </select>
    </label>
    <br>
    <br>
    <label>
        Регионы активации:
        <select name="activationRegions" multiple>
            {{#each activationRegions}}
                <option value="{{id}}" {{#if selected}}selected{{/if}}>
                    {{name}}
                </option>
            {{/each}}
        </select>
    </label>
    <br>
    <br>
    <label>
        Разработчики:
        <select name="developers" multiple>
            {{#each developers}}
                <option value="{{id}}" {{#if selected}}selected{{/if}}>
                    {{name}}
                </option>
            {{/each}}
        </select>
    </label>
    <br>
    <br>
    <label>
        Игра серии:
        <select name="series">
            <option value="0">Не выбрано</option>
            {{#each series}}
                <option value="{{id}}" {{#if selected}}selected{{/if}}>
                    {{name}}
                </option>
            {{/each}}
        </select>
    </label>
    <br>
    <br>
    <label>
        Издатель:
        <select name="publisher">
            {{#each publishers}}
                <option value="{{id}}" {{#if selected}}selected{{/if}}>
                    {{name}}
                </option>
            {{/each}}
        </select>
    </label>
    <br>
    <br>
    <label>
        Сервис активации:
        <select name="activationService">
            {{#each activationServices}}
                <option value="{{id}}" {{#if selected}}selected{{/if}}>
                    {{name}}
                </option>
            {{/each}}
        </select>
    </label>
    <br>
    <br>
    <label>
        Платформа:
        <select name="platform">
            {{#each platforms}}
                <option value="{{id}}" {{#if selected}}selected{{/if}}>
                    {{name}}
                </option>
            {{/each}}
        </select>
    </label>
    <br>
    <br>
    <input type="submit" name="add" value="{{#if isEdit}}Сохранить изменения{{else}}Добавить игру{{/if}}">
</form>