{{#iff person.role '===' 'admin'}}
    {{#if isEdit}}
        {{#unless product.active}}
            <a href="/admin/products/{{product.id}}/parse-by-steam-buy">Спарсить данные со стимбая</a>
        {{/unless}}
        <br>
        <br>
        Состав набора:
        {{#if product.elements}}
            <ul>
                {{#each product.elements}}
                    <li style="margin-bottom: 10px">
                        {{#if productId}}
                            <a href="/admin/products/edit/{{productId._id}}">{{productId.name}}</a>
                        {{else}}
                            <b>Название:</b> {{name}}
                            <p><b>Описание:</b> {{description}}</p>
                        {{/if}}
                        <form action="/admin/products/{{@root.product._id}}/deleteElement/{{_id}}" method="post" style="display: inline-block">
                            <input type="submit" value="Удалить">
                        </form>
                    </li>
                {{/each}}
            </ul>
        {{else}}
            Элементы отсутствуют
            <br>
        {{/if}}
        <a href="/admin/products/{{product.id}}/addElement">Добавить элемент</a>
        <br>
        <a href="/admin/products/{{product.id}}/addElements">Добавить несколько элементов</a>
        <br>
        <br>
    {{/if}}
{{/iff}}
<form method="post" action="/admin/products/{{#if isEdit}}edit/{{product.id}}{{else}}add{{/if}}" enctype="multipart/form-data">
    <label>
        Название*:
        <input type="text" name="name" {{#iff person.role '!==' 'admin'}} readonly{{/iff}} value="{{product.name}}">
    </label>
    <br>
    <br>
    <label>
        Иные вариации имени, через пробел:
        <input type="text" name="shortNames" {{#iff person.role '!==' 'admin'}} readonly{{/iff}} value="{{product.shortNames}}">
    </label>
    <br>
    <br>
    <label>
        Шаблон H1 (Допустимые параметры: name, activationService, price, discount, genres):
        <br>
        <textarea name="sampleH1" cols="30" rows="10" placeholder="Купить {name} с активацией в {activationService}">{{product.sampleH1}}</textarea>
    </label>
    <br>
    <br>
    <label>
        Шаблон title (Допустимые параметры: name, activationService, price, discount, genres):
        <br>
        <textarea name="sampleTitle" cols="30" rows="10" placeholder="Шаблон заголовка для игры {name} с активацией в {activationService}">{{product.sampleTitle}}</textarea>
    </label>
    <br>
    <br>
    <label>
        Шаблон meta-description (Допустимые параметры: name, activationService, price, discount, genres):
        <br>
        <textarea name="sampleMetaDescription" cols="30" rows="10" placeholder="Шаблон мета описания для игры {name} с активацией в {activationService}">{{product.sampleMetaDescription}}</textarea>
    </label>
    <br>
    <br>
    <label>
        Описание*:
        <textarea name="description" cols="30" rows="10">{{product.description}}</textarea>
    </label>
    <br>
    <br>
    <label>
        Id на Digiseller:
        <input type="number" name="dsId" value="{{product.dsId}}"{{#iff person.role '!==' 'admin'}} readonly{{/iff}}>
    </label>
    <br>
    <br>
    <label>
        Цена со скидкой*:
        <input type="number" name="priceTo" value="{{product.priceTo}}"{{#iff person.role '!==' 'admin'}} readonly{{/iff}}>
    </label>
    <br>
    <br>
    <label>
        Цена без скидки*:
        <input type="number" name="priceFrom" value="{{product.priceFrom}}"{{#iff person.role '!==' 'admin'}} readonly{{/iff}}>
    </label>
    <br>
    <br>
    <label>
        Изображение*:
        <input type="file" name="img"{{#iff person.role '!==' 'admin'}} disabled{{/iff}}>
    </label>
    <br>
    <br>
    {{#if product.img}}
        <img src="{{websiteAddress}}{{product.img}}" style="max-width: 300px">
    {{/if}}
    <br>
    <br>
    <label>
        Cover изображение*:
        <input type="file" name="coverImg"{{#iff person.role '!==' 'admin'}} disabled{{/iff}}>
    </label>
    <br>
    <br>
    {{#if product.coverImg}}
        <img src="{{websiteAddress}}{{product.coverImg}}" style="max-width: 300px">
    {{/if}}
    <br>
    <br>
    <label>
        Cover видео:
        <input type="file" name="coverVideo"{{#iff person.role '!==' 'admin'}} disabled{{/iff}}>
    </label>
    <br>
    <br>
    {{#if product.coverVideo}}
        <video width="300" controls="controls" poster="{{websiteAddress}}{{product.coverImg}}">
            <source src="{{websiteAddress}}{{product.coverVideo}}">
        </video>
    {{/if}}
    <br>
    <br>
    <label>
        Изображения слайдера*:
        <input type="file" name="gameImages" multiple{{#iff person.role '!==' 'admin'}} disabled{{/iff}}>
    </label>
    <br>
    <br>
    {{#if gameImages}}
        <div style="display: flex; flex-wrap: wrap">
            {{#each gameImages}}
                <img src="{{@root.websiteAddress}}{{name}}" alt="Изображение{{@index}} из игры {{../game.name}}" style="height: 200px; max-width: 300px; margin: 5px; object-fit: cover">
            {{/each}}
        </div>
    {{/if}}
    <br>
    <br>
    <label>
        Ссылка на трейлер в YouTube:
        <input type="text" name="trailerLink"{{#if product.trailerLink}} value="{{product.trailerLink}}"{{/if}}{{#iff person.role '!==' 'admin'}} readonly{{/iff}}>
    </label>
    <br>
    {{#if product.trailerLink}}
        <a href="{{product.trailerLink}}" target="_blank">Открыть трейлер на YouTube</a>
    {{/if}}
    <br>
    <br>
    <label>
        DLC:
        <input type="checkbox" name="dlc"{{#if product.dlc}} checked{{/if}}>
    </label>
    <br>
    <br>
    <label>
        DLC для бесплатной игры:
        <input type="checkbox" name="dlcForFree"{{#if product.dlcForFree}} checked{{/if}}>
    </label>
    <br>
    <br>
    <label>
        Название игры, если ее нет на сайте, к которой относится это DLC:
        <input type="text" name="dlcForName"{{#if product.dlcForName}} value="{{product.dlcForName}}"{{/if}}{{#iff person.role '!==' 'admin'}} readonly{{/iff}}>
    </label>
    <br>
    <br>
    <label>
        Игра с сайта, к которой относится это DLC:
        <select name="dlcForId"{{#iff person.role '!==' 'admin'}} disabled{{/iff}}>
            <option value="0">Не выбрано</option>
            {{#each products}}
                <option value="{{id}}" {{#if selected}}selected{{/if}}>
                    {{name}}
                </option>
            {{/each}}
        </select>
    </label>
    <br>
    <br>
    <label>
        Предзаказ:
        <input type="checkbox" name="preOrder"{{#if product.preOrder}} checked{{/if}}>
    </label>
    <br>
    <br>
    <label>
        Дата выхода*:
        <input type="date" name="releaseDate" value="{{product.hyphenReleaseDate}}"{{#iff person.role '!==' 'admin'}} readonly{{/iff}}>
    </label>
    <br>
    <br>
    <label>
        ОС:
        <input type="text" name="os" value="{{product.os}}"{{#iff person.role '!==' 'admin'}} readonly{{/iff}}>
    </label>
    <br>
    <br>
    <label>
        Процессор:
        <input type="text" name="cpu" value="{{product.cpu}}"{{#iff person.role '!==' 'admin'}} readonly{{/iff}}>
    </label>
    <br>
    <br>
    <label>
        Видео карта:
        <input type="text" name="graphicsCard" value="{{product.graphicsCard}}"{{#iff person.role '!==' 'admin'}} readonly{{/iff}}>
    </label>
    <br>
    <br>
    <label>
        Оперативная память:
        <input type="text" name="ram" value="{{product.ram}}"{{#iff person.role '!==' 'admin'}} readonly{{/iff}}>
    </label>
    <br>
    <br>
    <label>
        Память на диске:
        <input type="text" name="diskMemory" value="{{product.diskMemory}}"{{#iff person.role '!==' 'admin'}} readonly{{/iff}}>
    </label>
    <br>
    <br>
    <label>
        Рукомендованная ОС:
        <input type="text" name="recOs" value="{{product.recOs}}"{{#iff person.role '!==' 'admin'}} readonly{{/iff}}>
    </label>
    <br>
    <br>
    <label>
        Рекомендованный процессор:
        <input type="text" name="recCpu" value="{{product.recCpu}}"{{#iff person.role '!==' 'admin'}} readonly{{/iff}}>
    </label>
    <br>
    <br>
    <label>
        Рекомендуемая видео карта:
        <input type="text" name="recGraphicsCard" value="{{product.recGraphicsCard}}"{{#iff person.role '!==' 'admin'}} readonly{{/iff}}>
    </label>
    <br>
    <br>
    <label>
        Рекомендуемая оперативная память:
        <input type="text" name="recRam" value="{{product.recRam}}"{{#iff person.role '!==' 'admin'}} readonly{{/iff}}>
    </label>
    <br>
    <br>
    <label>
        Рекомендуемая память на диске:
        <input type="text" name="recDiskMemory" value="{{product.recDiskMemory}}"{{#iff person.role '!==' 'admin'}} readonly{{/iff}}>
    </label>
    <br>
    <br>
    <label>
        Языки игры*:
        <input type="text" name="languages" value="{{product.languages}}"{{#iff person.role '!==' 'admin'}} readonly{{/iff}}>
    </label>
    <br>
    <br>
    <label>
        Рекомендуемые товары:
        <select name="recommends" multiple>
            {{#each recProducts}}
                <option value="{{id}}" {{#if selected}}selected{{/if}}>
                    {{name}}
                </option>
            {{/each}}
        </select>
    </label>
    <br>
    <br>
    <label>
        Категории игры:
        <select name="categories" multiple>
            {{#each categories}}
                <option value="{{id}}" {{#if selected}}selected{{/if}}>
                    {{name}}
                </option>
            {{/each}}
        </select>
    </label>
    <br>
    <br>
    <label>
        Жанры игры*:
        <select name="genres" multiple{{#iff person.role '!==' 'admin'}} disabled{{/iff}}>
            {{#each genres}}
                <option value="{{id}}" {{#if selected}}selected{{/if}}>
                    {{name}}
                </option>
            {{/each}}
        </select>
    </label>
    <br>
    <br>
    <label>
        Расширения игры*:
        <select name="gameExtends" multiple{{#iff person.role '!==' 'admin'}} disabled{{/iff}}>
            {{#each extends}}
                <option value="{{id}}" {{#if selected}}selected{{/if}}>
                    {{name}}
                </option>
            {{/each}}
        </select>
    </label>
    <br>
    <br>
    <label>
        Регионы активации*:
        <select name="activationRegions" multiple{{#iff person.role '!==' 'admin'}} disabled{{/iff}}>
            {{#each activationRegions}}
                <option value="{{id}}" {{#if selected}}selected{{/if}}>
                    {{name}}
                </option>
            {{/each}}
        </select>
    </label>
    <br>
    <br>
    <label>
        Игра серии:
        <select name="series">
            <option value="0">Не выбрано</option>
            {{#each series}}
                <option value="{{id}}" {{#if selected}}selected{{/if}}>
                    {{name}}
                </option>
            {{/each}}
        </select>
    </label>
    <br>
    <br>
    <label>
        Связка игры:
        <select name="bundle">
            <option value="0">Не выбрано</option>
            {{#each bundles}}
                <option value="{{id}}" {{#if selected}}selected{{/if}}>
                    {{name}}
                </option>
            {{/each}}
        </select>
    </label>
    <br>
    <br>
    <label>
        Версия игры:
        <select name="edition">
            <option value="0">Не выбрано</option>
            {{#each editions}}
                <option value="{{id}}" {{#if selected}}selected{{/if}}>
                    {{name}}
                </option>
            {{/each}}
        </select>
    </label>
    <br>
    <br>
    <label>
        Издатель*:
        <select name="publisher"{{#iff person.role '!==' 'admin'}} disabled{{/iff}}>
            {{#each publishers}}
                <option value="{{id}}" {{#if selected}}selected{{/if}}>
                    {{name}}
                </option>
            {{/each}}
        </select>
    </label>
    <br>
    <br>
    <label>
        Сервис активации*:
        <select name="activationService"{{#iff person.role '!==' 'admin'}} disabled{{/iff}}>
            {{#each activationServices}}
                <option value="{{id}}" {{#if selected}}selected{{/if}}>
                    {{name}}
                </option>
            {{/each}}
        </select>
    </label>
    <br>
    <br>
    <label>
        Платформа*:
        <select name="platform"{{#iff person.role '!==' 'admin'}} disabled{{/iff}}>
            {{#each platforms}}
                <option value="{{id}}" {{#if selected}}selected{{/if}}>
                    {{name}}
                </option>
            {{/each}}
        </select>
    </label>
    <br>
    <br>
    <label>
        В наличии:
        <input type="checkbox" name="inStock"{{#if product.inStock}} checked{{/if}}>
    </label>
    <br>
    <br>
    <label>
        Добавить в слайдер на главной странице:
        <input type="checkbox" name="inHomeSlider"{{#if product.inHomeSlider}} checked{{/if}}>
    </label>
    <br>
    <br>
    <label>
        Топ:
        <input type="checkbox" name="top"{{#if product.top}} checked{{/if}}>
    </label>
    <br>
    <br>
    <label>
        Активна:
        <input type="checkbox" name="active"{{#if product.active}} checked{{/if}}>
    </label>
    <br>
    <br>
    <input type="submit" name="add" value="{{#if isEdit}}Сохранить изменения{{else}}Добавить игру{{/if}}">
</form>