<form method="post" action="/admin/bunches/{{bunchId}}/{{#if isEdit}}{{game.id}}{{else}}addProduct{{/if}}">
    {{#if isEdit}}
        Игры в связке: {{game.name}}
    {{else}}
        <label>
            Выберите игру:
            <select name="gameId">
                {{#each games}}
                    <option value="{{id}}" {{#if selected}}selected{{/if}}>
                        {{name}}
                    </option>
                {{/each}}
            </select>
        </label>
    {{/if}}
    <br>
    <br>
    <label>
        Укажите порядок (при необходимости):
        <input type="number" name="orderInBundle"{{#if isEdit}} value="{{game.orderInBundle}}"{{/if}}>
    </label>
    <br>
    <br>
    <label>
        Исходная игры связки:
        <input type="checkbox" name="isOriginalInBundle"{{#if game.isOriginalInBundle}} checked{{/if}} {{#if game.isOriginalInBundle}} disabled{{/if}}>
    </label>
    <br>
    <br>
    <input type="submit" name="add" value="{{#if isEdit}}Сохранить изменения{{else}}Добавить{{/if}}">
</form>