{{#if isEdit}}
    {{#if selection.products.length}}
        <h3>Товары подборки</h3>
        <ul>
            {{#each selection.products}}
                <li>
                    <form action="/admin/selections/{{ @root.selection._id }}/deleteItem/{{ _id }}" style="display: inline-block" method="post">
                        <input type="submit" value="X">
                    </form>
                    <a href="/admin/selections/{{ @root.selection._id }}/editItem/{{ _id }}">{{ name }}</a>
                </li>
            {{/each}}
        </ul>
    {{/if}}
    <a href="/admin/selections/{{ selection._id }}/addItem">Добавить товар в подборку</a>
    <br>
    <br>
    <br>
{{/if}}
<form action="/admin/selections/{{#if isEdit}}edit/{{selection._id}}{{else}}add{{/if}}" method="post" enctype="multipart/form-data">
    <label>
        *Название:
        <input type="text" name="name"{{#if selection.name}} value="{{ selection.name }}"{{/if}}>
    </label>
    <br>
    <br>
    <label>
        *Alias:
        <input type="text" name="alias"{{#if selection.alias}} value="{{ selection.alias }}"{{/if}}>
    </label>
    <br>
    <br>
    <label>
        {{#unless isEdit}}*{{/unless}}Cover изображение:
        <input type="file" name="coverImg">
    </label>
    <br>
    <br>
    {{#if selection.coverImg}}
        <img src="{{websiteAddress}}{{selection.coverImg}}" loading="lazy" alt="Картинка подборки">
        <br>
        <br>
    {{/if}}
    <br>
    <br>
    <label>
        {{#unless isEdit}}*{{/unless}}Картинка:
        <input type="file" name="img">
    </label>
    <br>
    <br>
    {{#if selection.img}}
        <img src="{{websiteAddress}}{{selection.img}}" loading="lazy" alt="Картинка подборки">
        <br>
        <br>
    {{/if}}
    <label>
        *Описание:
        <br>
        <textarea name="description" cols="50" rows="15">{{ selection.description }}</textarea>
    </label>
    <br>
    <br>
    <label>
        На главную:
        <input type="checkbox" name="inHome"{{#if selection.inHome}} checked{{/if}}>
    </label>
    <br>
    <br>
    <label>
        Наш выбор:
        <input type="checkbox" name="ourChoice"{{#if selection.ourChoice}} checked{{/if}}>
    </label>
    <br>
    <br>
    <input type="submit" name="add" value="{{#if isEdit}}Сохранить{{else}}Добавить{{/if}}">
</form>
