<a href="/admin/products/add/">Добавить товар</a>

<table>
    <tr>
        <th>Не активные</th>
        <th>Имеют дубли</th>
        <th>Активные</th>
        <th>ТОП</th>
    </tr>
    <tr style="vertical-align: top">
        <td>
            <ul>
                {{#each other}}
                    <li>
                        <a href="/admin/products/edit/{{_id}}">{{name}} - {{dsId}}</a>
                    </li>
                {{/each}}
            </ul>
        </td>
        <td>
            <ul>
                {{#each doubles}}
                    <li>
                       {{this}}
                    </li>
                {{/each}}
            </ul>
        </td>
        <td>
            <ul>
                {{#each active}}
                    <li>
                        <a href="/admin/products/edit/{{_id}}">{{name}} - {{dsId}}</a>
                    </li>
                {{/each}}
            </ul>
        </td>
        <td>
            <ul>
                {{#each top}}
                    <li>
                        <a href="/admin/products/edit/{{_id}}">{{name}} - {{dsId}}{{#if active}}<span style="color: red"> *</span>{{/if}}</a>
                    </li>
                {{/each}}
            </ul>
        </td>
    </tr>
</table>