<style>
    table tr {
        vertical-align: center; text-align: center
    }

    table tr:hover {
        background-color: #ededed;
        cursor: pointer;
    }

    table tr th {
        padding: 10px;
        border-bottom: 2px solid #d7d7d7;
    }

    table tr th:not(:first-child) {
        border-left: 1px solid #d7d7d7
    }

    table tr th:not(:last-child) {
        border-right: 1px solid #d7d7d7
    }

    table tr td {
        padding: 5px 10px;
        border-bottom: 2px solid #d7d7d7;
    }

    table tr td:not(:first-child) {
        border-left: 1px solid #d7d7d7
    }

    table tr td:not(:last-child) {
        border-right: 1px solid #d7d7d7
    }
</style>

<table cellpadding="0" cellspacing="0">
    <tr>
        <th>E-mail</th>
        <th>Общее количество покупок</th>
        <th>Количество покупок за последние 30 дней</th>
        <th>Дата последней покупки</th>
        <th>Выручка</th>
        <th>Средний чек</th>
    </tr>
    {{#each rows}}
        <tr>
            <td>{{email}}</td>
            <td>{{totalSales}}</td>
            <td>{{countLastSales}}</td>
            <td>{{lastSaleDate}}</td>
            <td>{{revenue}}</td>
            <td>{{averageCheck}}</td>
        </tr>
    {{/each}}
</table>