<main class="blogPage article" itemscope itemtype="https://schema.org/Article">
    {{> breadcrumbs}}
    <div class="cover blackout blackout-bottomMax slide active js-slide">
        <img class="img" src="{{websiteAddress}}{{article.coverImg}}" alt="Постер для записи в блоге - {{article.name}}" title="Постер для записи в блоге - {{article.name}}">
        <div class="textContent">
            <h1 class="title" itemprop="name">{{article.name}}</h1>
            <p class="description">
                {{article.introText}}
            </p>
        </div>
        <button class="btn translucent js-scroller" data-target="articleContent">
            <span class="icon icon-arrowBottom"></span>
        </button>
    </div>
    <div class="info contentContainer js-articleContent">
        <div class="content">
            {{#each article.blocks}}
                <div class="block{{#if imgPosition}} {{imgPosition}}{{/if}}">
                    {{#if img}}
                        <img class="img" src="{{@root.websiteAddress}}{{img}}" alt="Изображение для контент-блока {{@index}}">
                    {{/if}}
                    <div class="text">
                        {{encodeString text}}
                    </div>
                </div>
            {{/each}}
        </div>
        <div class="activity">
            <div class="actions">
                <div class="block">
                    {{#if isAuth}}
                        <div class="btn increase js-likeArticle" data-target="{{article.id}}">
                    {{/if}}
                    <span class="icon icon-like"></span>
                    {{#if isAuth}}
                        </div>
                    {{/if}}
                    <div class="count js-countLikes">{{article.likes}}</div>
                </div>
                <div class="block">
                    <button class="btn increase">
                        <span class="icon icon-reply"></span>
                    </button>
                </div>
            </div>
            <div class="views">{{article.views}}</div>
        </div>
        {{#if article.products.length}}
            <div class="gamesBlock">
                <div class="title">Игры из статьи</div>
                <div class="games mobileScroll">
                    {{#each article.products}}
                        {{> game
                            id=_id
                            name=name
                            alias=alias
                            img=img
                            priceTo=priceTo
                            priceFrom=priceFrom
                            dsId=dsId
                            dlc=dlc
                            inStock=inStock
                        }}
                    {{/each}}
                </div>
            </div>
        {{/if}}
    </div>
</main>