<main class="blogPage js-blogPage">
    {{> breadcrumbs}}
    {{#if fixArticle}}
        <div class="cover">
            <img class="img" src="{{websiteAddress}}{{fixArticle.coverImg}}" loading="lazy" alt="Постер записи в блоге - {{fixArticle.name}}" title="Постер записи в блоге - {{fixArticle.name}}">
            <div class="textContent">
                <div class="title">{{fixArticle.name}}</div>
                <div class="description">
                    {{fixArticle.introText}}
                </div>
            </div>
            <a class="btn rounded big bg-blue translucent" href="/blog/{{fixArticle.alias}}">Читать</a>
        </div>
    {{/if}}
    <div class="contentContainer">
        <div class="articles js-listArticles">
            {{#each articles}}
                <a class="article{{#if rightImg}} right{{/if}}" href="{{@root.websiteAddress}}{{#if @root.platform}}{{@root.platform}}/{{/if}}blog/{{alias}}" style="--bgColor: {{blockColor}}">
                    <img class="img" src="{{@root.websiteAddress}}{{img}}" loading="lazy" alt="Изображение записи в блоге - {{name}}">
                    <div class="info">
                        <div class="content">
                            <div class="title">{{name}}</div>
                            <div class="description">{{introText}}</div>
                        </div>
                        <div class="activity">
                            <div class="likes">{{likes}}</div>
                            <div class="views">{{views}}</div>
                        </div>
                    </div>
                </a>
            {{/each}}
        </div>
        <button class="btn more increase js-loadMore" data-skip="3" title="Показать еще статьи">
            <span class="icon icon-arrowBottom"></span>
        </button>
    </div>
</main>
