<main class="blogPage">
    <div class="breadcrumbs contentContainer">
        <div class="item">
            <a class="btn link" href="/">Главная</a>
        </div>
        <div class="current">Блог</div>
    </div>
    <div class="cover blackout blackout-bottomMax slide active js-slide">
        <img class="img" src="./img/mainBacground.png" alt="Phoenix Point: Year One Edition" title="Phoenix Point: Year One Edition">
        <div class="textContent">
            <div class="title">В майнкрафт добавили татарстан</div>
            <div class="description">
                В связи с многочисленными просьбами пользователей, из майнкрафта сделали татарстан, также добавили
                приору и многую другу атрибутику В связи с многочисленными просьбами пользователей, из майнкрафта
                сделали татарстан, также добавили приору и многую другу атрибутику В связи с многочисленными просьбами
                пользователей, из майнкрафта сделали татарстан, также добавили приору и многую другу атрибутику
            </div>
        </div>
        <a class="btn rounded big bg-blue translucent" href="#">Читать</a>
    </div>
    <div class="contentContainer">
        <div class="articles">
            {{#each articles}}
                <a class="article" href="/blog/{{alias}}" style="background: linear-gradient(94.29deg, #47A00C 35.06%, rgba(196, 196, 196, 0) 88.75%);">
                    <img class="img" src="./img/blog-sims.jpg" alt="Sims">
                    <div class="info">
                        <div class="content">
                            <div class="title">{{name}}</div>
                            <div class="description">
                                {{text}}
                            </div>
                        </div>
                        <div class="activity">
                            <div class="likes">{{likes}}</div>
                            <div class="views">{{views}}</div>
                        </div>
                    </div>
                </a>
            {{/each}}
        </div>
        <!--<button class="btn more increase" title="Показать еще статьи">
            <span class="icon icon-arrowBottom"></span>
        </button>-->
    </div>
</main>