<main class="blogPage article">
    <div class="breadcrumbs contentContainer">
        <div class="item">
            <a class="btn link" href="{{websiteAddress}}">Главная</a>
        </div>
        <div class="item">
            <a class="btn link" href="{{websiteAddress}}blog">Блог</a>
        </div>
        <div class="current">{{article.name}}</div>
    </div>
    <div class="cover blackout blackout-bottomMax slide active js-slide">
        <img class="img" src="{{websiteAddress}}{{article.coverImg}}" alt="Постер для записи в блоге - {{article.name}}" title="Постер для записи в блоге - {{article.name}}">
        <div class="textContent">
            <h1 class="title">{{article.name}}</h1>
            <p class="description">
                {{article.introText}}
            </p>
        </div>
        <button class="btn translucent js-scroller" data-target="articleContent">
            <span class="icon icon-arrowBottom"></span>
        </button>
    </div>
    <div class="info contentContainer js-articleContent">
        <div class="content">
            {{#each article.blocks}}
                <div class="block {{imgPosition}}">
                    <img class="img" src="{{@root.websiteAddress}}{{img}}" alt="Изображение для контент-блока {{@index}}">
                    <div class="text">
                        {{text}}
                    </div>
                </div>
            {{/each}}
        </div>
        <div class="activity">
            <div class="actions">
                <div class="block">
                    {{#if isAuth}}
                        <div class="btn increase js-likeArticle" data-target="{{article.id}}">
                    {{/if}}
                    <span class="icon icon-like"></span>
                    {{#if isAuth}}
                        </div>
                    {{/if}}
                    <div class="count js-countLikes">{{article.likes}}</div>
                </div>
                <div class="block">
                    <button class="btn increase">
                        <span class="icon icon-reply"></span>
                    </button>
                </div>
            </div>
            <div class="views">{{article.views}}</div>
        </div>
        <!--<div class="gamesBlock">
            <div class="title">Игры из статьи</div>
            <div class="games">
                <a href="#" class="cardGame js-itemNavSlider" title="Перейти к странице игры">
                    <div class="actions">
                        <button class="btn like" title="Добавить игру в избранное">
                            <span class="icon-static icon-static-actionLike"></span>
                        </button>
                        <button
                                class="btn border rounded uppercase bg-darkPink hover-bg-pink inCart small"
                                title="Добавить данный товар в корзину покупок"
                        >
                            В корзину
                        </button>
                    </div>
                    <div class="head">
                        <img class="img" src="./img/CoverDoomEternal.jpg" alt="Image of Doom ETERNAL" title="Doom ETERNAL">
                        <div class="name">Doom ETERNAL</div>
                    </div>
                    <div class="price">
                        <div class="toPrice">
                            <span class="value">999</span>
                        </div>
                        <div class="fromPrice">
                            <span class="value">1300</span>
                        </div>
                    </div>
                </a>
                <a href="#" class="cardGame js-itemNavSlider" title="Перейти к странице игры">
                    <div class="actions">
                        <button class="btn like" title="Добавить игру в избранное">
                            <span class="icon-static icon-static-actionLike"></span>
                        </button>
                        <button
                                class="btn border rounded uppercase bg-darkPink hover-bg-pink inCart small"
                                title="Добавить данный товар в корзину покупок"
                        >
                            В корзину
                        </button>
                    </div>
                    <div class="head">
                        <img class="img" src="./img/CoverDoomEternal.jpg" alt="Image of Doom ETERNAL" title="Doom ETERNAL">
                        <div class="name">Doom ETERNAL</div>
                    </div>
                    <div class="price">
                        <div class="toPrice">
                            <span class="value">999</span>
                        </div>
                        <div class="fromPrice">
                            <span class="value">1300</span>
                        </div>
                    </div>
                </a>
                <a href="#" class="cardGame js-itemNavSlider" title="Перейти к странице игры">
                    <div class="actions">
                        <button class="btn like" title="Добавить игру в избранное">
                            <span class="icon-static icon-static-actionLike"></span>
                        </button>
                        <button
                                class="btn border rounded uppercase bg-darkPink hover-bg-pink inCart small"
                                title="Добавить данный товар в корзину покупок"
                        >
                            В корзину
                        </button>
                    </div>
                    <div class="head">
                        <img class="img" src="./img/CoverDoomEternal.jpg" alt="Image of Doom ETERNAL" title="Doom ETERNAL">
                        <div class="name">Doom ETERNAL</div>
                    </div>
                    <div class="price">
                        <div class="toPrice">
                            <span class="value">999</span>
                        </div>
                        <div class="fromPrice">
                            <span class="value">1300</span>
                        </div>
                    </div>
                </a>
                <a href="#" class="cardGame js-itemNavSlider" title="Перейти к странице игры">
                    <div class="actions">
                        <button class="btn like" title="Добавить игру в избранное">
                            <span class="icon-static icon-static-actionLike"></span>
                        </button>
                        <button
                                class="btn border rounded uppercase bg-darkPink hover-bg-pink inCart small"
                                title="Добавить данный товар в корзину покупок"
                        >
                            В корзину
                        </button>
                    </div>
                    <div class="head">
                        <img class="img" src="./img/CoverDoomEternal.jpg" alt="Image of Doom ETERNAL" title="Doom ETERNAL">
                        <div class="name">Doom ETERNAL</div>
                    </div>
                    <div class="price">
                        <div class="toPrice">
                            <span class="value">999</span>
                        </div>
                        <div class="fromPrice">
                            <span class="value">1300</span>
                        </div>
                    </div>
                </a>
                <a href="#" class="cardGame js-itemNavSlider" title="Перейти к странице игры">
                    <div class="actions">
                        <button class="btn like" title="Добавить игру в избранное">
                            <span class="icon-static icon-static-actionLike"></span>
                        </button>
                        <button
                                class="btn border rounded uppercase bg-darkPink hover-bg-pink inCart small"
                                title="Добавить данный товар в корзину покупок"
                        >
                            В корзину
                        </button>
                    </div>
                    <div class="head">
                        <img class="img" src="./img/CoverDoomEternal.jpg" alt="Image of Doom ETERNAL" title="Doom ETERNAL">
                        <div class="name">Doom ETERNAL</div>
                    </div>
                    <div class="price">
                        <div class="toPrice">
                            <span class="value">999</span>
                        </div>
                        <div class="fromPrice">
                            <span class="value">1300</span>
                        </div>
                    </div>
                </a>
                <a href="#" class="cardGame js-itemNavSlider" title="Перейти к странице игры">
                    <div class="actions">
                        <button class="btn like" title="Добавить игру в избранное">
                            <span class="icon-static icon-static-actionLike"></span>
                        </button>
                        <button
                                class="btn border rounded uppercase bg-darkPink hover-bg-pink inCart small"
                                title="Добавить данный товар в корзину покупок"
                        >
                            В корзину
                        </button>
                    </div>
                    <div class="head">
                        <img class="img" src="./img/CoverDoomEternal.jpg" alt="Image of Doom ETERNAL" title="Doom ETERNAL">
                        <div class="name">Doom ETERNAL</div>
                    </div>
                    <div class="price">
                        <div class="toPrice">
                            <span class="value">999</span>
                        </div>
                        <div class="fromPrice">
                            <span class="value">1300</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>-->
    </div>
</main>