<main class="blogPage">
    <div class="breadcrumbs contentContainer">
        <div class="item">
            <a class="btn link" href="{{websiteAddress}}">Главная</a>
        </div>
        <div class="current">Блог</div>
    </div>
    {{#if fixArticle}}
        <div class="cover blackout blackout-bottomMax slide active js-slide">
            <img class="img" src="{{websiteAddress}}{{fixArticle.coverImg}}" alt="Постер записи в блоге - {{fixArticle.name}}" title="Постер записи в блоге - {{fixArticle.name}}">
            <div class="textContent">
                <div class="title">{{fixArticle.name}}</div>
                <div class="description">
                    {{fixArticle.introText}}
                </div>
            </div>
            <a class="btn rounded big bg-blue translucent" href="/blog/{{fixArticle.alias}}">Читать</a>
        </div>
    {{/if}}
    <div class="contentContainer">
        <div class="articles">
            {{#each articles}}
                <a class="article{{#if rightImg}} right{{/if}}" href="{{websiteAddress}}/blog/{{alias}}" style="--bgColor: {{blockColor}}">
                    <img class="img" src="{{@root.websiteAddress}}{{img}}" alt="Изображение записи в блоге - {{name}}">
                    <div class="info">
                        <div class="content">
                            <div class="title">{{name}}</div>
                            <div class="description">
                                {{introText}}
                            </div>
                        </div>
                        <div class="activity">
                            <div class="likes">{{likes}}</div>
                            <div class="views">{{views}}</div>
                        </div>
                    </div>
                </a>
            {{/each}}
        </div>
        <button class="btn more increase" title="Показать еще статьи">
            <span class="icon icon-arrowBottom"></span>
        </button>
    </div>
</main>