<main class="blogPage">
    <div class="breadcrumbs contentContainer">
        <div class="item">
            <a class="btn link" href="/">Главная</a>
        </div>
        <div class="current">Блог</div>
    </div>
    {{#if fixArticle}}
        <div class="cover blackout blackout-bottomMax slide active js-slide">
            <img class="img" src="{{fixArticle.coverImg}}" alt="Phoenix Point: Year One Edition" title="Phoenix Point: Year One Edition">
            <div class="textContent">
                <div class="title">{{fixArticle.name}}</div>
                <div class="description">
                    {{fixArticle.introText}}
                </div>
            </div>
            <a class="btn rounded big bg-blue translucent" href="/blog/{{fixArticle.alias}}">Читать</a>
        </div>
    {{/if}}
    <div class="contentContainer">
        <div class="articles">
            {{#each articles}}
                <a class="article{{#if rightImg}} right{{/if}}" href="/blog/{{alias}}" style="background: linear-gradient(94.29deg, {{blockColor}} 35.06%, rgba(196, 196, 196, 0) 88.75%);">
                    <img class="img" src="{{img}}" alt="Sims">
                    <div class="info">
                        <div class="content">
                            <div class="title">{{name}}</div>
                            <div class="description">
                                {{introText}}
                            </div>
                        </div>
                        <div class="activity">
                            <div class="likes">{{likes}}</div>
                            <div class="views">{{views}}</div>
                        </div>
                    </div>
                </a>
            {{/each}}
        </div>
        <!--<button class="btn more increase" title="Показать еще статьи">
            <span class="icon icon-arrowBottom"></span>
        </button>-->
    </div>
</main>