<main class="blogPage article" itemscope itemtype="https://schema.org/Article">
    {{> breadcrumbs}}
    <div class="cover">
        <img class="img" src="{{websiteAddress}}{{article.coverImg}}" alt="Постер для записи в блоге - {{article.name}}"
             title="Постер для записи в блоге - {{article.name}}">
        <div class="textContent">
            <h1 class="title" itemprop="name">{{article.name}}</h1>
            <p class="description">
                {{article.introText}}
            </p>
        </div>
        <button class="btn translucent js-scroller" data-target="articleContent">
            <span class="icon icon-arrowBottom"></span>
        </button>
    </div>
    <div class="info contentContainer js-articleContent">
        <div class="content">
            {{#each article.blocks}}
                <div class="block{{#if imgPosition}} {{imgPosition}}{{/if}}">
                    {{#if img}}
                        <img class="img" src="{{@root.websiteAddress}}{{img}}"
                             alt="Изображение для контент-блока {{@index}}">
                    {{/if}}
                    <div class="text">
                        {{encodeString text}}
                    </div>
                </div>
            {{/each}}
        </div>
        <div class="activity">
            <div class="actions">
                <div class="block">
                    {{#if isAuth}}
                    <div class="btn increase js-likeArticle" data-target="{{article.id}}">
                    {{/if}}
                    <span class="icon icon-like"></span>
                    {{#if isAuth}}
                    </div>
                    {{/if}}
                    <div class="count js-countLikes">{{article.likes}}</div>
                </div>
                <div data-sharing="main" class="block social-sharing-wrap">
                    <ul data-sharing="list" class="social-sharing">
                        <li data-sharing="social-telegram">
                            <p>
                                <svg width="40" height="40" viewBox="0 0 65 65" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M32.2302 0.269531C25.8557 0.269531 19.6243 2.1598 14.3241 5.7013C9.02385 9.2428 4.89282 14.2765 2.45339 20.1658C0.013965 26.0551 -0.624301 32.5355 0.619309 38.7876C1.86292 45.0396 4.93255 50.7825 9.44003 55.29C13.9475 59.7974 19.6904 62.8671 25.9424 64.1107C32.1945 65.3543 38.6749 64.716 44.5642 62.2766C50.4535 59.8372 55.4872 55.7061 59.0287 50.4059C62.5702 45.1057 64.4605 38.8743 64.4605 32.4998C64.4605 23.9518 61.0648 15.7539 55.0204 9.70954C48.9761 3.66521 40.7782 0.269531 32.2302 0.269531ZM47.281 22.0002C46.7983 27.0971 44.7026 39.4165 43.6382 45.11C43.1885 47.5085 42.3011 48.327 41.4406 48.408C39.5757 48.5789 38.1426 47.1727 36.3437 45.9885C33.5134 44.1326 31.9154 42.9903 29.1691 41.1674C25.9941 39.0687 28.0538 37.9264 29.8617 36.0496C30.3354 35.5579 38.5564 28.0745 38.7183 27.3969C38.7396 27.2968 38.7371 27.1932 38.7111 27.0942C38.6851 26.9953 38.6362 26.9038 38.5683 26.8272C38.4699 26.7657 38.3585 26.728 38.243 26.7171C38.1275 26.7062 38.011 26.7223 37.9028 26.7643C37.6209 26.8262 33.1017 29.8134 24.3451 35.7258C23.0619 36.6072 21.8996 37.037 20.8582 37.015C19.7099 36.988 17.5033 36.3644 15.8603 35.8157C13.8485 35.1621 12.2475 34.8173 12.3884 33.717C12.4604 33.1394 13.2599 32.5477 14.7869 31.9421C24.1572 27.8606 30.4054 25.1693 33.5314 23.868C42.46 20.1563 44.3248 19.5117 45.5241 19.4877C45.9688 19.4791 46.405 19.6102 46.7713 19.8625C47.0284 20.0841 47.1922 20.3947 47.23 20.732C47.2936 21.1516 47.3107 21.5769 47.281 22.0002Z"
                                          fill="white"/>
                                </svg>
                            </p>
                            <span>Telegram</span>
                        </li>
                        <li data-sharing="social-facebook">
                            <p>
                                <svg width="40" height="40" viewBox="0 0 64 64" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <rect width="64" height="64" rx="32" fill="white"/>
                                    <path d="M34.2945 49.1515H28.6786C27.7406 49.1515 26.9775 48.3867 26.9775 47.4464V34.7495H23.7011C22.7631 34.7495 22 33.9843 22 33.0443V27.6037C22 26.6634 22.7631 25.8986 23.7011 25.8986H26.9775V23.1741C26.9775 20.4726 27.8238 18.1743 29.4246 16.5279C31.0325 14.874 33.2797 14 35.9231 14L40.2061 14.007C41.1425 14.0086 41.9042 14.7734 41.9042 15.7121V20.7636C41.9042 21.7039 41.1414 22.4687 40.2037 22.4687L37.32 22.4698C36.4405 22.4698 36.2166 22.6465 36.1687 22.7007C36.0898 22.7906 35.9959 23.0445 35.9959 23.7458V25.8983H39.9869C40.2874 25.8983 40.5785 25.9726 40.8287 26.1126C41.3683 26.4148 41.7038 26.9863 41.7038 27.6039L41.7017 33.0446C41.7017 33.9843 40.9386 34.7492 40.0006 34.7492H35.9959V47.4464C35.9959 48.3867 35.2326 49.1515 34.2945 49.1515V49.1515ZM29.0334 47.0908H33.9397V33.8269C33.9397 33.1991 34.4494 32.6885 35.0755 32.6885H39.6458L39.6477 27.9593H35.0752C34.4492 27.9593 33.9397 27.4487 33.9397 26.8208V23.7458C33.9397 22.9407 34.0214 22.0252 34.6276 21.337C35.3602 20.5051 36.5147 20.4091 37.3195 20.4091L39.8484 20.408V16.0672L35.9215 16.0607C31.6733 16.0607 29.0334 18.7866 29.0334 23.1741V26.8208C29.0334 27.4484 28.524 27.9593 27.8979 27.9593H24.0559V32.6885H27.8979C28.524 32.6885 29.0334 33.1991 29.0334 33.8269V47.0908ZM40.2021 16.0677H40.2023H40.2021Z"
                                          fill="#2E075F"/>
                                </svg>
                            </p>
                            <span>Facebook</span>
                        </li>
                        <li data-sharing="social-twitter">
                            <p>
                                <svg width="40" height="40" viewBox="0 0 64 65" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M32 0.0273438C25.671 0.0273438 19.4841 1.90411 14.2218 5.42032C8.95939 8.93652 4.85787 13.9342 2.43587 19.7815C0.0138652 25.6287 -0.619842 32.0628 0.614885 38.2702C1.84961 44.4776 4.89732 50.1795 9.3726 54.6548C13.8479 59.13 19.5497 62.1777 25.7571 63.4125C31.9645 64.6472 38.3986 64.0135 44.2459 61.5915C50.0931 59.1695 55.0908 55.068 58.607 49.8056C62.1232 44.5432 64 38.3563 64 32.0273C64 23.5404 60.6286 15.4011 54.6274 9.39993C48.6263 3.39876 40.4869 0.0273438 32 0.0273438ZM45.4698 26.1899C45.4906 26.4876 45.4906 26.7615 45.4906 27.0502C45.4906 35.8733 38.7751 46.0478 26.493 46.0478C22.8657 46.0541 19.3135 45.0143 16.262 43.0532C18.0098 43.2664 19.7825 43.1318 21.478 42.6572C23.1736 42.1826 24.7586 41.3773 26.1418 40.2878C24.7484 40.2619 23.398 39.8009 22.2797 38.9692C21.1615 38.1376 20.3313 36.977 19.9055 35.65C20.9065 35.8421 21.9382 35.8013 22.9209 35.531C21.4091 35.2258 20.0494 34.4068 19.0727 33.2131C18.096 32.0194 17.5626 30.5245 17.5628 28.9821V28.9018C18.4914 29.4192 19.5306 29.7061 20.5931 29.7382C19.1795 28.7944 18.1788 27.3471 17.795 25.6912C17.4111 24.0353 17.673 22.2954 18.5273 20.8259C20.2032 22.8883 22.2943 24.5751 24.6646 25.7766C27.035 26.9782 29.6316 27.6677 32.2858 27.8004C31.9535 26.3691 32.1021 24.8682 32.7087 23.53C33.3153 22.1917 34.3461 21.0907 35.6415 20.3972C36.9368 19.7038 38.4247 19.4566 39.8747 19.6939C41.3247 19.9312 42.6561 20.6398 43.6629 21.7099C45.1577 21.4152 46.5912 20.8675 47.9018 20.0906C47.4029 21.6367 46.36 22.9493 44.9667 23.7847C46.2899 23.6271 47.5821 23.273 48.8008 22.7339C47.9039 24.0741 46.776 25.2443 45.4698 26.1899V26.1899Z"
                                          fill="white"/>
                                </svg>
                            </p>
                            <span>Twitter</span>
                        </li>
                        <li data-sharing="social-pinterest">
                            <p>
                                <svg width="40" height="40" viewBox="0 0 65 65" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M32.2302 0.322266C25.8557 0.322266 19.6243 2.21253 14.3241 5.75404C9.02385 9.29554 4.89282 14.3292 2.45339 20.2185C0.013965 26.1078 -0.624301 32.5882 0.619309 38.8403C1.86292 45.0923 4.93255 50.8352 9.44003 55.3427C13.9475 59.8502 19.6904 62.9198 25.9424 64.1634C32.1945 65.407 38.6749 64.7688 44.5642 62.3293C50.4535 59.8899 55.4872 55.7589 59.0287 50.4586C62.5702 45.1584 64.4605 38.927 64.4605 32.5525C64.4605 24.0045 61.0648 15.8066 55.0204 9.76228C48.9761 3.71794 40.7782 0.322266 32.2302 0.322266ZM34.6977 42.7402C32.668 42.7402 30.6982 41.6669 30.0416 40.3417L28.6085 45.2947C28.1347 47.0666 26.8455 49.4201 25.9521 50.8563C25.8811 50.9962 25.7704 51.1121 25.6339 51.1894C25.4974 51.2667 25.3411 51.3021 25.1846 51.291C24.8248 51.222 24.6839 50.7303 24.6569 50.4485C24.48 48.8385 24.3001 46.1491 24.6569 44.2993L27.0554 34.0276C26.6373 33.0476 26.4328 31.9897 26.4558 30.9245C26.4558 28.0582 28.2547 25.9086 30.2754 25.9086C32.0743 25.9086 32.9048 27.2218 32.9048 28.9067C32.9048 30.7056 31.7056 33.2631 31.1059 35.7125C31.0092 36.1793 31.0187 36.6618 31.1336 37.1243C31.2486 37.5869 31.4662 38.0177 31.7703 38.3848C32.0743 38.7519 32.457 39.0459 32.8901 39.245C33.3231 39.4441 33.7954 39.5433 34.272 39.5352C37.9747 39.5352 40.841 35.5926 40.841 29.9801C40.841 25.0241 37.2432 21.6212 32.1223 21.6212C26.2789 21.6092 22.816 25.9625 22.816 30.5587C22.7989 32.2784 23.3442 33.9567 24.3691 35.3378C24.5489 35.4547 24.5489 35.6376 24.489 35.9374L23.8894 38.204C23.8894 38.5638 23.6525 38.6837 23.2897 38.4439C20.6633 37.2446 19.1103 33.4879 19.1103 30.4418C19.1103 23.8758 23.7694 17.9035 32.7249 17.9035C39.8905 17.9035 45.4431 23.0393 45.4431 29.8451C45.4461 37.0078 41.0268 42.7402 34.6977 42.7402Z"
                                          fill="white"/>
                                </svg>

                            </p>
                            <span>Pinterest</span>
                        </li>
                        <li data-sharing="device-more">
                            <p>
                                <svg width="40" height="40" viewBox="0 0 64 64" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <rect width="64" height="64" rx="32" fill="white"/>
                                    <path d="M49.3079 28.805C51.1416 30.6388 51.1416 33.6119 49.3079 35.4457C47.4741 37.2794 44.501 37.2794 42.6672 35.4457C40.8334 33.6119 40.8334 30.6388 42.6672 28.805C44.501 26.9712 47.4741 26.9712 49.3079 28.805Z"
                                          fill="black"/>
                                    <path d="M35.2209 28.805C37.0547 30.6388 37.0547 33.6119 35.2209 35.4457C33.3872 37.2794 30.414 37.2794 28.5803 35.4457C26.7465 33.6119 26.7465 30.6388 28.5803 28.805C30.414 26.9712 33.3872 26.9712 35.2209 28.805Z"
                                          fill="black"/>
                                    <path d="M21.134 28.805C22.9677 30.6388 22.9677 33.6119 21.134 35.4457C19.3002 37.2794 16.3271 37.2794 14.4933 35.4457C12.6595 33.6119 12.6595 30.6388 14.4933 28.805C16.3271 26.9712 19.3002 26.9712 21.134 28.805Z"
                                          fill="black"/>
                                </svg>
                            </p>
                            <span>Больше</span>
                        </li>
                        <li data-sharing="device-clipboard">
                            <p>
                                <svg width="20" height="24" viewBox="0 0 27 31" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <rect width="18" height="22" rx="5" fill="white"/>
                                    <rect x="6" y="6" width="20" height="24" rx="6" fill="white" stroke="#2F0860"
                                          stroke-width="2"/>
                                </svg>
                            </p>
                            <span>Скопировать ссылку</span>
                        </li>
                    </ul>
                    <button tabindex="0" data-sharing-title="{{article.name}}" data-sharing-text="{{article.introText}}"
                            data-sharing-show="social-sharing" class="btn increase">
                        <span class="icon icon-reply"></span>
                    </button>
                </div>
            </div>
            <div class="views">{{article.views}}</div>
        </div>
        {{#if article.products.length}}
            <div class="gamesBlock">
                <div class="title">Игры из статьи</div>
                {{#iff article.products.length '>' 7}}
                    <div class="productsFromArticleSlider js-productsFromArticleSlider">
                        <button class="btn prev js-prevBtn"></button>
                        <div class="visibleArea js-visibleArea">
                            <div class="tape js-tape">
                                {{#each article.products}}
                                    <div class="slide js-slide">
                                        {{> game
                                                _id=_id
                                                name=name
                                                alias=alias
                                                img=img
                                                priceTo=priceTo
                                                priceFrom=priceFrom
                                                dsId=dsId
                                                dlc=dlc
                                                inStock=inStock
                                                preOrder=preOrder
                                        }}
                                    </div>
                                {{/each}}
                            </div>
                        </div>
                        <button class="btn next js-nextBtn"></button>
                    </div>
                {{else}}
                    <div class="games mobileScroll">
                        {{#each article.products}}
                            {{> game
                                    _id=_id
                                    name=name
                                    alias=alias
                                    img=img
                                    priceTo=priceTo
                                    priceFrom=priceFrom
                                    dsId=dsId
                                    dlc=dlc
                                    inStock=inStock
                                    preOrder=preOrder
                            }}
                        {{/each}}
                    </div>
                {{/iff}}
            </div>
        {{/if}}
    </div>
</main>