<main class="contentContainer withoutCover basketPage">
    <div class="breadcrumbs contentContainer">
        <div class="item">
            <a class="btn link" href="/">Главная</a>
        </div>
        <div class="current">Корзина</div>
    </div>
    <div class="title">Список покупок</div>
    <div class="info js-cart">
        {{#if cart.items.length}}
            <div class="listGames">
                {{#each cart.items}}
                    <div class="game js-product" data-product-id="{{_id}}" data-ds-id="{{dsId}}">
                        <div class="content">
                            <button class="btn js-deleteFromCart">
                                <span class="icon icon-close"></span>
                            </button>
                            <img class="img" src="{{@root.websiteAddress}}{{img}}" alt="{{name}}">
                            <div class="main">
                                <div class="name">
                                    {{name}}
                                </div>
                                <div class="price">
                                    <span class="toPrice">
                                        <span class="value js-priceTo">
                                            {{priceTo}}
                                        </span>
                                    </span>
                                    <span class="fromPrice">
                                        <span class="value js-priceFrom">
                                            {{priceFrom}}
                                        </span>
                                    </span>
                                    <span class="discount">30</span>
                                </div>
                                <!--<div class="preOrder">
                                    Внимание! Это предзаказ. Ключ будет доставлен Вам <span class="date">21.02.3045</span>
                                </div>-->
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
            <div class="check js-check">
                <div class="total">
                    Итого:
                    <span class="toValue js-totalTo">
                        {{cart.priceToTotal}}
                    </span>
                    <span class="fromPrice">
                    <span class="value js-totalFrom">
                        {{cart.priceFromTotal}}
                    </span>
                </span>
                </div>
                <p style="color: #fff; margin-top: 10px" class="js-totalProducts">Всего товаров: {{cart.items.length}}</p>
                <button class="btn round border bg-darkPurple js-payBtn">
                    Оплатить
                    {{#if cart.saving}}
                        <span class="saving js-saving">
                            с экономией
                            <span class="toPrice">
                                <span class="value js-savingValue">
                                    {{cart.saving}}
                                </span>
                            </span>
                        </span>
                    {{/if}}
                </button>
            </div>
            <form action="https://oplata.info/asp2/pay.asp?dscartid={{@root.person.dsCartId}}" class="js-payForm" method="post" style="display: none">
                <input type="hidden" name="cart_uid" value="{{@root.person.dsCartId}}" />
                {{#if @root.person.email}}
                    <input type="hidden" name="email" value="{{@root.user.email}}" />
                {{/if}}
                <input type="hidden" name="failpage" value="{{@root.websiteAddress}}cart" />
                <input type="hidden" name="agent" value="951647" />
                <input type="hidden" name="typecurr" value="WME" />
                <input type="hidden" name="dscartid" value="{{@root.person.dsCartId}}" />
            </form>
        {{else}}
            <p style="color: #fff">Вы еще не добавили ни одного товара в корзину покупок</p>
        {{/if}}
    </div>
</main>
