<main class="contentContainer withoutCover basketPage js-cart">
    <div class="containerModalChanges">
        <div class="modalChanges">
            <div class="head">
                <div class="description">
                    <div class="title">Обратите внимание!</div>
                    <div class="text">
                        В связи со сложившейся ситуацией в мире, некоторых товаров из Вашей корзины временно нет в
                        наличии, также могла измениться цена. Приносим извинения за доставленные неудобства!
                    </div>
                </div>
                <button class="btn close"></button>
            </div>
            <div class="changes">
                <div class="product">
                    <div class="info">
                        <div class="name">DOOM ETERNAL</div>
                        <div class="info">временно нет в наличии</div>
                    </div>
                    <button class="btn round border small">Уведомить</button>
                </div>
                <div class="product">
                    <div class="info">
                        <div class="name">DOOM ETERNAL</div>
                        <div class="info">цена изменилась с <span class="priceValue">999</span>₽ до <span class="priceValue">899</span>₽</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="breadcrumbs contentContainer">
        <div class="item">
            <a class="btn link" href="{{websiteAddress}}">Главная</a>
        </div>
        <div class="current">Корзина</div>
    </div>
    {{#if cart.items.length}}
        <h1 class="title js-cartTitle">Список покупок</h1>
        <div class="info js-cartList">
            <div class="listGames">
                {{#each cart.items}}
                    <div class="game js-product" data-product-id="{{_id}}" data-ds-id="{{dsId}}">
                        <div class="content">
                            <button class="btn js-deleteFromCart">
                                <span class="icon icon-close"></span>
                            </button>
                            <img class="img" src="{{@root.websiteAddress}}{{img}}" alt="{{name}}" title="{{name}}">
                            <div class="main">
                                <div class="top">
                                    <div class="name">{{name}}</div>
                                    <div class="price">
                                        {{#iff discount '>' 0}}
                                            <div class="rowDiscount">
                                                <div class="fromPrice">
                                                    <span class="value js-priceFrom">{{priceFrom}}</span>
                                                </div>
                                                <div class="discount js-discount">{{discount}}</div>
                                            </div>
                                        {{/iff}}
                                        <div class="toPrice">
                                            <span class="value js-priceTo">{{priceTo}}</span>
                                        </div>
                                    </div>
                                    {{#if preOrder}}
                                        <div class="moreInfo preOrderInfo">
                                            Внимание! Это предзаказ. Ключ будет доставлен Вам <span class="date">{{pointReleaseDate}}</span>
                                        </div>
                                    {{/if}}
                                </div>
                                <div class="bottom">
                                    <div class="item">
                                        Сервис активации:
                                        <a
                                            href="{{@root.websiteAddress}}games?activationServices={{activationServiceId._id}}"
                                            class="link underlined"
                                        >
                                            {{activationServiceId.name}}
                                        </a>
                                    </div>
                                    <div class="item">
                                        Регионы активации:
                                        {{#each activationRegions}}
                                            {{name}}{{#unless @last}}, {{/unless}}
                                        {{/each}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
            <div class="check js-check">
                <div class="title">Ваша корзина</div>
                <div class="body">
                    <div class="param">
                        <div class="name">
                            Товары (<span class="js-totalProducts">{{cart.items.length}}</span>)
                        </div>
                        <div class="value"><span class="js-totalFrom">{{cart.priceFromTotal}}</span> ₽</div>
                    </div>
                    <div class="param">
                        <div class="name">Скидка</div>
                        <div class="value saving"><span class="js-saving">{{cart.saving}}</span> ₽</div>
                    </div>
                </div>
                <div class="total">
                    <div class="param">
                        <div class="name">Общая стоимость</div>
                        <div class="value"><span class="js-totalTo">{{cart.priceToTotal}}</span> ₽</div>
                    </div>
                </div>
                <button class="btn round border bg-darkPurple uppercase js-payBtn hover-bg-violet">Оплатить</button>
            </div>
            <form action="https://oplata.info/asp2/pay.asp" class="js-payForm" method="post" style="display: none">
                <input type="hidden" name="cart_uid" class="js-dsCartId"/>
                {{#if @root.person.email}}
                    <input type="hidden" name="email" value="{{@root.person.email}}" />
                {{/if}}
                <input type="hidden" name="failpage" value="{{@root.websiteAddress}}cart" />
                <input type="hidden" name="agent" value="951647" />
                <input type="hidden" name="typecurr" value="RUB" />
                <input type="hidden" name="dsCartId" class="js-dsCartId"/>
            </form>
        </div>
    {{else}}
        <div class="notFound">
            <img src="{{websiteAddress}}img/notFound.svg" class="img" alt="Иконка расстроенного смайла" title="Корзина пуста :(">
            <div class="text">
                <span class="title">Корзина пуста</span>
                <p class="description">Воспользуйтесь каталогом, чтобы найти все, что нужно!</p>
            </div>
            <a href="{{websiteAddress}}games" class="btn big border round hover-border-pink hover-color-pink" title="Перейти в каталог">В каталог</a>
        </div>
    {{/if}}
</main>
