<main class="contentContainer withoutCover catalog js-catalog">
    {{> breadcrumbs}}
    <h1 class="mainTitle">{{#if searchString}}Игры по запросу: {{searchString}}{{else}}Каталог игр{{/if}}</h1>
    <div class="main">
        <button class="btn openParams js-openParams">
            <span class="icon icon-filterParams"></span>
        </button>
        <div class="paramContainer params js-filter js-filterMobile">
            <button class="btn js-closeParams">
                <span class="icon icon-back"></span>
            </button>
            <div class="title params">Параметры</div>
            <div class="paramElements categories">
                <button class="btn uppercase js-openPriceParams">Цена</button>
                <button class="btn uppercase js-openSortParams">Сортировка</button>
                <button class="btn uppercase js-openCategoriesParams">Категории</button>
                <button class="btn uppercase js-openGenresParams">Жанры</button>
                <button class="btn uppercase js-openActivationParams">Активация</button>
            </div>
            <div class="paramContainer priceBlock js-priceParams">
                <button class="btn js-closePriceParams">
                    <span class="icon icon-back"></span>
                </button>
                <div class="title">Цена:</div>
                <div
                    class="range js-range js-priceRange"
                    data-min="{{minPrice}}" data-max="{{maxPrice}}" data-first-value="{{priceFrom}}" data-second-value="{{priceTo}}"
                ></div>
            </div>
            <div class="paramContainer sortBlock js-sort js-sortParams">
                <button class="btn js-closeSortParams">
                    <span class="icon icon-back"></span>
                </button>
                <div class="title">Сортировать по:</div>
                <div class="variants paramElements">
                    <button class="btn small rounded bg-lilac translucent js-variant-sort sort{{#iff sort '===' 'date'}} active{{/iff}}" data-sort="date">Дате выхода</button>
                    <button class="btn small rounded bg-lilac translucent js-variant-sort sort{{#iff sort '===' 'price'}} active{{/iff}}" data-sort="price">Цене</button>
                    <button class="btn small rounded bg-lilac translucent js-variant-sort sort{{#iff sort '===' 'discount'}} active{{/iff}}" data-sort="discount">Скидке</button>
                    {{> checkbox
                            value='true'
                            label='Только в наличии'
                            name='onlyStock'
                            checked=onlyStock
                    }}
                </div>
            </div>
            <div class="variants">
                <div class="paramContainer categoriesBlock block js-categoriesParams">
                    <button class="btn js-closeCategoriesParams">
                        <span class="icon icon-back"></span>
                    </button>
                    <div class="title">Категории:</div>
                    <div class="elements paramElements">
                        {{#each allCategories}}
                            {{> checkbox
                                    value=alias
                                    label=name
                                    checked=checked
                                    name='categories'
                            }}
                        {{/each}}
                    </div>
                </div>
                <div class="paramContainer genresBlock block genres js-genresParams">
                    <button class="btn js-closeGenresParams">
                        <span class="icon icon-back"></span>
                    </button>
                    <div class="title">Жанры:</div>
                    <div class="elements paramElements">
                        {{#each allGenres}}
                            {{> checkbox
                                    value=alias
                                    label=name
                                    checked=checked
                                    name='genres'
                            }}
                        {{/each}}
                    </div>
                </div>
                <div class="paramContainer activationBlock block js-activationParams">
                    <button class="btn js-closeActivationParams">
                        <span class="icon icon-back"></span>
                    </button>
                    <div class="title">Активация:</div>
                    <div class="elements paramElements">
                        {{#each allActivationServices}}
                            {{> checkbox
                                    value=alias
                                    label=name
                                    checked=checked
                                    name='activationServices'
                            }}
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
        <div class="list js-catalogList{{#unless products.length}} notFound{{/unless}}" data-current-page="{{page}}">
            {{#if products.length}}
                <div class="gameGrid js-page" data-page-num="{{page}}">
                    {{#each products}}
                        {{> game}}
                    {{/each}}
                </div>
            {{else}}
                <img class="img" src="http://localhost:5000/img/notFound.svg">
                <span class="text">Ничего не найдено...</span>
            {{/if}}
        </div>
    </div>
</main>