<main class="contentContainer withoutCover catalog js-catalog"{{#if sectionName}} data-section-name="{{sectionName}}" data-section-type="{{sectionType}}"{{/if}}>
    {{> breadcrumbs}}
    <div class="headTitle">
        <h1 class="mainTitle">{{hTitle}}</h1>
        {{#if pageDescription}}
            <div class="descriptionContainer">
                <button class="btn round info border js-openDescriptionSplitCatalog">i</button>
                <div class="description js-descriptionSplitCatalog">
                    <button class="btn round-close close js-descriptionSplitCatalogClose"></button>
                    {{encodeString pageDescription}}
                </div>
            </div>
        {{/if}}
    </div>
    <div class="main">
        <button class="btn openParams js-openParams">
            <span class="title">Фильтры</span>
            <span class="icon"></span>
        </button>
        <div class="paramContainer params js-filter js-filterMobile">
            <div class="filterContent">
                <div class="priceBlock js-priceParams">
                    <div class="title">Цена</div>
                    <div class="priceBlockControls">
                        <input class="priceBlockControl priceFrom" type="text" value="{{#iff priceFrom '>' minPrice}}{{ priceFrom }}{{/iff}}" placeholder="От" data-min="{{minPrice}}">
                        <input class="priceBlockControl priceTo" type="text" value="{{#iff priceTo '<' maxPrice}}{{priceTo}}{{/iff}}" placeholder="До" data-max="{{maxPrice}}">
                    </div>

                    <div class="priceBlockCheckboxes">
                        {{> checkbox
                                value='true'
                                label='Только в наличии'
                                name='onlyStock'
                                checked=onlyStock
                        }}
                        {{> checkbox
                                value='true'
                                label='Оплата без комиссии'
                                name='noCommission'
                                checked=noCommission
                        }}
                    </div>
                </div>
                <div class="variants">
                    <div class="categoriesBlock block js-categoriesParams">
                        <div class="title">Категории</div>
                        <div class="elements paramElements">
                            {{#each allCategories}}
                                {{> checkbox
                                        value=alias
                                        label=name
                                        checked=checked
                                        name='categories'
                                }}
                            {{/each}}
                        </div>
                    </div>
                    <div class="genresBlock block genres js-genresParams">
                        <div class="title">Жанры</div>
                        <div class="searchBlock">
                            <input class="search" placeholder="Поиск по названию">
                            <div class="searchIcon"></div>
                        </div>
                        <div class="elements paramElements elementsCollapsed">
                            {{#each allGenres}}
                                {{> checkbox
                                        value=alias
                                        label=name
                                        checked=checked
                                        name='genres'
                                }}
                            {{/each}}
                        </div>
                        <button class="interactionButton showMore">Показать еще</button>
                        <button class="interactionButton showLess" style="display: none">Скрыть</button>
                    </div>
                    <div class="activationBlock block js-activationParams">
                        <div class="title">Активация</div>
                        <div class="searchBlock">
                            <input class="search" placeholder="Поиск по названию">
                            <div class="searchIcon"></div>
                        </div>
                        <div class="elements paramElements elementsCollapsed">
                            {{#each allActivationServices}}
                                {{> checkbox
                                        value=alias
                                        label=name
                                        checked=checked
                                        disabled=disabled
                                        name='activationServices'
                                }}
                            {{/each}}
                        </div>
                        <button class="interactionButton showMore">Показать еще</button>
                        <button class="interactionButton showLess" style="display: none">Скрыть</button>
                    </div>
                </div>
            </div>
            <div class="popupButtons">
                <button class="button closePopup apply js-closeParams">Применить</button>
                <a href="/games" class="button">Сбросить</a>
            </div>
        </div>
        <div>
            <div class="sortBlock js-sort js-sortParams">
                <div class="title">Сортировать по</div>
                <select class="sortSelect">
                    <option {{#iff sort '===' ''}}selected{{/iff}} value="--"></option>
                    <option {{#iff sort '===' 'date'}}selected{{/iff}} value="date">Дате выхода</option>
                    <option {{#iff sort '===' 'price'}}selected{{/iff}} value="price">Цене</option>
                    <option {{#iff sort '===' 'discount'}}selected{{/iff}} value="discount">Скидке</option>
                </select>
            </div>
            <div class="list js-catalogList{{#unless products.length}} notFound{{/unless}}" data-current-page="{{page}}" data-load-limit="{{limit}}">
                {{#if products.length}}
                    <div class="gameGrid js-page" data-page-num="{{page}}">
                        {{#each products}}
                            {{> game}}
                        {{/each}}
                    </div>
                    {{#if prevPage}}
                        <a class="paginationLink" href="{{@root.websiteAddress}}{{prevPage}}">Prev page</a>
                    {{/if}}
                    {{#if nextPage}}
                        <a class="paginationLink" href="{{@root.websiteAddress}}{{nextPage}}">Next page</a>
                    {{/if}}
                {{else}}
                    <img class="img" loading="lazy" src="http://localhost:5000/img/notFound.svg">
                    <span class="text">Ничего не найдено...</span>
                {{/if}}
            </div>
        </div>
    </div>
</main>
