<main class="contentContainer withoutCover fillUpSteamPage">
    <div class="modalContainer js-fillUpPageModal">
        <div class="content">
            <div class="title">Где найти логин?</div>
            <img class="img" loading="lazy" src="{{ websiteAddress }}img/whereSteamLogin.jpg" alt="Где находится логин Steam">
            <a href="https://store.steampowered.com/account/" target="_blank" class="link" rel="nofollow">Открыть страницу Steam с логином</a>
            <div class="moreInfoLogin">
                Подробнее о том, как узнать логин в
                <a class="moreInfoLoginLink" href="https://icegames.store/blog/kak-uznat-svoio-login-v-steam" target="_blank">нашей статье</a>
            </div>
            <button class="btn border round js-closeFillUpPageModal">Закрыть</button>
        </div>
    </div>
    {{> breadcrumbs}}
    <div class="mainContent">
        <h1 class="title">
            {{#if isKazakhstan}}
                Пополнение баланса Казахстанского Steam аккаунта
            {{else}}
                Пополнение баланса Steam
            {{/if}}
        </h1>
        <p class="description">
            Специально для вас от сервиса ICE GAMES мы предоставляем услугу пополнения кошелька Steam в рублях.
            Теперь вы можете легко и быстро пополнить баланс стим.
        </p>
        {{#if isKazakhstan}}
            <p class="description warning">Внимание! Пополнить баланс возможно только Казахстанского Steam аккаунта.</p>
        {{else}}
            <p class="description warning">
                Внимание! Пополнить баланс возможно только Российского Steam аккаунта, кроме республики Крым, Луганской и Донецкой областей.
            </p>
            <p class="description warning">
                Узнать о том, как обойти ограничение Вы можете в
                <a class="link" href="https://icegames.store/blog/kak-popolnit-koshyelyek-steam-iz-ryespubliki-krym-luganskoio-i-donyetskoio-oblastyeio" target="_blank">
                    нашей статье
                </a>
            </p>
        {{/if}}
        <form class="form js-fillUpSteamFrom" action="{{websiteAddress}}api/fillUpSteam/getPaymentLink{{#if isKazakhstan}}?kazakhstan=true{{/if}}">
            <label class="input-frame js-inputFrame">
                <input class="textField" type="text" name="steamLogin" placeholder="Логин Steam">
                <button class="btn prompt js-howToGetLogin" type="button">Как узнать логин?</button>
            </label>
            {{#if isKazakhstan}}
                <label class="input-frame js-amount-input">
                    <input class="textField js-amountFillUp" data-rate="{{ rate }}" type="text" name="amount" placeholder="Сумма пополнения (От 500₸ до 50 000₸)">
                    <div class="fastSelect js-fastSelect" data-bind-selector="amountFillUp">
                        <button class="fastSelect-item btn js-fastSelectItem" type="button">1000</button>
                        <button class="fastSelect-item btn js-fastSelectItem" type="button">3000</button>
                        <button class="fastSelect-item btn js-fastSelectItem" type="button">6000</button>
                        <button class="fastSelect-item btn js-fastSelectItem" type="button">10000</button>
                    </div>
                </label>
            {{else}}
                <label class="input-frame js-amount-input">
                    <input class="textField js-amountFillUp" type="text" name="amount" placeholder="Сумма пополнения (От 100₽ до 10 000₽)">
                    <div class="fastSelect js-fastSelect" data-bind-selector="amountFillUp">
                        <button class="fastSelect-item btn js-fastSelectItem" type="button">100</button>
                        <button class="fastSelect-item btn js-fastSelectItem" type="button">300</button>
                        <button class="fastSelect-item btn js-fastSelectItem" type="button">600</button>
                        <button class="fastSelect-item btn js-fastSelectItem" type="button">1000</button>
                    </div>
                </label>
            {{/if}}
            <label class="input-frame">
                <input class="textField" type="email" name="email" placeholder="E-mail, на который будет отправлен чек">
            </label>
            {{> checkbox
                    value='true'
                    label='Я подтверждаю, что мною указан именно логин Steam аккаунта, а не свой никнейм'
                    name='confirmIndicationCorrectData'
            }}
            <div class="paymentMethods">
                <label class="variant">
                    <input class="input js-switch-card" type="radio" name="paymentMethod" value="card">
                    <div class="block">
                        <div class="name">Оплата картой</div>
                        <div class="description">Комиссия сервиса (23.5%)</div>
                    </div>
                </label>
                <label class="variant sbp">
                    <input class="input js-switch-sbp" type="radio" name="paymentMethod" value="sbp" checked>
                    <div class="block">
                        <div class="name">Оплата через СБП</div>
                        <div class="description">Комиссия сервиса (21.5%)</div>
                    </div>
                </label>
            </div>
            <div class="check">
                <div class="title">Оплата</div>
                <div class="body">
                    <div class="item">
                        <div class="name">Сумма на Steam</div>
                        <div class="value js-amount">0 {{#if isKazakhstan}}₸{{else}}₽{{/if}}</div>
                    </div>
                    <div class="item">
                        <div class="name js-commission">Комиссия сервиса (21.5%)</div>
                        <div class="value js-amount-commission">0 {{#if isKazakhstan}}₸{{else}}₽{{/if}}</div>
                    </div>
                    {{#if isKazakhstan}}
                        <div class="item">
                            <div class="name js-commission">Курс за 1₸</div>
                            <div class="value js-amount-commission">{{rate}} ₽</div>
                        </div>
                    {{/if}}
                </div>
                <div class="total">
                    <div class="name">Итого</div>
                    <div class="value js-total">0 ₽</div>
                </div>
                <input type="submit" value="Перейти к оплате" class="btn round border bg-darkPurple uppercase js-payBtn hover-bg-violet small">
            </div>
            <div class="js-fillUpSubmitResult fillUpSubmitResult"></div>
        </form>
    </div>
    <div class="additional">
        <div class="fillUpStatistics">
            <div class="statisticInput">
                <div class="label">успешных<br>пополнений</div>
                <div class="value">{{ countFillUps }}</div>
            </div>
            <div class="statisticInput">
                <div class="label">среднее<br>время зачисления</div>
                <div class="value">1 мин {{ seconds }} сек</div>
            </div>
            <div class="statisticInput">
                <div class="label">пополнений<br>на сумму</div>
                <div class="value">{{ amount }}</div>
            </div>
            <div class="statisticInput">
                <div class="label">работа<br>сервиса</div>
                <div class="value">24/7</div>
            </div>
        </div>
        <div class="fillUpTabInfo js-fillUpInfoTabs">
            <div class="actionsBtn">
                <button class="btn bg-violet rounded active js-tabBtn" data-target-id="instruction">Инструкция</button>
                <button class="btn bg-violet rounded js-tabBtn" data-target-id="faq">FAQ</button>
            </div>
            <div class="blocks">
                <div class="item active js-tabBlock-instruction" itemscope itemtype="https://schema.org/HowTo">
                    <div class="instructionTitle" itemprop="name">Как успешно пополнить баланс Steam с ICE GAMES</div>
                    <ol class="list">
                        <li class="element" itemprop="step" itemscope itemtype="http://schema.org/HowToSection">
                            <meta itemprop="position" content="1"/>
                            <span itemprop="text">
                                Введите свой логин Steam. <span style="color: #EB00FF">Обратите внимание! Логин - это то, что Вы указываете при входе в Steam. Если Вы укажете неверный логин, то средства уйдут другому пользователю Steam. <span class="link js-whereLogin">Где найти логин?</span></span>
                            </span>
                        </li>
                        <li class="element" itemprop="step" itemscope itemtype="http://schema.org/HowToSection">
                            <meta itemprop="position" content="2"/>
                            <span itemprop="text">Введите сумму, на которую хотите пополнить аккаунт.</span>
                        </li>
                        <li class="element" itemprop="step" itemscope itemtype="http://schema.org/HowToSection">
                            <meta itemprop="position" content="3"/>
                            <span itemprop="text">
                                Проверьте, что указали именно логин, а не никнейм и подтвердите это галкой.
                            </span>
                        </li>
                        <li class="element" itemprop="step" itemscope itemtype="http://schema.org/HowToSection">
                            <meta itemprop="position" content="4"/>
                            <span itemprop="text">Нажмите кнопку «Оплатить».</span>
                        </li>
                        <li class="element" itemprop="step" itemscope itemtype="http://schema.org/HowToSection">
                            <meta itemprop="position" content="5"/>
                            <span itemprop="text">
                                Вы перейдете на страницу, где необходимо выбрать метод оплаты.
                            </span>
                        </li>
                        <li class="element" itemprop="step" itemscope itemtype="http://schema.org/HowToSection">
                            <meta itemprop="position" content="6"/>
                            <span itemprop="text">
                                После успешной оплаты деньги поступят на баланс аккаунта в течение 2-15 минут.
                            </span>
                        </li>
                        <li class="element" itemprop="step" itemscope itemtype="http://schema.org/HowToSection">
                            <meta itemprop="position" content="7"/>
                            <span itemprop="text">
                                При возникновении вопросов <a href="https://vk.com/ice.games" title="Перейти на страницу сообщества ICE GAMES в VK" rel="nofollow" target="_blank" class="link">свяжитесь с поддержкой</a>.
                            </span>
                        </li>
                    </ol>
                </div>
                <div class="item js-tabBlock-faq" itemscope itemtype="https://schema.org/FAQPage">
                    <div class="collapse js-collapse" itemscope itemtype="https://schema.org/Question">
                        <button class="btn head">
                            <span class="title" itemprop="name">Лимиты и ограничения</span>
                            <span class="control"></span>
                        </button>
                        <div class="content" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                            <span itemprop="text">
                                Ограничения на минимальные суммы для всех способов зачисления – 100 рублей. Лимит на максимальное пополнение баланса Steam за 24 часа – равен 500$
                                <br>
                                ВНИМАНИЕ: ограничение распространяется на все способы пополнения. Если вы где-то уже пополнили ваш Steam на сумму 500$, наше пополнение может не пройти в связи с лимитом, будьте внимательны!
                            </span>
                        </div>
                    </div>
                    <div class="collapse js-collapse" itemscope itemtype="https://schema.org/Question">
                        <button class="btn head">
                            <span class="title" itemprop="name">Что такое "Логин"?</span>
                            <span class="control"></span>
                        </button>
                        <div class="content" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                            <span itemprop="text">
                                Логин — это то, что вы вводите при авторизации, у каждого пользователя он уникальный, а никнейм вы можете менять по своему усмотрению.
                            </span>
                        </div>
                    </div>
                    <div class="collapse js-collapse" itemscope itemtype="https://schema.org/Question">
                        <button class="btn head">
                            <span class="title" itemprop="name">У меня новый или ранее НЕ пополнявшийся аккаунт</span>
                            <span class="control"></span>
                        </button>
                        <div class="content" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                            <span itemprop="text">
                                Если совершаете первое пополнение аккаунта Steam, то валюта аккаунта может смениться на одну из списка ($, ₸, € и другие). Страна аккаунта тоже будет изменена автоматически.
                                <br>
                                В этом случае цены на внутренние товары Steam будут пересчитываться в валюту аккаунта ($, ₸, € и другие), а не ₽ (рубли). Учтите это при пополнении!
                            </span>
                        </div>
                    </div>
                    <div class="collapse js-collapse" itemscope itemtype="https://schema.org/Question">
                        <button class="btn head">
                            <span class="title" itemprop="name">Не пришли деньги</span>
                            <span class="control"></span>
                        </button>
                        <div class="content" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                            <span itemprop="text">
                                Если Вы указали верно ЛОГИН (это не никнейм) и баланс Вашего аккаунта - рубли (₽), пополнение происходит моментально.
                                <br>
                                Если Вам не поступили средства на баланс в течение часа, пожалуйста, обратитесь в Техническую поддержку.
                            </span>
                        </div>
                    </div>
                    <div class="collapse js-collapse" itemscope itemtype="https://schema.org/Question">
                        <button class="btn head">
                            <span class="title" itemprop="name">Какая политика возврата?</span>
                            <span class="control"></span>
                        </button>
                        <div class="content" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                            <span itemprop="text">
                                Если ваш аккаунт находится в регионе в котором мы не сможем реализовать пополнение, Вы в праве запросить возврат средств.
                                <br>
                                На Карту банка средства будут возвращены с вычетом 50р и 3% от суммы списания в течение 1 рабочего дня.
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="fillUpReviews">
            <div class="title">Отзывы</div>
            {{#if canAddReview}}
                <form action="{{ websiteAddress }}api/fillUpSteam/addReview" method="post" class="addReviewForm js-fillUpAddReviewFrom">
                    <div class="starRating js-error-eval">
                        <div class="label">Оцените работу сервиса</div>
                        <div class="stars">
                            <input class="input" type="radio" name="eval" value="5" id="star5">
                            <label class="star" for="star5">
                                <span class="icon icon-star"></span>
                            </label>
                            <input class="input" type="radio" name="eval" value="4" id="star4">
                            <label class="star" for="star4">
                                <span class="icon icon-star"></span>
                            </label>
                            <input class="input" type="radio" name="eval" value="3" id="star3">
                            <label class="star" for="star3">
                                <span class="icon icon-star"></span>
                            </label>
                            <input class="input" type="radio" name="eval" value="2" id="star2">
                            <label class="star" for="star2">
                                <span class="icon icon-star"></span>
                            </label>
                            <input class="input" type="radio" name="eval" value="1" id="star1">
                            <label class="star" for="star1">
                                <span class="icon icon-star"></span>
                            </label>
                        </div>
                    </div>
                    <div class="senderField textReview js-error-text">
                        <div class="autoSizeInput js-autoSizeInput" data-name="text">
                            <span class="placeholder js-placeholder">Отзыв до 1000 символов</span>
                            <div class="value js-value" contentEditable></div>
                        </div>
                        <button class="btn" type="submit">
                            <span class="icon icon-send"></span>
                        </button>
                    </div>
                </form>
            {{ else }}
                {{#unless reviewExists}}
                    <div class="description">
                        Для предотвращения накрутки добавление отзыва доступно только авторизованным пользователям после первого
                        пополнения баланса аккаунта Steam.
                    </div>
                {{/unless}}
            {{/if}}
            <div class="reviewsList js-filUpReviewsList" data-user-name="{{ person.login }}">
                {{#each reviews}}
                    {{> review
                            userLogin=user.login
                    }}
                {{/each}}
            </div>
            {{#iff countReviews '>' 5}}
                <button class="btn link translucent loadMore js-loadMoreFillUpReviewsBtn" data-skip="5">Загрузить еще</button>
            {{/iff}}
            <div class="externalReviews">
                <a href="https://vk.com/topic-198095537_46620037" target="_blank" rel="nofollow" class="btn border round withIcon font-weight-average">
                    <span class="icon icon-pinkExternalLink"></span> Отзывы в ВК
                </a>
                <a href="https://yandex.ru/maps/org/ice_games_store/7653444700/reviews/?ll=37.711258%2C55.779505&z=18" target="_blank" rel="nofollow" class="btn border round withIcon font-weight-average">
                    <span class="icon icon-pinkExternalLink"></span> Отзывы на Яндекс картах
                </a>
            </div>
        </div>
    </div>
    <div class="chips">
        <h2 class="title">Как пополнить кошелек Steam?</h2>
        <div class="description">Теперь вы можете пополнять баланс своего аккаунта в «Стиме» максимально быстро и выгодно. Сайт ICE GAMES запустил для этого специальный сервис. Проверьте сами, насколько это удобно! С нашим сервисом легко поддерживать баланс валюты в Steam, чтобы тратить ее на новые игры или оплату внутри игр! Внимание: для всех способов зачисления минимальная сумма составляет 100 рублей, максимальная — 500 $ за 24 часа.</div>
        <div class="items">
            <div class="item">
                <div class="head">
                    <img src="{{websiteAddress}}img/rub-monet.svg" alt="Рублевые монеты" class="img">
                    <h3 class="title">Различные способы оплаты в рублях</h3>
                </div>
                <div class="description">СБП (Сервис быстрых платежей), «Яндекс.Деньги», «Tinkoff Pay», «Qiwi» (при вводе номера банковской карты).</div>
            </div>
            <div class="item">
                <div class="head">
                    <img src="{{websiteAddress}}img/planet-cursor.svg" alt="Планета и курсор" class="img">
                    <h3 class="title">Онлайн-перевод</h3>
                </div>
                <div class="description">Пополняйте кошелек Steam без лишних действий и долгих ожиданий. Деньги поступают на Steam счет практически моментально.</div>
            </div>
            <div class="item">
                <div class="head">
                    <img src="{{websiteAddress}}img/hand-bonuses.svg" alt="Рука пользы" class="img">
                    <h3 class="title">Выгодные условия</h3>
                </div>
                <div class="description">Пользователи из России могут пополнять кошелек в Steam без дополнительных комиссий.</div>
            </div>
            <div class="item">
                <div class="head">
                    <img src="{{websiteAddress}}img/secure-lock.svg" alt="Замок защиты" class="img">
                    <h3 class="title">Безопасность</h3>
                </div>
                <div class="description">Все операции проходят через защищенное соединение, поэтому ваши данные и счет в Steam Wallet не попадут в руки злоумышленников.</div>
            </div>
        </div>
    </div>
</main>
