<main class="gamePage">
    <div class="breadcrumbs contentContainer">
        <div class="item">
            <a class="btn link" href="/">Главная</a>
        </div>
        <div class="item">
            <a class="btn link" href="/games">Каталог</a>
        </div>
        <div class="current">
            {{game.name}}
        </div>
    </div>
    <div class="cover blackout blackout-left blackout-bottom slide active js-slide">
        <img class="img" src="{{websiteAddress}}{{game.coverImg}}" alt="{{game.name}}" title="{{game.name}}">
        <div class="offer">
            {{#if gamesBunch}}
                <div class="packages">
                    {{#each gamesBunch}}
                        {{#if isCurrent}}
                            <div class="btn rounded translucent bg-paleBlue active package">
                                {{edition}}
                            </div>
                        {{else}}
                            <div class="tooltip package">
                                <a href="/games/{{id}}" class="btn rounded translucent bg-paleBlue">
                                    {{edition}}
                                </a>
                                {{#if elements}}
                                    <div class="prompt">
                                        <ul class="list">
                                            {{#each elements}}
                                                <li class="item">
                                                    {{name}}
                                                </li>
                                            {{/each}}
                                        </ul>
                                    </div>
                                {{/if}}
                            </div>
                        {{/if}}
                    {{/each}}
                </div>
            {{/if}}
            <div class="name">{{game.name}}</div>
            <div class="statuses">
                <div class="status positive">В наличии</div>
                <div class="status positive">Данный товар купили сегодня 30 раз</div>
            </div>
            <div class="description">
                {{game.description}}
            </div>
            <div class="price">
                <div class="toPrice">
                    <span class="value">
                        {{game.priceTo}}
                    </span>
                </div>
                <div class="fromPrice">
                    <span class="value">
                        {{game.priceFrom}}
                    </span>
                </div>
                <div class="discount">
                    {{game.discount}}
                </div>
            </div>
            <div class="actions">
                <button title="Добавить игру в корзину покупок" class="btn rounded increase bg-pink hover-backlight-blue">В корзину</button>
            </div>
            {{#if hasExtends}}
                <div class="extends">
                    {{#each extends}}
                        <div class="tooltip">
                            <button class="btn extend">
                                <img  class="img" src="{{@root.websiteAddress}}{{icon}}" alt="{{text}}" title="{{text}}">
                            </button>
                            <div class="prompt">
                                {{name}}
                            </div>
                        </div>
                    {{/each}}
                </div>
            {{/if}}
        </div>
    </div>
    <div class="contentContainer">
        <div class="main infoBlock">
            <ul class="fieldedList">
                <li class="item">
                    <div class="name">Язык:</div>
                    <div class="value">
                        {{#each languages}}
                            {{#if @last}}
                                {{name}}
                            {{else}}
                                {{name}},
                            {{/if}}
                        {{/each}}
                    </div>
                </li>
                <li class="item">
                    <div class="name">Регион активации:</div>
                    <div class="value">
                        {{#each regions}}
                            {{#if @last}}
                                {{name}}
                            {{else}}
                                {{name}},
                            {{/if}}
                        {{/each}}
                    </div>
                </li>
                <li class="item">
                    <div class="name">Сервис активации:</div>
                    <div class="value">
                        {{service.name}}
                    </div>
                </li>
                <li class="item">
                    <div class="name">Жанр:</div>
                    <div class="value">
                        {{#each genres}}
                            {{#if @last}}
                                {{name}}
                            {{else}}
                                {{name}},
                            {{/if}}
                        {{/each}}
                    </div>
                </li>
                <li class="item">
                    <div class="name">Платформа:</div>
                    <div class="value">
                        {{platform.name}}
                    </div>
                </li>
                <li class="item">
                    <div class="name">Издатель:</div>
                    <div class="value">
                        {{publisher.name}}
                    </div>
                </li>
                <li class="item">
                    <div class="name">Дата выхода:</div>
                    <div class="value">
                        {{game.releaseDate}}
                    </div>
                </li>
            </ul>
            <div class="gallerySlider js-gameGallerySlider">
                <button class="btn prev increase js-prevBtn">
                    <span class="icon-static icon-static-arrow"></span>
                </button>
                <div class="visibleAreaWrapper">
                    <div class="visibleArea js-visibleArea">
                        <div class="tape js-tape">
                            {{#if game.trailerLink}}
                                <div class="slide js-slide active">
                                    <button class="btn increase video js-playYouTubeVideo" title="Посмотреть трейлер игры" data-link="{{trailerId}}">
                                        <img class="img" src="https://img.youtube.com/vi/{{trailerId}}/maxresdefault.jpg" alt="Трейлер игры {{game.name}}">
                                    </button>
                                </div>
                                {{#each images}}
                                    <div class="slide js-slide{{#if (isLess @index 1)}} active{{/if}}">
                                        <button class="btn increase" title="Открыть на весь экран">
                                            <img class="img" src="{{@root.websiteAddress}}{{name}}" alt="Фото из галереи игы">
                                        </button>
                                    </div>
                                {{/each}}
                            {{else}}
                                {{#each images}}
                                    <div class="slide js-slide{{#if (isLess @index 2)}} active{{/if}}">
                                        <button class="btn increase" title="Открыть на весь экран">
                                            <img class="img" src="{{@root.websiteAddress}}{{name}}" alt="Фото из галереи игы">
                                        </button>
                                    </div>
                                {{/each}}
                            {{/if}}
                        </div>
                    </div>
                </div>
                <button class="btn next increase js-nextBtn">
                    <span class="icon-static icon-static-arrow"></span>
                </button>
            </div>
        </div>
        <div class="fullInfo">
            <div class="sideBar">
                <div class="doubleGameSlider">
                    <div class="title">Вам может понравится</div>
                    <div class="slider">
                        <div class="visibleAreaWrapper">
                            <div class="visibleArea">
                                <div class="tape">
                                    <div class="slide active">
                                        <a href="#" class="cardGame small" title="Перейти к странице игры">
                                            <div class="actions">
                                                <button class="btn like" title="Добавить игру в избранное">
                                                    <span class="icon-static icon-static-actionLike"></span>
                                                </button>
                                                <button
                                                        class="btn border rounded uppercase bg-darkPink hover-bg-pink inCart small"
                                                        title="Добавить данный товар в корзину покупок"
                                                >
                                                    В корзину
                                                </button>
                                            </div>
                                            <div class="head">
                                                <img class="img" src="/img/CoverDoomEternal.jpg" alt="Image of Doom ETERNAL" title="Doom ETERNAL">
                                                <div class="name">Doom ETERNAL</div>
                                            </div>
                                            <div class="price">
                                                <div class="toPrice">
                                                    <span class="value">999</span>
                                                </div>
                                                <div class="fromPrice">
                                                    <span class="value">1300</span>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="slide active">
                                        <a href="#" class="cardGame small" title="Перейти к странице игры">
                                            <div class="actions">
                                                <button class="btn like" title="Добавить игру в избранное">
                                                    <span class="icon-static icon-static-actionLike"></span>
                                                </button>
                                                <button
                                                        class="btn border rounded uppercase bg-darkPink hover-bg-pink inCart small"
                                                        title="Добавить данный товар в корзину покупок"
                                                >
                                                    В корзину
                                                </button>
                                            </div>
                                            <div class="head">
                                                <img class="img" src="/img/CoverDoomEternal.jpg" alt="Image of Doom ETERNAL" title="Doom ETERNAL">
                                                <div class="name">Doom ETERNAL</div>
                                            </div>
                                            <div class="price">
                                                <div class="toPrice">
                                                    <span class="value">999</span>
                                                </div>
                                                <div class="fromPrice">
                                                    <span class="value">1300</span>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="slide">
                                        <a href="#" class="cardGame small" title="Перейти к странице игры">
                                            <div class="actions">
                                                <button class="btn like" title="Добавить игру в избранное">
                                                    <span class="icon-static icon-static-actionLike"></span>
                                                </button>
                                                <button
                                                        class="btn border rounded uppercase bg-darkPink hover-bg-pink inCart small"
                                                        title="Добавить данный товар в корзину покупок"
                                                >
                                                    В корзину
                                                </button>
                                            </div>
                                            <div class="head">
                                                <img class="img" src="/img/CoverDoomEternal.jpg" alt="Image of Doom ETERNAL" title="Doom ETERNAL">
                                                <div class="name">Doom ETERNAL</div>
                                            </div>
                                            <div class="price">
                                                <div class="toPrice">
                                                    <span class="value">999</span>
                                                </div>
                                                <div class="fromPrice">
                                                    <span class="value">1300</span>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slideControls">
                            <button class="btn prev"></button>
                            <div class="progress"></div>
                            <button class="btn next"></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="info">
                <div class="generalInfo tabs js-gameInfoTabs">
                    <div class="nav">
                        <button class="btn round border big translucent active js-tabBtn" data-target-id="1">Об игре</button>
                        <button class="btn round border big translucent js-tabBtn" data-target-id="2">Активация</button>
                        {{#if gameElements}}
                            <button class="btn round border big translucent js-tabBtn" data-target-id="3">Состав набора</button>
                        {{/if}}
                        <button class="btn round border big translucent js-tabBtn" data-target-id="4">Игры серии</button>
                    </div>
                    <div class="blocks totalHeight infoBlock">
                        <div class="item active js-tabBlock-1">
                            <p class="paragraph">
                                {{game.description}}
                            </p>
                        </div>
                        <ul class="item bulletedList js-tabBlock-2">
                            {{#each stages}}
                                <li class="item">
                                    {{text}}
                                </li>
                            {{/each}}
                        </ul>
                        {{#if gameElements}}
                            <div class="item js-tabBlock-3">
                                {{#if gameEdition}}
                                    <div class="btn rounded bg-paleBlue package">
                                        {{gameEdition}}
                                    </div>
                                {{/if}}
                                <ul class="bulletedList">
                                    {{#each gameElements}}
                                        <li class="item">
                                            {{#if gameId}}
                                                <a href="/games/{{gameId}}">
                                                    {{name}}
                                                </a>
                                            {{else}}
                                                {{name}}
                                            {{/if}}
                                        </li>
                                    {{/each}}
                                </ul>
                            </div>
                        {{/if}}
                        {{#if gamesSeries}}
                            <div class="item js-tabBlock-4">
                                {{#if seriesIsSlider}}
                                    <div class="slider">
                                        <button class="btn prev increase">
                                            <span class="icon-static icon-static-arrow"></span>
                                        </button>
                                        <div class="visibleAreaWrapper">
                                            <div class="visibleArea">
                                                <div class="tape">
                                {{else}}
                                    <div class="row-game">
                                {{/if}}
                                {{#each gamesSeries}}
                                    {{#if seriesIsSlider}}
                                        <div class="slide{{#if (isLess @index 4)}} active{{/if}}">
                                    {{/if}}
                                        {{> game
                                            size='small'
                                            id=id
                                            img=img
                                            name=name
                                            priceTo=priceTo
                                            priceFrom=priceFrom
                                        }}
                                    {{#if seriesIsSlider}}
                                        </div>
                                    {{/if}}
                                {{/each}}
                                {{#if seriesIsSlider}}
                                                </div>
                                            </div>
                                        </div>
                                        <button class="btn next increase">
                                            <span class="icon-static icon-static-arrow"></span>
                                        </button>
                                    </div>
                                {{else}}
                                    </div>
                                {{/if}}
                            </div>
                        {{/if}}
                    </div>
                </div>
                <div class="systemInfo">
                    <div class="btn border round big title">Системные требования</div>
                    <ul class="fieldedList infoBlock">
                        {{#if game.os}}
                            <li class="item">
                                <div class="name">ОС:</div>
                                <div class="value">
                                    {{game.os}}
                                </div>
                            </li>
                        {{/if}}
                        <li class="item">
                            <div class="name">Процессор:</div>
                            <div class="value">
                                {{game.cpu}}
                            </div>
                        </li>
                        <li class="item">
                            <div class="name">Видеокарта:</div>
                            <div class="value">
                                {{game.graphicsCard}}
                            </div>
                        </li>
                        <li class="item">
                            <div class="name">Оперативная память:</div>
                            <div class="value">
                                {{game.ram}}
                            </div>
                        </li>
                        <li class="item">
                            <div class="name">Место на диске:</div>
                            <div class="value">
                                {{game.diskMemory}}
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="feedback tabs">
                    <div class="nav">
                        <button class="btn border round big translucent active">Отзывы</button>
                        <button class="btn border round big translucent">Комментарии</button>
                    </div>
                    <div class="blocks">
                        <div class="item reviews active">
                            <form action="#" method="post" class="addNew infoBlock locked">
                                <div class="starRating error">
                                    <div class="label">Оцените игру</div>
                                    <div class="stars">
                                        <input class="input" type="radio" name="rating" value="5" id="star5">
                                        <label class="star" for="star5">
                                            <span class="icon icon-star"></span>
                                        </label>
                                        <input class="input" type="radio" name="rating" value="5" id="star4">
                                        <label class="star" for="star4">
                                            <span class="icon icon-star"></span>
                                        </label>
                                        <input class="input" type="radio" name="rating" value="5" id="star3">
                                        <label class="star" for="star3">
                                            <span class="icon icon-star"></span>
                                        </label>
                                        <input class="input" type="radio" name="rating" value="5" id="star2">
                                        <label class="star" for="star2">
                                            <span class="icon icon-star"></span>
                                        </label>
                                        <input class="input" type="radio" name="rating" value="5" id="star1">
                                        <label class="star" for="star1">
                                            <span class="icon icon-star"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="senderField error textReview">
                                    <div class="autoSizeInput">
                                        <span class="placeholder">Напишите отзыв до 1000 символов</span>
                                        <div class="value" contentEditable></div>
                                    </div>
                                    <button class="btn" type="submit">
                                        <span class="icon icon-send"></span>
                                    </button>
                                </div>
                                <div class="lockBlock">
                                    <span class="icon icon-lock"></span>
                                    <div class="text">
                                        Для того, чтобы исключить накрутку, добавление отзыва доступно только после
                                        покупки игры.
                                    </div>
                                </div>
                            </form>
                            <div class="listItems">
                                <div class="item review">
                                    <div class="head">
                                        <a class="btn link userName" href="#" title="Перейти на страницу Айс214421">Айс214421</a>
                                        <div class="forGame">
                                            Отзыв на игру: <a class="link gameName" href="#">Адская носоглотка</a>
                                        </div>
                                    </div>
                                    <div class="grade">
                                        <span class="icon icon-starFill"></span>
                                        <span class="icon icon-starFill"></span>
                                        <span class="icon icon-starFill"></span>
                                        <span class="icon icon-starFill"></span>
                                        <span class="icon icon-star"></span>
                                    </div>
                                    <div class="text">Игра топ, быстро пришла, очень понравилась</div>
                                </div>
                                <div class="item review">
                                    <div class="head">
                                        <a class="btn link userName" href="#" title="Перейти на страницу Айс214421">Айс214421</a>
                                        <div class="forGame">
                                            Отзыв на игру: <a class="link gameName" href="#">Адская носоглотка</a>
                                        </div>
                                    </div>
                                    <div class="grade">
                                        <span class="icon icon-starFill"></span>
                                        <span class="icon icon-starFill"></span>
                                        <span class="icon icon-starFill"></span>
                                        <span class="icon icon-star"></span>
                                        <span class="icon icon-star"></span>
                                    </div>
                                    <div class="text">Игра топ, быстро пришла, очень понравилась</div>
                                </div>
                                <div class="item review">
                                    <div class="head">
                                        <a class="btn link userName" href="#" title="Перейти на страницу Айс214421">Айс214421</a>
                                        <div class="forGame">
                                            Отзыв на игру: <a class="link gameName" href="#">Адская носоглотка</a>
                                        </div>
                                    </div>
                                    <div class="grade">
                                        <span class="icon icon-starFill"></span>
                                        <span class="icon icon-starFill"></span>
                                        <span class="icon icon-starFill"></span>
                                        <span class="icon icon-starFill"></span>
                                        <span class="icon icon-starFill"></span>
                                    </div>
                                    <div class="text">Игра топ, быстро пришла, очень понравилась</div>
                                </div>
                            </div>
                            <div class="btn link translucent loadMore">Загрузить еще</div>
                        </div>
                        <div class="item comments">
                            <form action="#" method="post" class="addNew infoBlock">
                                <div class="senderField textReview">
                                    <div class="autoSizeInput">
                                        <span class="placeholder">Напишите комментарий до 1000 символов</span>
                                        <div class="value" contentEditable></div>
                                    </div>
                                    <button class="btn" type="submit">
                                        <span class="icon icon-send"></span>
                                    </button>
                                </div>
                            </form>
                            <div class="listItems">
                                <div class="item comment">
                                    <div class="head">
                                        <a class="btn link" href="#" title="Перейти в профиль пользователя Айс 214421">Айс 214421</a>
                                        <div class="reactions">
                                            <button class="btn active positive">
                                                <span class="icon icon-thumbsUp"></span> 54
                                            </button>
                                            <button class="btn negative">
                                                <span class="icon icon-thumbsDown"></span> 31
                                            </button>
                                        </div>
                                    </div>
                                    <div class="text">Игра топ, очень понравилась</div>
                                    <button class="btn link action">Ответить</button>
                                </div>
                                <div class="item comment">
                                    <div class="head">
                                        <a class="btn link" href="#" title="Перейти в профиль пользователя Айс 214421">Айс 214421</a>
                                        <div class="reactions">
                                            <button class="btn active positive">
                                                <span class="icon icon-thumbsUp"></span> 54
                                            </button>
                                            <button class="btn negative">
                                                <span class="icon icon-thumbsDown"></span> 31
                                            </button>
                                        </div>
                                    </div>
                                    <div class="text">Игра топ, очень понравилась</div>
                                    <button class="btn link action">Ответить</button>
                                    <div class="answers">
                                        <div class="answer">
                                            <div class="head">
                                                <a class="btn link" href="#" title="Перейти в профиль пользователя Айс 214421">Айс 214421</a>
                                                <div class="answerFor">ответ пользователю Айс 214421</div>
                                                <div class="reactions">
                                                    <button class="btn positive">
                                                        <span class="icon icon-thumbsUp"></span> 54
                                                    </button>
                                                    <button class="btn negative active">
                                                        <span class="icon icon-thumbsDown"></span> 31
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="text">Игра топ, очень понравилась</div>
                                            <button class="btn link action">Ответить</button>
                                        </div>
                                        <div class="senderField answerField">
                                            <div class="autoSizeInput">
                                                <span class="placeholder">Напишите Ваш ответ до 1000 символов</span>
                                                <div class="value" contentEditable></div>
                                            </div>
                                            <button class="btn" type="submit">
                                                <span class="icon icon-send"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="item comment">
                                    <div class="head">
                                        <a class="btn link" href="#" title="Перейти в профиль пользователя Айс 214421">Айс 214421</a>
                                        <div class="reactions">
                                            <button class="btn active positive">
                                                <span class="icon icon-thumbsUp"></span> 54
                                            </button>
                                            <button class="btn negative">
                                                <span class="icon icon-thumbsDown"></span> 31
                                            </button>
                                        </div>
                                    </div>
                                    <div class="text">Игра топ, очень понравилась</div>
                                    <button class="btn link action">Ответить</button>
                                </div>
                            </div>
                            <div class="btn link translucent loadMore">Загрузить еще</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="lastViews">
            <div class="title">Вы недавно смотрели</div>
            <div class="games">
                <a href="#" class="cardGame small" title="Перейти к странице игры">
                    <div class="actions">
                        <button class="btn like" title="Добавить игру в избранное">
                            <span class="icon-static icon-static-actionLike"></span>
                        </button>
                        <button
                                class="btn border rounded uppercase bg-darkPink hover-bg-pink inCart small"
                                title="Добавить данный товар в корзину покупок"
                        >
                            В корзину
                        </button>
                    </div>
                    <div class="head">
                        <img class="img" src="/img/CoverDoomEternal.jpg" alt="Image of Doom ETERNAL" title="Doom ETERNAL">
                        <div class="name">Doom ETERNAL</div>
                    </div>
                    <div class="price">
                        <div class="toPrice">
                            <span class="value">999</span>
                        </div>
                        <div class="fromPrice">
                            <span class="value">1300</span>
                        </div>
                    </div>
                </a>
                <a href="#" class="cardGame small" title="Перейти к странице игры">
                    <div class="actions">
                        <button class="btn like" title="Добавить игру в избранное">
                            <span class="icon-static icon-static-actionLike"></span>
                        </button>
                        <button
                                class="btn border rounded uppercase bg-darkPink hover-bg-pink inCart small"
                                title="Добавить данный товар в корзину покупок"
                        >
                            В корзину
                        </button>
                    </div>
                    <div class="head">
                        <img class="img" src="/img/CoverDoomEternal.jpg" alt="Image of Doom ETERNAL" title="Doom ETERNAL">
                        <div class="name">Doom ETERNAL</div>
                    </div>
                    <div class="price">
                        <div class="toPrice">
                            <span class="value">999</span>
                        </div>
                        <div class="fromPrice">
                            <span class="value">1300</span>
                        </div>
                    </div>
                </a>
                <a href="#" class="cardGame small" title="Перейти к странице игры">
                    <div class="actions">
                        <button class="btn like" title="Добавить игру в избранное">
                            <span class="icon-static icon-static-actionLike"></span>
                        </button>
                        <button
                                class="btn border rounded uppercase bg-darkPink hover-bg-pink inCart small"
                                title="Добавить данный товар в корзину покупок"
                        >
                            В корзину
                        </button>
                    </div>
                    <div class="head">
                        <img class="img" src="/img/CoverDoomEternal.jpg" alt="Image of Doom ETERNAL" title="Doom ETERNAL">
                        <div class="name">Doom ETERNAL</div>
                    </div>
                    <div class="price">
                        <div class="toPrice">
                            <span class="value">999</span>
                        </div>
                        <div class="fromPrice">
                            <span class="value">1300</span>
                        </div>
                    </div>
                </a>
                <a href="#" class="cardGame small" title="Перейти к странице игры">
                    <div class="actions">
                        <button class="btn like" title="Добавить игру в избранное">
                            <span class="icon-static icon-static-actionLike"></span>
                        </button>
                        <button
                                class="btn border rounded uppercase bg-darkPink hover-bg-pink inCart small"
                                title="Добавить данный товар в корзину покупок"
                        >
                            В корзину
                        </button>
                    </div>
                    <div class="head">
                        <img class="img" src="/img/CoverDoomEternal.jpg" alt="Image of Doom ETERNAL" title="Doom ETERNAL">
                        <div class="name">Doom ETERNAL</div>
                    </div>
                    <div class="price">
                        <div class="toPrice">
                            <span class="value">999</span>
                        </div>
                        <div class="fromPrice">
                            <span class="value">1300</span>
                        </div>
                    </div>
                </a>
                <a href="#" class="cardGame small" title="Перейти к странице игры">
                    <div class="actions">
                        <button class="btn like" title="Добавить игру в избранное">
                            <span class="icon-static icon-static-actionLike"></span>
                        </button>
                        <button
                                class="btn border rounded uppercase bg-darkPink hover-bg-pink inCart small"
                                title="Добавить данный товар в корзину покупок"
                        >
                            В корзину
                        </button>
                    </div>
                    <div class="head">
                        <img class="img" src="/img/CoverDoomEternal.jpg" alt="Image of Doom ETERNAL" title="Doom ETERNAL">
                        <div class="name">Doom ETERNAL</div>
                    </div>
                    <div class="price">
                        <div class="toPrice">
                            <span class="value">999</span>
                        </div>
                        <div class="fromPrice">
                            <span class="value">1300</span>
                        </div>
                    </div>
                </a>
                <a href="#" class="cardGame small" title="Перейти к странице игры">
                    <div class="actions">
                        <button class="btn like" title="Добавить игру в избранное">
                            <span class="icon-static icon-static-actionLike"></span>
                        </button>
                        <button
                                class="btn border rounded uppercase bg-darkPink hover-bg-pink inCart small"
                                title="Добавить данный товар в корзину покупок"
                        >
                            В корзину
                        </button>
                    </div>
                    <div class="head">
                        <img class="img" src="/img/CoverDoomEternal.jpg" alt="Image of Doom ETERNAL" title="Doom ETERNAL">
                        <div class="name">Doom ETERNAL</div>
                    </div>
                    <div class="price">
                        <div class="toPrice">
                            <span class="value">999</span>
                        </div>
                        <div class="fromPrice">
                            <span class="value">1300</span>
                        </div>
                    </div>
                </a>
                <a href="#" class="cardGame small" title="Перейти к странице игры">
                    <div class="actions">
                        <button class="btn like" title="Добавить игру в избранное">
                            <span class="icon-static icon-static-actionLike"></span>
                        </button>
                        <button
                                class="btn border rounded uppercase bg-darkPink hover-bg-pink inCart small"
                                title="Добавить данный товар в корзину покупок"
                        >
                            В корзину
                        </button>
                    </div>
                    <div class="head">
                        <img class="img" src="/img/CoverDoomEternal.jpg" alt="Image of Doom ETERNAL" title="Doom ETERNAL">
                        <div class="name">Doom ETERNAL</div>
                    </div>
                    <div class="price">
                        <div class="toPrice">
                            <span class="value">999</span>
                        </div>
                        <div class="fromPrice">
                            <span class="value">1300</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</main>