{{#if product.coverVideo}}
    <div class="videoMacro" itemscope itemtype="https://schema.org/VideoObject">
        <meta itemprop="name" content="Трейлер {{product.name}}">
        <meta itemprop="uploadDate" content="{{product.createdAt}}">
        <meta itemprop="description" content="{{encodeString product.description}}">
        <meta itemprop="contentUrl" content="{{websiteAddress}}{{product.coverVideo}}" />
    </div>
{{/if}}
<main class="gamePage js-gamePage" itemscope itemtype="http://schema.org/Product">
    {{#unless product.inStock}}
        {{#unless @root.isAuth}}
            <!--noindex-->
            <div class="subscribeModalContainer js-subscribeModal">
                <div class="subscribeModalBlock">
                    <div class="title">Укажите Ваш E-mail</div>
                    <p class="text">
                        Когда товар появится в наличии, на указанный E-mail придет уведомление. Благодарим за ожидание!
                    </p>
                    <div class="senderField small email js-senderField">
                        <div class="autoSizeInput js-autoSizeInput" data-name="text">
                            <span class="placeholder js-placeholder">example@icegames.store</span>
                            <div class="value js-value" contentEditable></div>
                        </div>
                        <button class="btn js-submit">
                            <span class="icon icon-send"></span>
                        </button>
                    </div>
                    <div class="msgResult js-msgResult"></div>
                </div>
            </div>
            <!--/noindex-->
        {{/unless}}
    {{/unless}}
    {{> breadcrumbs}}
    <div
        class="cover js-productPageCover"
        {{#if product.coverVideo}} data-video-name="{{product.coverVideo}}"{{/if}}
    >
        {{#if product.coverVideo}}
            <video class="video js-coverVideo" loop muted></video>
        {{/if}}
        <img class="img" src="{{websiteAddress}}{{product.coverImg}}" alt="{{product.name}}" title="{{product.name}}">
        <div class="contentContainer offer">
            {{#iff bundleProducts.length '>' 1}}
                <div class="packages mobileInvisibleScroll">
                    {{#each bundleProducts}}
                        {{#if isCurrent}}
                            <div class="btn rounded translucent bg-paleBlue active package">
                                {{editionId.name}}
                            </div>
                        {{else}}
                            <div class="tooltip package">
                                <a href="/games/{{alias}}" class="btn rounded translucent bg-paleBlue">
                                    {{editionId.name}}
                                </a>
                                {{#if elements.length}}
                                    <div class="prompt">
                                        <ul class="list">
                                            {{#each elements}}
                                                <li class="item">
                                                    {{name}}
                                                </li>
                                            {{/each}}
                                            {{#iff moreElements '>' 0}}
                                                <li class="item moreElements">И еще {{moreElements}}...</li>
                                            {{/iff}}
                                        </ul>
                                    </div>
                                {{/if}}
                            </div>
                        {{/if}}
                    {{/each}}
                </div>
            {{/iff}}
            <div class="mobileImgContainer">
                <img class="mobileImg" src="{{websiteAddress}}{{product.img}}" alt="{{product.name}}" title="{{product.name}}" itemprop="image">
            </div>
            <h1 class="name">Ключ для <span itemprop="name">{{product.name}}</span></h1>
            <div class="description" itemprop="description">{{encodeString product.description}}</div>
            <div class="offerMacro" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                {{#if product.preOrder}}
                    <link itemprop="availability" href="http://schema.org/PreOrder">
                {{else}}
                    <div class="statuses">
                        {{#if product.inStock}}
                            <div class="status positive">в наличии</div>
                            <link itemprop="availability" href="http://schema.org/InStock">
                        {{else}}
                            <div class="status negative">нет в наличии</div>
                            <link itemprop="availability" href="http://schema.org/OutOfStock">
                        {{/if}}
                        <div class="status positive">приобрели сегодня {{countSales}} раз(а)</div>
                    </div>
                {{/if}}
                <div class="buyContainer">
                    <div class="price">
                        {{#iff product.discount '>' 0}}
                            <div class="rowDiscount">
                                <div class="fromPrice">
                                    <span class="value">{{product.priceFrom}}</span>
                                </div>
                                <div class="discount">{{product.discount}}</div>
                            </div>
                        {{/iff}}
                        <div class="toPrice">
                            <span class="value" itemprop="price">{{product.priceTo}}</span>
                            <meta itemprop="priceCurrency" content="RUB">
                        </div>
                    </div>
                    <div class="actions">
                        {{#if @root.isAuth}}
                            <button class="btn js-addInFavoritesProductPage{{#if currentProductInFavorite}} js-active{{/if}}" title="{{#if currentProductInFavorite}}Удалить товар из избранного{{else}}Добавить товар в избранное{{/if}}" data-product-id="{{product.id}}">
                                <span class="icon icon-static icon-static-bigLike js-icon{{#if currentProductInFavorite}} active{{/if}}"></span>
                            </button>
                        {{/if}}
                        {{#if product.inStock}}
                            {{#if currentProductInCart}}
                                <button
                                        title="Перейти в корзину покупок"
                                        class="btn elongated rounded increase bg-pink hover-backlight-blue js-addToCartBtn js-active"
                                >Добавлено</button>
                            {{else}}
                                <button
                                        title="Добавить данный товар в корзину покупок"
                                        class="btn elongated rounded increase bg-pink hover-backlight-blue js-addToCartBtn"
                                        data-product-id="{{product.id}}"
                                >В корзину</button>
                            {{/if}}
                        {{else}}
                            {{#if subscribed}}
                                <div
                                        title="Когда товар появится в наличии, на Ваш E-mail придет уведомление."
                                        class="btn elongated rounded bg-pink"
                                >Уведомление оформлено</div>
                            {{else}}
                                <button
                                        title="Подписаться на уведомление о поступлении товара"
                                        class="
                                    btn elongated rounded increase bg-pink hover-backlight-blue js-subscribeInStock
                                    {{#unless @root.isAuth}} js-notAuth{{/unless}}
                                "
                                        data-product-id="{{product.id}}"
                                >Уведомить</button>
                            {{/if}}
                        {{/if}}
                    </div>
                    {{#orIf product.preOrder product.dlc}}
                        <div class="moreInfoBlocks">
                            {{#if product.preOrder}}
                                <div class="moreInfo preOrderInfo">
                                    Внимание! Это предзаказ. Ключ будет доставлен Вам
                                    <span class="date">{{product.pointReleaseDate}}</span>
                                </div>
                            {{/if}}
                            {{#if product.dlc}}
                                <div class="moreInfo dlcInfo">
                                    Для активации дополнения требуется наличие
                                    {{#if product.dlcForFree}}
                                        бесплатной
                                    {{/if}}
                                    игры
                                    {{#if product.dlcForId}}
                                        <a
                                                href="{{websiteAddress}}games/{{product.dlcForId.alias}}"
                                                title="Перейти к product.dlcForId.name"
                                                class="link underlined"
                                        >
                                            {{product.dlcForId.name}}
                                        </a>
                                    {{else}}
                                        {{product.dlcForName}}
                                    {{/if}}
                                    на аккаунте
                                    {{product.activationServiceId.name}}
                                </div>
                            {{/if}}
                        </div>
                    {{/orIf}}
                </div>
            </div>
            {{#if product.extends.length}}
                <div class="extends mobileInvisibleScroll">
                    {{#each product.extends}}
                        <div class="tooltip">
                            <button class="btn extend">
                                <img  class="extendIcon" src="{{@root.websiteAddress}}{{icon}}" alt="{{name}}" title="{{name}}">
                            </button>
                            <div class="prompt pointer-triangle js-promptProduct">
                                <div class="extendName">{{name}}</div>
                            </div>
                        </div>
                    {{/each}}
                </div>
            {{/if}}
        </div>
    </div>
    <div class="contentContainer">
        <div class="main infoBlock">
            <div class="gallerySlider js-gameGallerySlider">
                <button class="btn prev increase js-prevBtn">
                    <span class="icon-static icon-static-arrow"></span>
                </button>
                <div class="visibleAreaWrapper">
                    <div class="visibleArea js-visibleArea">
                        <div class="tape js-tape">
                            {{#each product.images}}
                                <button class="btn slide js-slide js-largeImg" title="Увеличить" itemscope itemtype="https://schema.org/ImageObject">
                                    <meta itemprop="name" content="Картинка игры {{@root.product.name}}">
                                    <meta itemprop="description" content="Картинка игры {{@root.product.name}} в интернет магазине ключей игр — ICE GAMES">
                                    <img itemprop="contentUrl" class="img js-targetImg" src="{{@root.websiteAddress}}{{name}}" alt="Изображение-{{@index}} из игры {{@root.product.name}}">
                                </button>
                            {{/each}}
                            {{#if product.trailerLink}}
                                <button class="slide js-slide btn video js-playYouTubeVideo" title="Посмотреть трейлер игры" data-link="{{trailerId}}">
                                    <img class="img" src="https://img.youtube.com/vi/{{trailerId}}/{{typeTrailerCover}}.jpg" alt="Трейлер игры {{game.name}}" title="Трейлер игр {{game.name}}">
                                </button>
                            {{/if}}
                        </div>
                    </div>
                </div>
                <button class="btn next increase js-nextBtn">
                    <span class="icon-static icon-static-arrow"></span>
                </button>
            </div>
            <ul class="fieldedList">
                <li class="item">
                    <div class="name">Жанр:</div>
                    <div class="value">
                        {{#each product.genres}}
                            {{#if @last}}
                                {{name}}
                            {{else}}
                                {{name}},
                            {{/if}}
                        {{/each}}
                    </div>
                </li>
                <li class="item">
                    <div class="name">Язык:</div>
                    <div class="value">{{product.languages}}</div>
                </li>
                <li class="item">
                    <div class="name">Сервис активации:</div>
                    <div class="value">
                        {{product.activationServiceId.name}}
                    </div>
                </li>
                <li class="item">
                    <div class="name">Регион активации:</div>
                    <div class="value">
                        {{#each product.activationRegions}}
                            {{#if @last}}
                                {{name}}
                            {{else}}
                                {{name}},
                            {{/if}}
                        {{/each}}
                    </div>
                </li>
                <li class="item">
                    <div class="name">Платформа:</div>
                    <div class="value">
                        {{product.platformId.name}}
                    </div>
                </li>
                <li class="item secondary">
                    <div class="name">Издатель:</div>
                    <div class="value">
                        {{product.publisherId.name}}
                    </div>
                </li>
                <li class="item secondary">
                    <div class="name">Дата выхода:</div>
                    <div class="value">
                        {{product.strMonthReleaseDate}}
                    </div>
                </li>
            </ul>
        </div>
        <div class="fullInfo">
            <div class="sideBar">
                {{#if additions.length}}
                    <div class="doubleGameSlider">
                        <div class="title">Дополнения к игре</div>
                        <div class="slider{{#iff additions.length '>' 2}} js-additionsProductSlider{{/iff}}">
                            <div class="visibleAreaWrapper">
                                <div class="visibleArea js-visibleArea">
                                    <div class="tape js-tape">
                                        {{#each additions}}
                                            <div class="slide js-slide{{#iff @index '<' 2}} active{{/iff}}">
                                                {{> game
                                                        id=_id
                                                        size='small'
                                                }}
                                            </div>
                                        {{/each}}
                                    </div>
                                </div>
                            </div>
                            {{#iff additions.length '>' 2}}
                                <div class="slideControls-rounded">
                                    <button class="btn prev js-prevBtn"></button>
                                    <button class="btn next js-nextBtn"></button>
                                </div>
                            {{/iff}}
                        </div>
                    </div>
                {{/if}}
                {{#if articles.length}}
                    <div class="articlesGameSlider">
                        <div class="title">Упоминания в блоге</div>
                        <div class="slider{{#iff articles.length '>' 1}} js-articlesGameSlider{{/iff}}">
                            <div class="visibleAreaWrapper">
                                <div class="visibleArea js-visibleArea">
                                    <div class="tape js-tape">
                                        {{#each articles}}
                                            <a href="{{@root.websiteAddress}}blog/{{alias}}" class="slide newsPreview js-slide{{#if @first}} active{{/if}}">
                                                <img class="img" src="{{@root.websiteAddress}}{{img}}" alt="Изображение записи из блога {{name}}" title="Изображение записи из блога {{name}}">
                                                <div class="attributes">
                                                    <div class="btn small round border small bg-darkLilac">
                                                        {{#iff type '===' 'news'}}Новости{{else}}Статьи{{/iff}}
                                                    </div>
                                                    <div class="date">{{createdDate}}</div>
                                                </div>
                                                <div class="description">
                                                    <div class="title">{{name}}</div>
                                                    <div class="text">{{introText}}</div>
                                                </div>
                                            </a>
                                        {{/each}}
                                    </div>
                                </div>
                            </div>
                            {{#iff articles.length '>' 1}}
                                <div class="slideControls-rounded">
                                    <button class="btn prev js-prevBtn"></button>
                                    <button class="btn next js-nextBtn"></button>
                                </div>
                            {{/iff}}
                        </div>
                    </div>
                {{/if}}
                {{#if recProducts.length}}
                    <div class="doubleGameSlider">
                        <div class="title">Вам может понравится</div>
                        <div class="slider{{#iff recProducts.length '>' 2}} js-recProductSlider{{/iff}}">
                            <div class="visibleAreaWrapper">
                                <div class="visibleArea js-visibleArea">
                                    <div class="tape js-tape">
                                        {{#each recProducts}}
                                            <div class="slide js-slide{{#iff @index '<' 2}} active{{/iff}}">
                                                {{> game
                                                        id=_id
                                                        size='small'
                                                }}
                                            </div>
                                        {{/each}}
                                    </div>
                                </div>
                            </div>
                            {{#iff recProducts.length '>' 2}}
                                <div class="slideControls-rounded">
                                    <button class="btn prev js-prevBtn"></button>
                                    <button class="btn next js-nextBtn"></button>
                                </div>
                            {{/iff}}
                        </div>
                    </div>
                {{/if}}
            </div>
            <div class="info">
                <div class="generalInfo tabs js-gameInfoTabs">
                    <div class="nav mobileInvisibleScroll">
                        <button class="btn round border big translucent active js-tabBtn" data-target-id="1">Об игре</button>
                        <button class="btn round border big translucent js-tabBtn" data-target-id="2">Активация</button>
                        {{#if product.elements.length}}
                            <button class="btn round border big translucent js-tabBtn" data-target-id="3">Состав набора</button>
                        {{/if}}
                        {{#if seriesProducts.length}}
                            {{#unless product.recOs}}
                                <button class="btn round border big translucent js-tabBtn" data-target-id="4">
                                    Системные требования
                                </button>
                            {{/unless}}
                        {{/if}}
                    </div>
                    <div class="items totalHeight infoBlock">
                        <div class="item description active js-tabBlock-1">
                            {{encodeString product.description}}
                        </div>
                        <ul class="item bulletedList notSeparator js-tabBlock-2">
                            {{#each product.activationServiceId.stages}}
                                <li class="item">
                                    <p>{{encodeString name}}</p>
                                </li>
                            {{/each}}
                        </ul>
                        {{#if product.elements.length}}
                            <div class="item js-tabBlock-3">
                                {{#if product.editionId}}
                                    <div class="btn rounded bg-paleBlue package">
                                        {{product.editionId.name}}
                                    </div>
                                {{/if}}
                                <ul class="bulletedList">
                                    {{#each product.elements}}
                                        {{#iff @index '<' 5}}
                                            {{#if productId}}
                                                <li class="item product">
                                                    <a href="/games/{{productId.alias}}" class="link underlined name" title="Перейти к игре {{productId.name}}">
                                                        <img
                                                                src="{{@root.websiteAddress}}{{productId.img}}"
                                                                alt="Обложка к игре {{productId.name}}"
                                                                title="Обложка к игре {{productId.name}}"
                                                                class="img"
                                                        >
                                                        <span class="name">{{productId.name}}</span>
                                                    </a>
                                                </li>
                                            {{else}}
                                                <li class="item">
                                                    <span class="name">{{name}}</span>
                                                </li>
                                            {{/if}}
                                        {{else}}
                                            {{#iff @index '===' 5}}
                                                </ul>
                                                <ul class="bulletedList hiddenElementsList js-moreElementsList">
                                            {{/iff}}
                                            {{#if productId}}
                                                <li class="item product">
                                                    <a href="/games/{{productId.alias}}" class="link underlined name" title="Перейти к игре {{productId.name}}">
                                                        <img
                                                                src="{{@root.websiteAddress}}{{productId.img}}"
                                                                alt="Обложка к игре {{productId.name}}"
                                                                title="Обложка к игре {{productId.name}}"
                                                                class="img"
                                                        >
                                                        <span class="name">{{productId.name}}</span>
                                                    </a>
                                                </li>
                                            {{else}}
                                                <li class="item">
                                                    <span class="name">{{name}}</span>
                                                </li>
                                            {{/if}}
                                        {{/iff}}
                                    {{/each}}
                                </ul>
                                {{#iff product.elements.length '>' 5}}
                                    <button class="btn moreElements js-collapse" data-target=".js-moreElementsList">Еще {{sub product.elements.length 5}}...</button>
                                {{/iff}}
                            </div>
                        {{/if}}
                        {{#if seriesProducts.length}}
                            {{#unless product.recOs}}
                                <ul class="item js-tabBlock-4 fieldedList">
                                    {{#if product.os}}
                                        <li class="item">
                                            <div class="name">ОС:</div>
                                            <div class="value">
                                                {{product.os}}
                                            </div>
                                        </li>
                                    {{/if}}
                                    <li class="item">
                                        <div class="name">Процессор:</div>
                                        <div class="value">
                                            {{product.cpu}}
                                        </div>
                                    </li>
                                    <li class="item">
                                        <div class="name">Видеокарта:</div>
                                        <div class="value">
                                            {{product.graphicsCard}}
                                        </div>
                                    </li>
                                    <li class="item">
                                        <div class="name">Оперативная память:</div>
                                        <div class="value">
                                            {{product.ram}}
                                        </div>
                                    </li>
                                    <li class="item">
                                        <div class="name">Место на диске:</div>
                                        <div class="value">
                                            {{product.diskMemory}}
                                        </div>
                                    </li>
                                </ul>
                            {{/unless}}
                        {{/if}}
                    </div>
                </div>
                {{#if product.recOs}}
                    <div class="generalInfo tabs js-gameInfoSystemParams">
                        <div class="nav mobileInvisibleScroll">
                            <button class="btn round border big translucent active js-tabBtn" data-target-id="1">Минимальные требования</button>
                            <button class="btn round border big translucent js-tabBtn" data-target-id="2">Рекомендуемые тробования</button>
                        </div>
                        <div class="items totalHeight infoBlock">
                            <ul class="item js-tabBlock-1 fieldedList active">
                                {{#if product.os}}
                                    <li class="item">
                                        <div class="name">ОС:</div>
                                        <div class="value">
                                            {{product.os}}
                                        </div>
                                    </li>
                                {{/if}}
                                <li class="item">
                                    <div class="name">Процессор:</div>
                                    <div class="value">
                                        {{product.cpu}}
                                    </div>
                                </li>
                                <li class="item">
                                    <div class="name">Видеокарта:</div>
                                    <div class="value">
                                        {{product.graphicsCard}}
                                    </div>
                                </li>
                                <li class="item">
                                    <div class="name">Оперативная память:</div>
                                    <div class="value">
                                        {{product.ram}}
                                    </div>
                                </li>
                                <li class="item">
                                    <div class="name">Место на диске:</div>
                                    <div class="value">
                                        {{product.diskMemory}}
                                    </div>
                                </li>
                            </ul>
                            <ul class="item js-tabBlock-2 fieldedList">
                                {{#if product.os}}
                                    <li class="item">
                                        <div class="name">ОС:</div>
                                        <div class="value">
                                            {{product.recOs}}
                                        </div>
                                    </li>
                                {{/if}}
                                <li class="item">
                                    <div class="name">Процессор:</div>
                                    <div class="value">
                                        {{product.recCpu}}
                                    </div>
                                </li>
                                <li class="item">
                                    <div class="name">Видеокарта:</div>
                                    <div class="value">
                                        {{product.recGraphicsCard}}
                                    </div>
                                </li>
                                <li class="item">
                                    <div class="name">Оперативная память:</div>
                                    <div class="value">
                                        {{product.recRam}}
                                    </div>
                                </li>
                                <li class="item">
                                    <div class="name">Место на диске:</div>
                                    <div class="value">
                                        {{product.recDiskMemory}}
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                {{/if}}
                <div class="systemInfo">
                    {{#if seriesProducts.length}}
                        <div class="btn border round big title">Игры серии</div>
                        <div class="productSeries infoBlock">
                            {{#if seriesIsSlider}}
                            <div class="slider js-seriesSlider">
                                <button class="btn prev increase js-prevBtn">
                                    <span class="icon-static icon-static-arrow"></span>
                                </button>
                            <div class="visibleAreaWrapper">
                            <div class="visibleArea js-visibleArea">
                            <div class="tape js-tape">
                            {{else}}
                            <div class="rowProducts mobileScroll">
                            {{/if}}
                            {{#each seriesProducts}}
                                {{#if @root.seriesIsSlider}}
                                <div class="slide js-slide">
                                {{/if}}
                                {{> game
                                        size='small'
                                        id=_id
                                }}
                                {{#if @root.seriesIsSlider}}
                                </div>
                                {{/if}}
                            {{/each}}
                            {{#if seriesIsSlider}}
                            </div>
                            </div>
                            </div>
                                <button class="btn next increase js-nextBtn">
                                    <span class="icon-static icon-static-arrow"></span>
                                </button>
                            </div>
                            {{else}}
                            </div>
                            {{/if}}
                        </div>
                    {{else}}
                        {{#unless product.recOs}}
                            <div class="btn border round big title">Системные требования</div>
                            <ul class="fieldedList infoBlock">
                                {{#if product.os}}
                                    <li class="item">
                                        <div class="name">ОС:</div>
                                        <div class="value">
                                            {{product.os}}
                                        </div>
                                    </li>
                                {{/if}}
                                <li class="item">
                                    <div class="name">Процессор:</div>
                                    <div class="value">
                                        {{product.cpu}}
                                    </div>
                                </li>
                                <li class="item">
                                    <div class="name">Видеокарта:</div>
                                    <div class="value">
                                        {{product.graphicsCard}}
                                    </div>
                                </li>
                                <li class="item">
                                    <div class="name">Оперативная память:</div>
                                    <div class="value">
                                        {{product.ram}}
                                    </div>
                                </li>
                                <li class="item">
                                    <div class="name">Место на диске:</div>
                                    <div class="value">
                                        {{product.diskMemory}}
                                    </div>
                                </li>
                            </ul>
                        {{/unless}}
                    {{/if}}
                </div>
                <div class="feedback tabs js-feedbackProductTabs">
                    <div class="nav">
                        <button class="btn border round big translucent active js-tabBtn" data-target-id="1">Отзывы</button>
                        <button class="btn border round big translucent js-tabBtn" data-target-id="2">Комментарии</button>
                    </div>
                    <div class="blocks">
                        <div class="item reviews active js-tabBlock-1">
                            {{#if isProductNoReview}}
                                <form action="/api/products/{{product.id}}/review" method="post" class="addNew infoBlock js-addReviewForm{{#if isProductNotPurchased}} locked{{/if}}">
                                    <div class="starRating js-error-eval">
                                        <div class="label">Оцените игру</div>
                                        <div class="stars">
                                            <input class="input" type="radio" name="eval" value="5" id="star5"{{#if isProductNotPurchased}} disabled{{/if}}>
                                            <label class="star" for="star5">
                                                <span class="icon icon-star"></span>
                                            </label>
                                            <input class="input" type="radio" name="eval" value="4" id="star4"{{#if isProductNotPurchased}} disabled{{/if}}>
                                            <label class="star" for="star4">
                                                <span class="icon icon-star"></span>
                                            </label>
                                            <input class="input" type="radio" name="eval" value="3" id="star3"{{#if isProductNotPurchased}} disabled{{/if}}>
                                            <label class="star" for="star3">
                                                <span class="icon icon-star"></span>
                                            </label>
                                            <input class="input" type="radio" name="eval" value="2" id="star2"{{#if isProductNotPurchased}} disabled{{/if}}>
                                            <label class="star" for="star2">
                                                <span class="icon icon-star"></span>
                                            </label>
                                            <input class="input" type="radio" name="eval" value="1" id="star1"{{#if isProductNotPurchased}} disabled{{/if}}>
                                            <label class="star" for="star1">
                                                <span class="icon icon-star"></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="senderField textReview js-error-text">
                                        <div class="autoSizeInput js-autoSizeInput" data-name="text">
                                            <span class="placeholder js-placeholder">До 1000 символов</span>
                                            <div class="value js-value"{{#unless isProductNotPurchased}} contentEditable{{/unless}}></div>
                                        </div>
                                        <button class="btn" type="submit"{{#if isProductNotPurchased}} disabled{{/if}}>
                                            <span class="icon icon-send"></span>
                                        </button>
                                    </div>
                                    {{#if isProductNotPurchased}}
                                        <div class="lockBlock">
                                            <span class="icon icon-lock"></span>
                                            <div class="text">
                                                Для предотвращения накрутки, добавление отзыва доступно только авторизованным пользователям после
                                                покупки игры.
                                            </div>
                                        </div>
                                    {{/if}}
                                </form>
                            {{/if}}
                            <div class="listItems js-listReviews"{{#if @root.person.login}} data-user-name="{{@root.person.login}}"{{/if}}>
                                {{#each reviews}}
                                    {{> review
                                            userLogin=user.login
                                            eval=eval
                                            text=text
                                    }}
                                {{/each}}
                            </div>
                            {{#iff countReviews '>' 5}}
                                <div class="btn link translucent loadMore">Загрузить еще</div>
                            {{/iff}}
                        </div>
                        <div class="item comments js-tabBlock-2">
                            <form action="/api/comments" method="post" data-skip="3" data-ref="product" data-subject-id="{{product.id}}" class="addNew infoBlock js-commentProductForm{{#unless @root.isAuth}} locked{{/unless}}">
                                <div class="senderField textReview">
                                    <div class="autoSizeInput js-autoSizeInput" data-name="text">
                                        <span class="placeholder js-placeholder">До 1000 символов</span>
                                        <div class="value js-value"{{#if @root.isAuth}} contentEditable{{/if}}></div>
                                    </div>
                                    <button class="btn" type="submit"{{#unless @root.isAuth}} disabled{{/unless}}>
                                        <span class="icon icon-send"></span>
                                    </button>
                                </div>
                                {{#unless @root.isAuth}}
                                    <div class="lockBlock">
                                        <span class="icon icon-lock"></span>
                                        <div class="text">
                                            Авторизуйтесь для добавления комментариев.
                                        </div>
                                    </div>
                                {{/unless}}
                            </form>
                            <div class="listItems js-listComments"{{#if @root.person.login}}data-user-name="{{@root.person.login}}{{/if}}">
                                {{#if comments}}
                                    {{#each comments}}
                                        <div class="item comment">
                                            <div class="head">
                                                <a class="btn link" href="{{@root.websiteAddress}}rating/{{author.login}}" title="Перейти в профиль пользователя {{author.login}}">{{author.login}}</a>
                                                <!--<div class="reactions">
                                                    <button class="btn active positive">
                                                        <span class="icon icon-thumbsUp"></span> 54
                                                    </button>
                                                    <button class="btn negative">
                                                        <span class="icon icon-thumbsDown"></span> 31
                                                    </button>
                                                </div>-->
                                            </div>
                                            <div class="text">
                                                {{text}}
                                            </div>
                                            <!--<button class="btn link action">Ответить</button>-->
                                        </div>
                                    {{/each}}
                                {{/if}}
                                <!--<div class="item comment">
                                    <div class="head">
                                        <a class="btn link" href="#" title="Перейти в профиль пользователя Айс 214421">Айс 214421</a>
                                        <div class="reactions">
                                            <button class="btn active positive">
                                                <span class="icon icon-thumbsUp"></span> 54
                                            </button>
                                            <button class="btn negative">
                                                <span class="icon icon-thumbsDown"></span> 31
                                            </button>
                                        </div>
                                    </div>
                                    <div class="text">Игра топ, очень понравилась</div>
                                    <button class="btn link action">Ответить</button>
                                    <div class="answers">
                                        <div class="answer">
                                            <div class="head">
                                                <a class="btn link" href="#" title="Перейти в профиль пользователя Айс 214421">Айс 214421</a>
                                                <div class="answerFor">ответ пользователю Айс 214421</div>
                                                <div class="reactions">
                                                    <button class="btn positive">
                                                        <span class="icon icon-thumbsUp"></span> 54
                                                    </button>
                                                    <button class="btn negative active">
                                                        <span class="icon icon-thumbsDown"></span> 31
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="text">Игра топ, очень понравилась</div>
                                            <button class="btn link action">Ответить</button>
                                        </div>
                                        <div class="senderField answerField">
                                            <div class="autoSizeInput">
                                                <span class="placeholder">Напишите Ваш ответ до 1000 символов</span>
                                                <div class="value" contentEditable></div>
                                            </div>
                                            <button class="btn" type="submit">
                                                <span class="icon icon-send"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>-->
                            </div>
                            {{#iff countComments '>' 3}}
                                <div class="btn link translucent loadMore js-loadMoreCommentBtn">Загрузить еще</div>
                            {{/iff}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{#if lastViewedProducts.length}}
            <div class="lastViews">
                <div class="title">Вы недавно смотрели</div>
                <div class="games mobileInvisibleScroll">
                    {{#each lastViewedProducts}}
                        {{#unless currentPorductPage}}
                            {{> game
                                id=_id
                            }}
                        {{/unless}}
                    {{/each}}
                </div>
            </div>
        {{/if}}
    </div>
</main>