<main>
    <div class="contentContainer breadcrumbs">
        <a href="/" class="item link btn" title="Перейти к странице">Главная</a>
        <a href="/game" class="item link btn" title="Перейти к странице">Каталог</a>
        <div class="item">{{game.name}}</div>
    </div>
    <div class="headCover blackout horizontal vertical maxHeight gamePage">
        <!--<video class="video" autoplay muted loop>
            <source type="video/mp4" src="https://icegames.store/wp-content/uploads/2021/07/cut.mp4">
        </video>-->
        <img class="img" src="/{{game.coverImg}}" alt="Phoenix Point: Year One Edition" title="Phoenix Point: Year One Edition">
        <div class="offer">
            {{#if hasKits}}
                <div class="variations">
                    <div class="item">
                        {{#if mainGameId}}
                            <a href='/games/{{mainGameId}}' class="btn rounded translucent bg-darkBlue">Standard</a>
                        {{else}}
                            <div class="btn rounded translucent bg-darkBlue active">Standard</div>
                        {{/if}}
                    </div>
                    {{#each kits}}
                        <div class="item">
                            {{#if isCurrent}}
                                <div class="btn rounded translucent bg-darkBlue active">{{nameKit}}</div>
                            {{else}}
                                <a href='/games/{{kit.ProductId}}' class="btn rounded translucent bg-darkBlue">{{nameKit}}</a>
                                <div class="elems">
                                    {{#each elements}}
                                        <div class="item">{{this}}</div>
                                    {{/each}}
                                </div>
                            {{/if}}
                        </div>
                    {{/each}}
                </div>
            {{/if}}
            <div class="name">
                {{game.name}}
                <span class="rate">
                    <span class="name">Ice Games</span>
                    <span class="value">4.5</span>
                </span>
                <span class="rate">
                    <span class="name">Metacritic</span>
                    <span class="value">83</span>
                </span>
            </div>
            <div class="statuses">
                {{#if inStock}}
                    <div class="item positive">В наличии</div>
                {{else}}
                    <div class="item negative">Нет в наличии</div>
                {{/if}}
                <div class="item positive">Данный товар купили сегодня 30 раз</div>
            </div>
            <div class="description">{{game.description}}</div>
            <div class="bottomContainer">
                <div class="price">
                    <div class="toPrice">
                        <span class="value">{{game.price}}</span>
                    </div>
                    <div class="fromPrice">
                        <span class="value">1300</span>
                    </div>
                    <div class="discount">{{game.discount}}</div>
                </div>
                <div class="actions">
                    <button title="Добавить игру в корзину покупок" class="goToPay btn rounded increase bg-pink hover-backlight-blue">В корзину</button>
                </div>
            </div>
            {{#if hasExtends}}
                <div class="extends">
                    {{#each gameExtends}}
                        <div class="item">
                            <img src="/{{icon}}" alt="Игра с геймпадом" title="Игра с геймпадом">
                            <div class="description">{{name}}</div>
                        </div>
                    {{/each}}
                </div>
            {{/if}}
        </div>
    </div>
    <div class="contentContainer gridGamePage">
        <div class="head">
            <div class="gallery">
                <input type="button" class="arrowBlue prev" title="Предыдущий слайд">
                <div class="tape">
                    <img class="item" src="/img/gamePageGallery-1.png" alt="Первый" title="Первый">
                    <img class="item" src="/img/gamePageGallery-2.png" alt="Второй" title="Второй">
                </div>
                <input type="button" class="arrowBlue next" title="Следующий слайд">
                <div class="progress"></div>
            </div>
            <div class="metaDescription">
                <div class="input">Язык:</div>
                <div class="value">
                    {{#each languages}}
                        {{name}}{{#if @last}}{{else}},{{/if}}
                    {{/each}}
                </div>
                <div class="input">Регион активации:</div>
                <div class="value">
                    {{#each regions}}
                        {{name}}{{#if @last}}{{else}},{{/if}}
                    {{/each}}
                </div>
                <div class="input">Сервис активации:</div>
                <div class="value">
                    {{activationService.name}}
                </div>
                <div class="input">Жанр:</div>
                <div class="value">Экшн</div>
                <div class="input">Платформа:</div>
                <div class="value">PC</div>
                <div class="input">Издатель:</div>
                <div class="value">Gucci Gang Gaming</div>
            </div>
        </div>
        <div class="information">
            <div class="tabs">
                <div class="nav">
                    <button class="btn uppercase translucent active">Об игре</button>
                    <button class="btn uppercase translucent">Активация</button>
                    <button class="btn uppercase translucent">СОСТАВ НАБОРА</button>
                    <button class="btn uppercase translucent">сЕРИИ ИГР</button>
                </div>
                <div class="blocks">
                    <div class="item active">
                        <p class="paragraph">
                            Phoenix Point: Year One Edition — самое полное издание знаменитой стратегии от создателя
                            X-COM, которое включает в себя все предыдущие дополнения, обновления и дополнительный
                            контент.
                        </p>
                        <p class="paragraph">
                            Земля была захвачена. Мутирующая инопланетная угроза угрожает последним остаткам
                            человечества. Только «Проект Феникс» — секретная организация, состоящая из лучших умов и
                            самых храбрых солдат, оставшихся на Земле, может дать отпор инопланетянам и остановить
                            неизбежное. Вам предстоит возглавить Проект Феникс, чтобы исследовать и разрабатывать новые
                            технологии и методики, исследовать опустошенный земной шар, управлять ресурсами и сражаться
                            в тяжелых битвах.
                        </p>
                        <p class="paragraph">
                            Но вам не придется это делать в одиночку. Фракции, в том числе Новый Иерихон, Синедрион и
                            Последователи Ану, а также их ответвления имеют свои собственные ценности и взгляды на
                            Пандоранов. Вы можете сотрудничать с фракциями благодаря системе дипломатии в Phoenix Point
                            или просто сокрушить всех вокруг своей военной мощью. Что бы вы ни выбрали, победа не дастся
                            вам легко.
                        </p>
                    </div>
                    <div class="item">
                        <ul class="list">
                            <li class="item">Если у вас не установлен Steam клиент, скачайте и установите его. Если у вас не установлен Steam клиент, скачайте и установите его.</li>
                            <li class="item">Войдите в свой аккаунт Steam или зарегистрируйте новый, если у вас его нет.</li>
                            <li class="item">Перейдите в раздел "Игры" и выберите "Активировать через Steam...".</li>
                            <li class="item">Введите ключ активации.</li>
                            <li class="item">После этого игра будет в вашей библиотеке Steam, и вы сможете скачать.</li>
                        </ul>
                    </div>
                    <div class="item">
                        <h3 class="title">Gucci edition</h3>
                        <ul class="list">
                            <li class="item">Набор гитлера</li>
                            <li class="item">Адская носоглотка</li>
                            <li class="item">Крепкий орешек</li>
                            <li class="item">Копье ануса</li>
                        </ul>
                    </div>
                    <div class="item">
                        <div class="slider">
                            <input type="button" class="arrowBlue prev" title="Предыдущий слайд">
                            <div class="tape">
                                <div class="item">
                                    <div class="cardGame small">
                                        <div class="actions">
                                            <button class="btn like">
                                                <span class="likeIcon"></span>
                                            </button>
                                            <button class="btn border rounded uppercase bg-darkPink hover-bg-pink inCart" title="Добавить данный товар в корзину покупок">В корзину</button>
                                        </div>
                                        <div class="cover">
                                            <img src="/img/CoverDoomEternal.jpg" alt="Image of Doom ETERNAL" title="Doom ETERNAL">
                                            <div class="name">Doom ETERNAL</div>
                                        </div>
                                        <div class="price">
                                            <div class="toPrice">
                                                <span class="value">999</span>
                                            </div>
                                            <div class="fromPrice">
                                                <span class="value">1300</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="cardGame small">
                                        <div class="actions">
                                            <button class="btn like">
                                                <span class="likeIcon"></span>
                                            </button>
                                            <button class="btn border rounded uppercase bg-darkPink hover-bg-pink inCart" title="Добавить данный товар в корзину покупок">В корзину</button>
                                        </div>
                                        <div class="cover">
                                            <img src="/img/CoverDoomEternal.jpg" alt="Image of Doom ETERNAL" title="Doom ETERNAL">
                                            <div class="name">Doom ETERNAL</div>
                                        </div>
                                        <div class="price">
                                            <div class="toPrice">
                                                <span class="value">999</span>
                                            </div>
                                            <div class="fromPrice">
                                                <span class="value">1300</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="cardGame small">
                                        <div class="actions">
                                            <button class="btn like">
                                                <span class="likeIcon"></span>
                                            </button>
                                            <button class="btn border rounded uppercase bg-darkPink hover-bg-pink inCart" title="Добавить данный товар в корзину покупок">В корзину</button>
                                        </div>
                                        <div class="cover">
                                            <img src="/img/CoverDoomEternal.jpg" alt="Image of Doom ETERNAL" title="Doom ETERNAL">
                                            <div class="name">Doom ETERNAL</div>
                                        </div>
                                        <div class="price">
                                            <div class="toPrice">
                                                <span class="value">999</span>
                                            </div>
                                            <div class="fromPrice">
                                                <span class="value">1300</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <input type="button" class="arrowBlue next" title="Следующий слайд">
                        </div>
                    </div>
                </div>
            </div>
            <div class="requirements">
                <h2 class="title">Рекомендуемые системные требования</h2>
                <div class="content">
                    <div class="input">Процессор:</div>
                    <div class="value">{{game.cpu}}</div>

                    <div class="input">Видеокарта:</div>
                    <div class="value">{{game.graphicsCard}}</div>

                    <div class="input">Оперативная память:</div>
                    <div class="value">{{game.ram}}</div>

                    <div class="input">Место на диске:</div>
                    <div class="value">{{game.diskMemory}}</div>
                </div>
            </div>
        </div>
        <div class="adjacent">
            <div class="title btn border round uppercase">Вам может понравится</div>
            <div class="tape">
                <div class="cardGame small">
                    <div class="actions">
                        <button class="btn like">
                            <span class="likeIcon"></span>
                        </button>
                        <button class="btn border rounded uppercase bg-darkPink hover-bg-pink inCart" title="Добавить данный товар в корзину покупок">В корзину</button>
                    </div>
                    <div class="cover">
                        <img src="/img/CoverDoomEternal.jpg" alt="Image of Doom ETERNAL" title="Doom ETERNAL">
                        <div class="name">Doom ETERNAL</div>
                    </div>
                    <div class="price">
                        <div class="toPrice">
                            <span class="value">999</span>
                        </div>
                        <div class="fromPrice">
                            <span class="value">1300</span>
                        </div>
                    </div>
                </div>
                <div class="cardGame small">
                    <div class="actions">
                        <button class="btn like">
                            <span class="likeIcon"></span>
                        </button>
                        <button class="btn border rounded uppercase bg-darkPink hover-bg-pink inCart" title="Добавить данный товар в корзину покупок">В корзину</button>
                    </div>
                    <div class="cover">
                        <img src="/img/CoverDoomEternal.jpg" alt="Image of Doom ETERNAL" title="Doom ETERNAL">
                        <div class="name">Doom ETERNAL</div>
                    </div>
                    <div class="price">
                        <div class="toPrice">
                            <span class="value">999</span>
                        </div>
                        <div class="fromPrice">
                            <span class="value">1300</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slideControls brand">
                <div class="btn prev slideControl brand left"></div>
                <div class="progress"></div>
                <div class="btn next slideControl brand right"></div>
            </div>
        </div>
        <div class="commentsBlock">
            <div class="title btn border round uppercase">Комментарии</div>
            <div class="comments">
                <div class="item">Классная игра, рекомендую!</div>
                <div class="item">Отличная цена!</div>
                <div class="item">Посоветовал другу!</div>
                <div class="item">Пришло через 3 секунды!</div>
                <div class="item">Купил премиум версию и не пожалел! Купил премиум версию и не пожалел!</div>
            </div>
        </div>
        <div class="views">
            <div class="title">Вы недавно смотрели</div>
            <div class="tape">
                <div class="cardGame">
                    <div class="actions">
                        <button class="btn like">
                            <span class="likeIcon"></span>
                        </button>
                        <button class="btn border rounded uppercase bg-darkPink hover-bg-pink inCart" title="Добавить данный товар в корзину покупок">В корзину</button>
                    </div>
                    <div class="cover">
                        <img src="/img/CoverDoomEternal.jpg" alt="Image of Doom ETERNAL" title="Doom ETERNAL">
                        <div class="name">Doom ETERNAL</div>
                    </div>
                    <div class="price">
                        <div class="toPrice">
                            <span class="value">999</span>
                        </div>
                        <div class="fromPrice">
                            <span class="value">1300</span>
                        </div>
                    </div>
                </div>
                <div class="cardGame">
                    <div class="actions">
                        <button class="btn like">
                            <span class="likeIcon"></span>
                        </button>
                        <button class="btn border rounded uppercase bg-darkPink hover-bg-pink inCart" title="Добавить данный товар в корзину покупок">В корзину</button>
                    </div>
                    <div class="cover">
                        <img src="/img/CoverDoomEternal.jpg" alt="Image of Doom ETERNAL" title="Doom ETERNAL">
                        <div class="name">Doom ETERNAL</div>
                    </div>
                    <div class="price">
                        <div class="toPrice">
                            <span class="value">999</span>
                        </div>
                        <div class="fromPrice">
                            <span class="value">1300</span>
                        </div>
                    </div>
                </div>
                <div class="cardGame">
                    <div class="actions">
                        <button class="btn like">
                            <span class="likeIcon"></span>
                        </button>
                        <button class="btn border rounded uppercase bg-darkPink hover-bg-pink inCart" title="Добавить данный товар в корзину покупок">В корзину</button>
                    </div>
                    <div class="cover">
                        <img src="/img/CoverDoomEternal.jpg" alt="Image of Doom ETERNAL" title="Doom ETERNAL">
                        <div class="name">Doom ETERNAL</div>
                    </div>
                    <div class="price">
                        <div class="toPrice">
                            <span class="value">999</span>
                        </div>
                        <div class="fromPrice">
                            <span class="value">1300</span>
                        </div>
                    </div>
                </div>
                <div class="cardGame">
                    <div class="actions">
                        <button class="btn like">
                            <span class="likeIcon"></span>
                        </button>
                        <button class="btn border rounded uppercase bg-darkPink hover-bg-pink inCart" title="Добавить данный товар в корзину покупок">В корзину</button>
                    </div>
                    <div class="cover">
                        <img src="/img/CoverDoomEternal.jpg" alt="Image of Doom ETERNAL" title="Doom ETERNAL">
                        <div class="name">Doom ETERNAL</div>
                    </div>
                    <div class="price">
                        <div class="toPrice">
                            <span class="value">999</span>
                        </div>
                        <div class="fromPrice">
                            <span class="value">1300</span>
                        </div>
                    </div>
                </div>
                <div class="cardGame">
                    <div class="actions">
                        <button class="btn like">
                            <span class="likeIcon"></span>
                        </button>
                        <button class="btn border rounded uppercase bg-darkPink hover-bg-pink inCart" title="Добавить данный товар в корзину покупок">В корзину</button>
                    </div>
                    <div class="cover">
                        <img src="/img/CoverDoomEternal.jpg" alt="Image of Doom ETERNAL" title="Doom ETERNAL">
                        <div class="name">Doom ETERNAL</div>
                    </div>
                    <div class="price">
                        <div class="toPrice">
                            <span class="value">999</span>
                        </div>
                        <div class="fromPrice">
                            <span class="value">1300</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slideControls brand">
                <div class="btn prev slideControl brand left"></div>
                <div class="progress"></div>
                <div class="btn next slideControl brand right"></div>
            </div>
        </div>
    </div>
</main>