<main class="homePage">
    {{#if checkedEmail}}
        <div class="modalMessage js-modalMessage">E-mail успешно подтвержден! ✔</div>
    {{/if}}
    <div class="homeSlider js-homeSlider">
        <div class="tape js-tapeSlider">
            {{#each sliderProducts}}
                <div class="cover slide{{#if @first}} active{{/if}} js-slide" data-video-name="{{coverVideo}}">
                    <video class="video" muted></video>
                    <img class="img" src="{{@root.websiteAddress}}{{coverImg}}" alt="Постер игры {{name}}" title="Постер игры {{name}}">
                    <div class="contentContainer tableInfo">
                        <div class="tableInfo__container">
                            <div class="tableInfo__info">
                                <h2 class="tableInfo__name">{{name}}</h2>
                                <div class="tableInfo__desc">{{encodeString description}}</div>
                            </div>
                            <div class="tableInfo__price">
                                <div class="tableInfo__priceValues">
                                    {{#iff discount '>' 0}}
                                        <div class="rowDiscount">
                                            <div class="fromPrice">
                                                <span class="value">{{priceFrom}}</span>
                                            </div>
                                            <div class="discount">{{discount}}</div>
                                        </div>
                                    {{/iff}}
                                    <div class="toPrice">
                                        <span class="value">{{priceTo}}</span>
                                    </div>
                                </div>
                                <div class="tableInfo__actions">
                                    <a href="/games/{{alias}}" title="Перейти к странице товара" class="btn rounded bg-darkLilac">Подробнее</a>
                                    {{#if inCart}}
                                        <button
                                                title="Перейти в корзину покупок"
                                                class="btn rounded increase bg-pink js-addToCart js-active"
                                        >Добавлено</button>
                                    {{else}}
                                        <button
                                                title="Добавить товар в корзину покупок"
                                                class="btn rounded increase bg-pink js-addToCart"
                                                data-product-id="{{_id}}"
                                        >
                                            В корзину
                                        </button>
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
        <div class="contentContainer navigate js-navigateItemsContainer">
            {{#each sliderProducts}}
                <button class="roundNavItem circleProgress {{#if @first}} active{{/if}} js-itemNavigate" style="--progressPercent: 0">
                    <svg>
                        <circle cx="24" cy="24" r="24"></circle>
                        <circle cx="24" cy="24" r="24"></circle>
                    </svg>
                    <img src="{{@root.websiteAddress}}{{img}}" class="center">
                </button>
            {{/each}}
        </div>
    </div>
    <div class="contentContainer homeContent">
        <div class="homeSection">
            <h3 class="homeSubTitle">Рекомендуем</h3>
            <div class="homeRecommend mobileScroll">
                {{#each recommend}}
                    {{> game
                            id=_id
                            size='big'
                    }}
                {{/each}}
            </div>
        </div>
        <div class="homeSection homeStatistics mobileInvisibleScroll">
            <div class="item">
                <div class="label">комьюнити</div>
                <div class="value js-counterAnimation">3137</div>
            </div>
            <div class="item">
                <div class="label">игр куплено</div>
                <div class="value js-counterAnimation">{{countSales}}</div>
            </div>
            <div class="item">
                <div class="label">игр на сайте</div>
                <div class="value js-counterAnimation">{{countProducts}}</div>
            </div>
            <div class="item">
                <div class="label">отзывов</div>
                <div class="value js-counterAnimation">{{countReviews}}</div>
            </div>
        </div>
        <div class="homeSection homeCatalog js-homeCatalogTabs">
            <div class="categories mobileInvisibleScroll">
                {{#each catalog}}
                    {{#iff products.length '>' 0}}
                        <button class="btn round border big bg-darkLilac translucent js-tabBtn{{#if @first}} active{{/if}}" data-target-id="{{@index}}">
                            {{category.name}}
                        </button>
                    {{/iff}}
                {{/each}}
            </div>
            <div class="blocks">
                {{#each catalog}}
                    {{#iff products.length '>' 0}}
                        <div class="item mobileScroll js-tabBlock-{{@index}}{{#if @first}} active{{/if}}">
                            {{#each products}}
                                {{> game
                                    id=_id
                                    size='big'
                                }}
                            {{/each}}
                        </div>
                    {{/iff}}
                {{/each}}
            </div>
            <a
                    href="{{websiteAddress}}games?onlyStock=true"
                    class="more btn border rounded increase bg-darkLilac"
                    title="Открыть каталог со всеми товарами"
            >
                В каталог
            </a>
        </div>
        <div class="homeSection">
            <h2 class="homeTitle">Жанры</h2>
            <div class="genresSlider js-genresSlider">
                <button class="btn prev js-prevBtn"></button>
                <div class="visibleArea js-visibleArea">
                    <div class="tape js-tape">
                        {{#each genres}}
                            <a class="slide js-slide" href="{{@root.websiteAddress}}games?genres={{alias}}" title="Открыть игры с жанром {{name}}">
                                <span class="blackout" style="background-color: {{bgColor}}"></span>
                                <img class="img" src="{{@root.websiteAddress}}{{img}}" alt="Изображение жанра {{name}}" title="Изображение жанра {{name}}">
                                <div class="name">{{name}}</div>
                            </a>
                        {{/each}}
                    </div>
                </div>
                <button class="btn next js-nextBtn"></button>
            </div>
        </div>
        {{> newsSlider
                aricles=articles
        }}
        <div class="homeSection aboutUsHome">
            <img src="{{webSiteAddress}}/img/aboutUs.png" class="img" alt="Представление сайта на различных устройствах">
            <div class="text">
                <div class="content js-aboutUsContentHome">
                    <h1>ICE GAMES</h1>
                    <p>
                        С нами Вам точно не будет скучно! Каталог ICE GAMES насчитывает более 2 000 синглплеерных и онлайн -
                        игр для всех игровых площадок, включая Steam, Epic Games Store, GOG, Origin, Ubisoft Connect,
                        Battle.net. Здесь всегда доступны как свежие тайтлы, так и классика, проверенная годами и миллионами
                        игроков со всего мира. Мы позаботились о том, чтобы подходящую компьютерную игру можно было найти за
                        считаные минуты благодаря интуитивно понятному интерфейсу. Тайтлы можно сортировать по жанру, цене,
                        площадке.
                    </p>
                    <p><strong>И есть еще много причин покупать игры для ПК у нас:</strong></p>
                    <ul>
                        <li>регулярные скидки и акции — недорогие игры вполне реальны;</li>
                        <li>поддержка абсолютного большинства платежных систем;</li>
                        <li>надежная и дружелюбная техническая поддержка, готовая ответить на любой вопрос;</li>
                        <li>блог, в котором мы регулярно рассказываем об играх и игровой индустрии;</li>
                        <li>уникальные подарки — неактивированный ключ можно отдать другу;</li>
                        <li>мгновенная доставка ключа — начните играть прямо сейчас!</li>
                    </ul>
                    <p>
                        Продаем только лицензионные игры — никакого key-ресейла и прочих сомнительных схем, чреватых потерей
                        денег и блокировкой аккаунта в «Стиме». Сотрудничаем с разработчиками и издателями напрямую — это
                        залог безопасности покупателей. В случае проблем с активацией бесплатно предоставим Вам новый ключ —
                        правило действует как для дешевых, так и для самых дорогих игр.
                    </p>
                    <p>Присоединяйтесь к нашим сообществам в социальных сетях!</p>
                    <p>
                        Вас ждут обзоры новинок, стримы с игровыми анонсами, конкурсы и многое другое. Самый активный
                        пользователь каждую неделю получает бесплатную игру.
                    </p>
                    <p>Как активировать ключ в «Стиме» или на другой площадке?</p>
                    <p>
                        Для покупки нужно указать электронную почту. Сразу после оплаты на нее придет код, который
                        необходимо ввести в «Стиме» или другом сервисе. Помните: активация цифрового ключа возможна только на
                        площадке, для которой он предназначался. Например, в магазине Steam нельзя получить игру для Epic
                        Games или GOG. Чтобы воспользоваться большинством сервисов, понадобится скачать клиент.
                    </p>
                </div>
                <button class="btn showAllBtn js-showAboutAsHome">
                    Показать полностью
                </button>
            </div>
        </div>
        <div class="homeSection">
            <h2 class="homeTitle">Медиа о нас</h2>
            <div class="homeMediaSlider js-homeMediaSlider">
                <div class="tape js-tape">
                    {{#each partners}}
                        <a href="{{link}}" target="_blank" rel="nofollow" class="slide js-slide" title="Логотип {{name}}">
                            <img class="img" src="{{websiteAddress}}{{img}}" alt="Логотип {{name}}" title="Логотип {{name}}">
                        </a>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</main>