<main class="homePage">
    {{#if checkedEmail}}
        <div class="modalMessage js-modalMessage">E-mail успешно подтвержден! ✔</div>
    {{/if}}
    <div class="homeSlider js-homeSlider">
        <div class="tape js-tapeSlider">
            {{#each sliderProducts}}
                <div class="cover blackout-bottom slide{{#if @first}} active{{/if}} js-slide" data-video-name="{{coverVideo}}">
                    <video class="video" muted></video>
                    <img class="img" src="{{@root.websiteAddress}}{{coverImg}}" alt="Постер игры {{name}}" title="Постер игры {{name}}">
                    <div class="contentContainer tableInfo">
                        <div class="tableInfo__container">
                            <div class="tableInfo__info">
                                <h2 class="tableInfo__name">{{name}}</h2>
                                <div class="tableInfo__desc">{{encodeString description}}</div>
                            </div>
                            <div class="tableInfo__price">
                                <div class="tableInfo__priceValues">
                                    {{#iff discount '>' 0}}
                                        <div class="rowDiscount">
                                            <div class="fromPrice">
                                                <span class="value">{{priceFrom}}</span>
                                            </div>
                                            <div class="discount">{{discount}}</div>
                                        </div>
                                    {{/iff}}
                                    <div class="toPrice">
                                        <span class="value">{{priceTo}}</span>
                                    </div>
                                </div>
                                <div class="tableInfo__actions">
                                    <a href="/games/{{alias}}" title="Перейти к странице товара" class="btn rounded translucent bg-pink">Подробнее</a>
                                    {{#if inCart}}
                                        <button
                                                title="Перейти в корзину покупок"
                                                class="btn rounded increase bg-pink hover-backlight-blue  js-addToCart js-active"
                                        >Добавлено</button>
                                    {{else}}
                                        <button
                                                title="Добавить товар в корзину покупок"
                                                class="btn rounded increase bg-pink hover-backlight-blue js-addToCart"
                                                data-product-id="{{_id}}"
                                        >
                                            В корзину
                                        </button>
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
        <div class="contentContainer navigate js-navigateItemsContainer">
            {{#each sliderProducts}}
                <button class="roundNavItem circleProgress {{#if @first}} active{{/if}} js-itemNavigate" style="--progressPercent: 0">
                    <svg>
                        <circle cx="24" cy="24" r="24"></circle>
                        <circle cx="24" cy="24" r="24"></circle>
                    </svg>
                    <img src="{{@root.websiteAddress}}{{img}}" class="center">
                </button>
            {{/each}}
        </div>
    </div>
    <div class="contentContainer homeContent">
        <div class="homeSection">
            <h3 class="homeSubTitle">Рекомендуем</h3>
            <div class="homeRecommend mobileScroll">
                {{#each recommend}}
                    {{> game
                            id=_id
                            size='big'
                    }}
                {{/each}}
            </div>
        </div>
        <div class="homeSection homeStatistics mobileInvisibleScroll">
            <div class="item">
                <div class="label">комьюнити</div>
                <div class="value js-counterAnimation">3027</div>
            </div>
            <div class="item">
                <div class="label">игр продано</div>
                <div class="value js-counterAnimation">{{countSales}}</div>
            </div>
            <div class="item">
                <div class="label">игр на сайте</div>
                <div class="value js-counterAnimation">{{countProducts}}</div>
            </div>
            <div class="item">
                <div class="label">отзывов</div>
                <div class="value js-counterAnimation">{{countReviews}}</div>
            </div>
        </div>
        <div class="homeSection homeCatalog js-homeCatalogTabs">
            <div class="categories mobileInvisibleScroll">
                {{#each catalog}}
                    {{#iff products.length '>' 0}}
                        <button class="btn round border big bg-darkLilac translucent js-tabBtn{{#if @first}} active{{/if}}" data-target-id="{{@index}}">
                            {{category.name}}
                        </button>
                    {{/iff}}
                {{/each}}
            </div>
            <div class="blocks">
                {{#each catalog}}
                    {{#iff products.length '>' 0}}
                        <div class="item mobileScroll js-tabBlock-{{@index}}{{#if @first}} active{{/if}}">
                            {{#each products}}
                                {{> game
                                    id=_id
                                    size='big'
                                }}
                            {{/each}}
                        </div>
                    {{/iff}}
                {{/each}}
            </div>
            <a
                    href="/games"
                    class="more btn border rounded big increase translucent bg-darkLilac"
                    title="Открыть каталог со всеми товарами"
            >
                В каталог
            </a>
        </div>
        <div class="homeSection">
            <h2 class="homeTitle">Жанры</h2>
            <div class="genresSlider js-genresSlider">
                <div class="visibleArea js-visibleArea">
                    <div class="slides js-tape">
                        <div class="slide js-slide">
                            {{#each genres}}
                                <a class="genre" href="{{websiteAddress}}games?genres={{_id}}" title="Открыть игры с жанром {{name}}">
                                    <span class="blackout" style="background-color: {{bgColor}}"></span>
                                    <img class="img" src="{{@root.websiteAddress}}{{img}}" alt="Изображение жанра {{name}}" title="Изображение жанра {{name}}">
                                    <div class="name">
                                        {{name}}
                                    </div>
                                </a>
                                {{#if (endOfBlock @index 2 @last)}}
                                    </div>
                                    <div class="slide js-slide">
                                {{/if}}
                            {{/each}}
                        </div>
                    </div>
                </div>
                <div class="slideControls vertical">
                    <button class="btn prev js-prevBtn"></button>
                    <div class="progress js-progress"></div>
                    <button class="btn next js-nextBtn"></button>
                </div>
            </div>
        </div>
        {{> newsSlider
                aricles=articles
        }}
        <div class="homeSection">
            <h2 class="homeTitle">Медиа о нас</h2>
            <div class="homeMediaSlider js-homeMediaSlider">
                <div class="tape js-tape">
                    {{#each partners}}
                        <a href="{{link}}" target="_blank" rel="nofollow" class="slide" title="Логотип {{name}}">
                            <img class="img" src="{{websiteAddress}}{{img}}" alt="Логотип {{name}}" title="Логотип {{name}}">
                        </a>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</main>