<main>
    <div class="homeSlider js-homeSlider">
        <div class="tape js-tapeSlider">
            {{#each sliderGames}}
                <div class="cover blackout blackout-left blackout-bottom slide{{#if @first}} active{{/if}} js-slide" data-video-name="{{coverVideo}}">
                    <video class="video" muted></video>
                    <img class="img" src="{{@root.websiteAddress}}{{coverImg}}" alt="{name}}" title="{{name}}">
                    <div class="offer">
                        <div class="name">
                            {{name}}
                        </div>
                        <div class="description">
                            {{description}}
                        </div>
                        <div class="price">
                            <div class="toPrice">
                                <span class="value">
                                    {{price}}
                                </span>
                            </div>
                            <div class="fromPrice">
                                <span class="value">1300</span>
                            </div>
                            <div class="discount">30</div>
                        </div>
                        <div class="actions">
                            <button title="Добавить игру в корзину покупок" class="btn rounded increase bg-pink hover-backlight-blue">В корзину</button>
                            <a href="/games/{{id}}" title="Перейти к странице игры" class="btn rounded translucent bg-pink">Подробнее</a>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
        <div class="contentContainer navigate">
            <div class="slideControls">
                <button class="btn prev js-prevBtn"></button>
                <div class="progress js-progress"></div>
                <button class="btn next js-nextBtn"></button>
            </div>
            <div class="items gameGrid">
                {{#each sliderGames}}
                    <button class="cardGame big{{#if @first}} active{{/if}} js-itemNavigate" title="Переключить слайд">
                        <div class="head">
                            <img class="img" src="{{@root.websiteAddress}}{{img}}" alt="{{name}}" title="{{name}}">
                            <div class="name">{{name}}</div>
                        </div>
                        <div class="price">
                            <div class="toPrice">
                                <span class="value">
                                    {{price}}
                                </span>
                            </div>
                            <div class="fromPrice">
                                <span class="value">1300</span>
                            </div>
                        </div>
                    </button>
                {{/each}}
            </div>
        </div>
    </div>
    <div class="contentContainer">
        <div class="homeSection row">
            {{#each usp}}
                <div class="uspBlock">{{text}}</div>
            {{/each}}
        </div>
        <div class="homeSection homeCatalog js-homeCatalogTabs">
            <div class="categories">
                {{#each catalog}}
                    <button class="btn round border big bg-darkLilac translucent js-tabBtn{{#if @first}} active{{/if}}" data-target-id="{{id}}">
                        {{name}}
                    </button>
                {{/each}}
            </div>
            <div class="blocks">
                {{#each catalog}}
                    <div class="item js-tabBlock-{{id}}{{#if @first}} active{{/if}}">
                        <div class="gameGrid">
                            {{#each products}}
                                <a href="/games/{{id}}" class="cardGame big js-itemNavSlider" title="Перейти к странице игры">
                                    <div class="actions">
                                        <button class="btn like" title="Добавить игру в избранное">
                                            <span class="icon-static icon-static-actionLike"></span>
                                        </button>
                                        <button
                                                class="btn border rounded uppercase bg-darkPink hover-bg-pink inCart"
                                                title="Добавить данный товар в корзину покупок"
                                        >
                                            В корзину
                                        </button>
                                    </div>
                                    <div class="head">
                                        <img class="img" src="{{@root.websiteAddress}}{{img}}" alt="Изображение {{name}}" title="{{name}}">
                                        <div class="name">
                                            {{name}}
                                        </div>
                                    </div>
                                    <div class="price">
                                        <div class="toPrice">
                                            <span class="value">
                                                {{price}}
                                            </span>
                                        </div>
                                        <div class="fromPrice">
                                            <span class="value">1300</span>
                                        </div>
                                    </div>
                                </a>
                            {{/each}}
                        </div>
                    </div>
                {{/each}}
            </div>
            <a
                    href="/games"
                    class="more btn border rounded big increase translucent bg-darkLilac"
                    title="Открыть каталог со всеми играми"
            >
                В каталог
            </a>
        </div>
        <div class="homeSection">
            <div class="homeTitle">Жанры</div>
            <div class="genresSlider js-genresSlider">
                <div class="visibleArea js-visibleArea">
                    <div class="slides js-tape">
                        <div class="slide js-slide active">
                            {{#each genres}}
                                <a class="genre" href="{{url}}" title="Открыть игры с жанром {{name}}">
                                    <img class="img" src="{{@root.websiteAddress}}{{img}}" alt="Картинка жанра {{name}}">
                                    <div class="name">
                                        {{name}}
                                    </div>
                                </a>
                                {{#if (endOfBlock @index 2 @last)}}
                                    </div>
                                    <div class="slide js-slide{{#if (isLess @index 3)}} active{{/if}}">
                                {{/if}}
                            {{/each}}
                        </div>
                    </div>
                </div>
                <div class="slideControls vertical">
                    <button class="btn prev js-prevBtn"></button>
                    <div class="progress js-progress"></div>
                    <button class="btn next js-nextBtn"></button>
                </div>
            </div>
        </div>
        <div class="homeSection">
            <div class="homeTitle">Новости и статьи</div>
            <div class="newsSlider">
                <button class="btn prev increase">
                    <span class="icon-static icon-static-arrow"></span>
                </button>
                <div class="visibleArea">
                    <div class="tape">
                        <a href="#" class="newsPreview active">
                            <img class="img" src="./img/newPreview-1.png" alt="Новость 1" title="Новость 1">
                            <div class="attributes">
                                <div class="btn small round border small bg-darkLilac">Новости</div>
                                <div class="date">12.01.21</div>
                            </div>
                            <div class="description">
                                <div class="title">8 Миллионов продаж</div>
                                <div class="text">CDPR похвастались в своем твиттере, что количество предзаказов...</div>
                            </div>
                        </a>
                        <a href="#" class="newsPreview active">
                            <img class="img" src="./img/newPreview-2.png" alt="Новость 1" title="Новость 1">
                            <div class="attributes">
                                <div class="btn small round border small bg-darkLilac">Новости</div>
                                <div class="date">12.01.21</div>
                            </div>
                            <div class="description">
                                <div class="title">8 Миллионов продаж</div>
                                <div class="text">CDPR похвастались в своем твиттере, что количество предзаказов...</div>
                            </div>
                        </a>
                        <a href="#" class="newsPreview active">
                            <img class="img" src="./img/newPreview-3.png" alt="Новость 1" title="Новость 1">
                            <div class="attributes">
                                <div class="btn small round border small bg-darkLilac">Новости</div>
                                <div class="date">12.01.21</div>
                            </div>
                            <div class="description">
                                <div class="title">8 Миллионов продаж</div>
                                <div class="text">CDPR похвастались в своем твиттере, что количество предзаказов...</div>
                            </div>
                        </a>
                        <a href="#" class="newsPreview">
                            <img class="img" src="./img/newPreview-3.png" alt="Новость 1" title="Новость 1">
                            <div class="attributes">
                                <div class="btn small round border small bg-darkLilac">Новости</div>
                                <div class="date">12.01.21</div>
                            </div>
                            <div class="description">
                                <div class="title">8 Миллионов продаж</div>
                                <div class="text">CDPR похвастались в своем твиттере, что количество предзаказов...</div>
                            </div>
                        </a>
                    </div>
                </div>
                <button class="btn next increase">
                    <span class="icon-static icon-static-arrow"></span>
                </button>
            </div>
            <a class="btn round border backlight-pink hover-bg-palePink all" href="#">Все новости</a>
        </div>
        <div class="homeSection">
            <div class="homeTitle">Медиа о нас</div>
            <div class="homeMedia">
                <div class="items">
                    <a href="#" class="item" title="Медиа о нас 1">
                        <img class="img" src="./img/homeMedia-1.png" alt="Медиа о нас 1" title="Медиа о нас 1">
                    </a>
                    <a href="#" class="item" title="Медиа о нас 2">
                        <img class="img" src="./img/homeMedia-2.png" alt="Медиа о нас 2" title="Медиа о нас 2">
                    </a>
                    <a href="#" class="item" title="Медиа о нас 3">
                        <img class="img" src="./img/homeMedia-3.png" alt="Медиа о нас 3" title="Медиа о нас 3">
                    </a>
                    <a href="#" class="item" title="Медиа о нас 4">
                        <img class="img" src="./img/homeMedia-4.png" alt="Медиа о нас 4" title="Медиа о нас 4">
                    </a>
                </div>
            </div>
        </div>
    </div>
</main>