<main>
    <div class="homeSlider js-homeSlider">
        <div class="tape js-tapeSlider">
            {{#each sliderGames}}
                <div class="cover blackout blackout-left blackout-bottom slide{{#if @first}} active{{/if}} js-slide" data-video-name="{{coverVideo}}">
                    <video class="video" muted></video>
                    <img class="img" src="http://185.251.88.215:4000/{{coverImg}}" alt="{name}}" title="{{name}}">
                    <div class="offer">
                        <div class="name">
                            {{name}}
                        </div>
                        <div class="description">
                            {{description}}
                        </div>
                        <div class="price">
                            <div class="toPrice">
                                <span class="value">
                                    {{price}}
                                </span>
                            </div>
                            <div class="fromPrice">
                                <span class="value">1300</span>
                            </div>
                            <div class="discount">30</div>
                        </div>
                        <div class="actions">
                            <button title="Добавить игру в корзину покупок" class="btn rounded increase bg-pink hover-backlight-blue">В корзину</button>
                            <a href="/games/{{id}}" title="Перейти к странице игры" class="btn rounded translucent bg-pink">Подробнее</a>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
        <div class="contentContainer navigate">
            <div class="slideControls">
                <button class="btn prev js-prevBtn"></button>
                <div class="progress js-progress"></div>
                <button class="btn next js-nextBtn"></button>
            </div>
            <div class="items gameGrid">
                {{#each sliderGames}}
                    <button class="cardGame big{{#if @first}} active{{/if}} js-itemNavigate" title="Переключить слайд">
                        <div class="head">
                            <img class="img" src="http://185.251.88.215:4000/{{img}}" alt="{{name}}" title="{{name}}">
                            <div class="name">{{name}}</div>
                        </div>
                        <div class="price">
                            <div class="toPrice">
                                <span class="value">
                                    {{price}}
                                </span>
                            </div>
                            <div class="fromPrice">
                                <span class="value">1300</span>
                            </div>
                        </div>
                    </button>
                {{/each}}
            </div>
        </div>
    </div>
    <div class="contentContainer">
        <div class="homeSection row">
            <div class="uspBlock">Лучшие предложения в интернете</div>
            <div class="uspBlock">Постоянные скидки</div>
            <div class="uspBlock">Только лицензионные игры</div>
            <div class="uspBlock">От покупки до игры - пара секунд</div>
            <div class="uspBlock">Круглосуточная поддержка</div>
        </div>
        <div class="homeSection homeCatalog js-tabs">
            <div class="categories">
                <button class="btn round border big bg-darkLilac translucent js-tabsBtn active" data-target="1">Новинки</button>
                <button class="btn round border big bg-darkLilac translucent js-tabsBtn" data-target="2">Предзаказы</button>
                <button class="btn round border big bg-darkLilac translucent js-tabsBtn" data-target="3">Топ продаж</button>
                <button class="btn round border big bg-darkLilac translucent js-tabsBtn" data-target="4">Скидки</button>
                <button class="btn round border big bg-darkLilac translucent js-tabsBtn" data-target="5">ТОП 2020</button>
            </div>
            <div class="blocks">
                <div class="item js-tabsTarget-1 active">
                    <div class="gameGrid">
                        <a href="#" class="cardGame big js-itemNavSlider" title="Перейти к странице игры">
                            <div class="actions">
                                <button class="btn like" title="Добавить игру в избранное">
                                    <span class="icon-static icon-static-actionLike"></span>
                                </button>
                                <button
                                        class="btn border rounded uppercase bg-darkPink hover-bg-pink inCart"
                                        title="Добавить данный товар в корзину покупок"
                                >
                                    В корзину
                                </button>
                            </div>
                            <div class="head">
                                <img class="img" src="./img/CoverDoomEternal.jpg" alt="Image of Doom ETERNAL" title="Doom ETERNAL">
                                <div class="name">Doom ETERNAL</div>
                            </div>
                            <div class="price">
                                <div class="toPrice">
                                    <span class="value">999</span>
                                </div>
                                <div class="fromPrice">
                                    <span class="value">1300</span>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="cardGame big js-itemNavSlider" title="Перейти к странице игры">
                            <div class="actions">
                                <button class="btn like" title="Добавить игру в избранное">
                                    <span class="icon-static icon-static-actionLike"></span>
                                </button>
                                <button
                                        class="btn border rounded uppercase bg-darkPink hover-bg-pink inCart"
                                        title="Добавить данный товар в корзину покупок"
                                >
                                    В корзину
                                </button>
                            </div>
                            <div class="head">
                                <img class="img" src="./img/CoverDoomEternal.jpg" alt="Image of Doom ETERNAL" title="Doom ETERNAL">
                                <div class="name">Doom ETERNAL</div>
                            </div>
                            <div class="price">
                                <div class="toPrice">
                                    <span class="value">999</span>
                                </div>
                                <div class="fromPrice">
                                    <span class="value">1300</span>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="cardGame big js-itemNavSlider" title="Перейти к странице игры">
                            <div class="actions">
                                <button class="btn like" title="Добавить игру в избранное">
                                    <span class="icon-static icon-static-actionLike"></span>
                                </button>
                                <button
                                        class="btn border rounded uppercase bg-darkPink hover-bg-pink inCart"
                                        title="Добавить данный товар в корзину покупок"
                                >
                                    В корзину
                                </button>
                            </div>
                            <div class="head">
                                <img class="img" src="./img/CoverDoomEternal.jpg" alt="Image of Doom ETERNAL" title="Doom ETERNAL">
                                <div class="name">Doom ETERNAL</div>
                            </div>
                            <div class="price">
                                <div class="toPrice">
                                    <span class="value">999</span>
                                </div>
                                <div class="fromPrice">
                                    <span class="value">1300</span>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="cardGame big js-itemNavSlider" title="Перейти к странице игры">
                            <div class="actions">
                                <button class="btn like" title="Добавить игру в избранное">
                                    <span class="icon-static icon-static-actionLike"></span>
                                </button>
                                <button
                                        class="btn border rounded uppercase bg-darkPink hover-bg-pink inCart"
                                        title="Добавить данный товар в корзину покупок"
                                >
                                    В корзину
                                </button>
                            </div>
                            <div class="head">
                                <img class="img" src="./img/CoverDoomEternal.jpg" alt="Image of Doom ETERNAL" title="Doom ETERNAL">
                                <div class="name">Doom ETERNAL</div>
                            </div>
                            <div class="price">
                                <div class="toPrice">
                                    <span class="value">999</span>
                                </div>
                                <div class="fromPrice">
                                    <span class="value">1300</span>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="cardGame big js-itemNavSlider" title="Перейти к странице игры">
                            <div class="actions">
                                <button class="btn like" title="Добавить игру в избранное">
                                    <span class="icon-static icon-static-actionLike"></span>
                                </button>
                                <button
                                        class="btn border rounded uppercase bg-darkPink hover-bg-pink inCart"
                                        title="Добавить данный товар в корзину покупок"
                                >
                                    В корзину
                                </button>
                            </div>
                            <div class="head">
                                <img class="img" src="./img/CoverDoomEternal.jpg" alt="Image of Doom ETERNAL" title="Doom ETERNAL">
                                <div class="name">Doom ETERNAL</div>
                            </div>
                            <div class="price">
                                <div class="toPrice">
                                    <span class="value">999</span>
                                </div>
                                <div class="fromPrice">
                                    <span class="value">1300</span>
                                </div>
                            </div>
                        </a>

                        <a href="#" class="cardGame big js-itemNavSlider" title="Перейти к странице игры">
                            <div class="actions">
                                <button class="btn like" title="Добавить игру в избранное">
                                    <span class="icon-static icon-static-actionLike"></span>
                                </button>
                                <button
                                        class="btn border rounded uppercase bg-darkPink hover-bg-pink inCart"
                                        title="Добавить данный товар в корзину покупок"
                                >
                                    В корзину
                                </button>
                            </div>
                            <div class="head">
                                <img class="img" src="./img/CoverDoomEternal.jpg" alt="Image of Doom ETERNAL" title="Doom ETERNAL">
                                <div class="name">Doom ETERNAL</div>
                            </div>
                            <div class="price">
                                <div class="toPrice">
                                    <span class="value">999</span>
                                </div>
                                <div class="fromPrice">
                                    <span class="value">1300</span>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="cardGame big js-itemNavSlider" title="Перейти к странице игры">
                            <div class="actions">
                                <button class="btn like" title="Добавить игру в избранное">
                                    <span class="icon-static icon-static-actionLike"></span>
                                </button>
                                <button
                                        class="btn border rounded uppercase bg-darkPink hover-bg-pink inCart"
                                        title="Добавить данный товар в корзину покупок"
                                >
                                    В корзину
                                </button>
                            </div>
                            <div class="head">
                                <img class="img" src="./img/CoverDoomEternal.jpg" alt="Image of Doom ETERNAL" title="Doom ETERNAL">
                                <div class="name">Doom ETERNAL</div>
                            </div>
                            <div class="price">
                                <div class="toPrice">
                                    <span class="value">999</span>
                                </div>
                                <div class="fromPrice">
                                    <span class="value">1300</span>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="cardGame big js-itemNavSlider" title="Перейти к странице игры">
                            <div class="actions">
                                <button class="btn like" title="Добавить игру в избранное">
                                    <span class="icon-static icon-static-actionLike"></span>
                                </button>
                                <button
                                        class="btn border rounded uppercase bg-darkPink hover-bg-pink inCart"
                                        title="Добавить данный товар в корзину покупок"
                                >
                                    В корзину
                                </button>
                            </div>
                            <div class="head">
                                <img class="img" src="./img/CoverDoomEternal.jpg" alt="Image of Doom ETERNAL" title="Doom ETERNAL">
                                <div class="name">Doom ETERNAL</div>
                            </div>
                            <div class="price">
                                <div class="toPrice">
                                    <span class="value">999</span>
                                </div>
                                <div class="fromPrice">
                                    <span class="value">1300</span>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="cardGame big js-itemNavSlider" title="Перейти к странице игры">
                            <div class="actions">
                                <button class="btn like" title="Добавить игру в избранное">
                                    <span class="icon-static icon-static-actionLike"></span>
                                </button>
                                <button
                                        class="btn border rounded uppercase bg-darkPink hover-bg-pink inCart"
                                        title="Добавить данный товар в корзину покупок"
                                >
                                    В корзину
                                </button>
                            </div>
                            <div class="head">
                                <img class="img" src="./img/CoverDoomEternal.jpg" alt="Image of Doom ETERNAL" title="Doom ETERNAL">
                                <div class="name">Doom ETERNAL</div>
                            </div>
                            <div class="price">
                                <div class="toPrice">
                                    <span class="value">999</span>
                                </div>
                                <div class="fromPrice">
                                    <span class="value">1300</span>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="cardGame big js-itemNavSlider" title="Перейти к странице игры">
                            <div class="actions">
                                <button class="btn like" title="Добавить игру в избранное">
                                    <span class="icon-static icon-static-actionLike"></span>
                                </button>
                                <button
                                        class="btn border rounded uppercase bg-darkPink hover-bg-pink inCart"
                                        title="Добавить данный товар в корзину покупок"
                                >
                                    В корзину
                                </button>
                            </div>
                            <div class="head">
                                <img class="img" src="./img/CoverDoomEternal.jpg" alt="Image of Doom ETERNAL" title="Doom ETERNAL">
                                <div class="name">Doom ETERNAL</div>
                            </div>
                            <div class="price">
                                <div class="toPrice">
                                    <span class="value">999</span>
                                </div>
                                <div class="fromPrice">
                                    <span class="value">1300</span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <a
                            href="/news"
                            class="more btn border rounded big increase translucent bg-darkLilac"
                            title="Открыть каталог со всеми играми"
                    >
                        Ещё
                    </a>
                </div>
                <div class="item js-tabsTarget-2">
                    <div class="gameGrid">
                        <a href="#" class="cardGame big js-itemNavSlider" title="Перейти к странице игры">
                            <div class="actions">
                                <button class="btn like" title="Добавить игру в избранное">
                                    <span class="icon-static icon-static-actionLike"></span>
                                </button>
                                <button
                                        class="btn border rounded uppercase bg-darkPink hover-bg-pink inCart"
                                        title="Добавить данный товар в корзину покупок"
                                >
                                    В корзину
                                </button>
                            </div>
                            <div class="head">
                                <img class="img" src="./img/CoverDoomEternal.jpg" alt="Image of Doom ETERNAL" title="Doom ETERNAL">
                                <div class="name">Doom ETERNAL</div>
                            </div>
                            <div class="price">
                                <div class="toPrice">
                                    <span class="value">999</span>
                                </div>
                                <div class="fromPrice">
                                    <span class="value">1300</span>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="cardGame big js-itemNavSlider" title="Перейти к странице игры">
                            <div class="actions">
                                <button class="btn like" title="Добавить игру в избранное">
                                    <span class="icon-static icon-static-actionLike"></span>
                                </button>
                                <button
                                        class="btn border rounded uppercase bg-darkPink hover-bg-pink inCart"
                                        title="Добавить данный товар в корзину покупок"
                                >
                                    В корзину
                                </button>
                            </div>
                            <div class="head">
                                <img class="img" src="./img/CoverDoomEternal.jpg" alt="Image of Doom ETERNAL" title="Doom ETERNAL">
                                <div class="name">Doom ETERNAL</div>
                            </div>
                            <div class="price">
                                <div class="toPrice">
                                    <span class="value">999</span>
                                </div>
                                <div class="fromPrice">
                                    <span class="value">1300</span>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="cardGame big js-itemNavSlider" title="Перейти к странице игры">
                            <div class="actions">
                                <button class="btn like" title="Добавить игру в избранное">
                                    <span class="icon-static icon-static-actionLike"></span>
                                </button>
                                <button
                                        class="btn border rounded uppercase bg-darkPink hover-bg-pink inCart"
                                        title="Добавить данный товар в корзину покупок"
                                >
                                    В корзину
                                </button>
                            </div>
                            <div class="head">
                                <img class="img" src="./img/CoverDoomEternal.jpg" alt="Image of Doom ETERNAL" title="Doom ETERNAL">
                                <div class="name">Doom ETERNAL</div>
                            </div>
                            <div class="price">
                                <div class="toPrice">
                                    <span class="value">999</span>
                                </div>
                                <div class="fromPrice">
                                    <span class="value">1300</span>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="cardGame big js-itemNavSlider" title="Перейти к странице игры">
                            <div class="actions">
                                <button class="btn like" title="Добавить игру в избранное">
                                    <span class="icon-static icon-static-actionLike"></span>
                                </button>
                                <button
                                        class="btn border rounded uppercase bg-darkPink hover-bg-pink inCart"
                                        title="Добавить данный товар в корзину покупок"
                                >
                                    В корзину
                                </button>
                            </div>
                            <div class="head">
                                <img class="img" src="./img/CoverDoomEternal.jpg" alt="Image of Doom ETERNAL" title="Doom ETERNAL">
                                <div class="name">Doom ETERNAL</div>
                            </div>
                            <div class="price">
                                <div class="toPrice">
                                    <span class="value">999</span>
                                </div>
                                <div class="fromPrice">
                                    <span class="value">1300</span>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="cardGame big js-itemNavSlider" title="Перейти к странице игры">
                            <div class="actions">
                                <button class="btn like" title="Добавить игру в избранное">
                                    <span class="icon-static icon-static-actionLike"></span>
                                </button>
                                <button
                                        class="btn border rounded uppercase bg-darkPink hover-bg-pink inCart"
                                        title="Добавить данный товар в корзину покупок"
                                >
                                    В корзину
                                </button>
                            </div>
                            <div class="head">
                                <img class="img" src="./img/CoverDoomEternal.jpg" alt="Image of Doom ETERNAL" title="Doom ETERNAL">
                                <div class="name">Doom ETERNAL</div>
                            </div>
                            <div class="price">
                                <div class="toPrice">
                                    <span class="value">999</span>
                                </div>
                                <div class="fromPrice">
                                    <span class="value">1300</span>
                                </div>
                            </div>
                        </a>

                        <a href="#" class="cardGame big js-itemNavSlider" title="Перейти к странице игры">
                            <div class="actions">
                                <button class="btn like" title="Добавить игру в избранное">
                                    <span class="icon-static icon-static-actionLike"></span>
                                </button>
                                <button
                                        class="btn border rounded uppercase bg-darkPink hover-bg-pink inCart"
                                        title="Добавить данный товар в корзину покупок"
                                >
                                    В корзину
                                </button>
                            </div>
                            <div class="head">
                                <img class="img" src="./img/CoverDoomEternal.jpg" alt="Image of Doom ETERNAL" title="Doom ETERNAL">
                                <div class="name">Doom ETERNAL</div>
                            </div>
                            <div class="price">
                                <div class="toPrice">
                                    <span class="value">999</span>
                                </div>
                                <div class="fromPrice">
                                    <span class="value">1300</span>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="cardGame big js-itemNavSlider" title="Перейти к странице игры">
                            <div class="actions">
                                <button class="btn like" title="Добавить игру в избранное">
                                    <span class="icon-static icon-static-actionLike"></span>
                                </button>
                                <button
                                        class="btn border rounded uppercase bg-darkPink hover-bg-pink inCart"
                                        title="Добавить данный товар в корзину покупок"
                                >
                                    В корзину
                                </button>
                            </div>
                            <div class="head">
                                <img class="img" src="./img/CoverDoomEternal.jpg" alt="Image of Doom ETERNAL" title="Doom ETERNAL">
                                <div class="name">Doom ETERNAL</div>
                            </div>
                            <div class="price">
                                <div class="toPrice">
                                    <span class="value">999</span>
                                </div>
                                <div class="fromPrice">
                                    <span class="value">1300</span>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="cardGame big js-itemNavSlider" title="Перейти к странице игры">
                            <div class="actions">
                                <button class="btn like" title="Добавить игру в избранное">
                                    <span class="icon-static icon-static-actionLike"></span>
                                </button>
                                <button
                                        class="btn border rounded uppercase bg-darkPink hover-bg-pink inCart"
                                        title="Добавить данный товар в корзину покупок"
                                >
                                    В корзину
                                </button>
                            </div>
                            <div class="head">
                                <img class="img" src="./img/CoverDoomEternal.jpg" alt="Image of Doom ETERNAL" title="Doom ETERNAL">
                                <div class="name">Doom ETERNAL</div>
                            </div>
                            <div class="price">
                                <div class="toPrice">
                                    <span class="value">999</span>
                                </div>
                                <div class="fromPrice">
                                    <span class="value">1300</span>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="cardGame big js-itemNavSlider" title="Перейти к странице игры">
                            <div class="actions">
                                <button class="btn like" title="Добавить игру в избранное">
                                    <span class="icon-static icon-static-actionLike"></span>
                                </button>
                                <button
                                        class="btn border rounded uppercase bg-darkPink hover-bg-pink inCart"
                                        title="Добавить данный товар в корзину покупок"
                                >
                                    В корзину
                                </button>
                            </div>
                            <div class="head">
                                <img class="img" src="./img/CoverDoomEternal.jpg" alt="Image of Doom ETERNAL" title="Doom ETERNAL">
                                <div class="name">Doom ETERNAL</div>
                            </div>
                            <div class="price">
                                <div class="toPrice">
                                    <span class="value">999</span>
                                </div>
                                <div class="fromPrice">
                                    <span class="value">1300</span>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="cardGame big js-itemNavSlider" title="Перейти к странице игры">
                            <div class="actions">
                                <button class="btn like" title="Добавить игру в избранное">
                                    <span class="icon-static icon-static-actionLike"></span>
                                </button>
                                <button
                                        class="btn border rounded uppercase bg-darkPink hover-bg-pink inCart"
                                        title="Добавить данный товар в корзину покупок"
                                >
                                    В корзину
                                </button>
                            </div>
                            <div class="head">
                                <img class="img" src="./img/CoverDoomEternal.jpg" alt="Image of Doom ETERNAL" title="Doom ETERNAL">
                                <div class="name">Doom ETERNAL</div>
                            </div>
                            <div class="price">
                                <div class="toPrice">
                                    <span class="value">999</span>
                                </div>
                                <div class="fromPrice">
                                    <span class="value">1300</span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <a
                            href="/news"
                            class="more btn border rounded big increase translucent bg-darkLilac"
                            title="Открыть каталог со всеми играми"
                    >
                        Ещё
                    </a>
                </div>
                <div class="item js-tabsTarget-3">
                    <div class="gameGrid">
                        <a href="#" class="cardGame big js-itemNavSlider" title="Перейти к странице игры">
                            <div class="actions">
                                <button class="btn like" title="Добавить игру в избранное">
                                    <span class="icon-static icon-static-actionLike"></span>
                                </button>
                                <button
                                        class="btn border rounded uppercase bg-darkPink hover-bg-pink inCart"
                                        title="Добавить данный товар в корзину покупок"
                                >
                                    В корзину
                                </button>
                            </div>
                            <div class="head">
                                <img class="img" src="./img/CoverDoomEternal.jpg" alt="Image of Doom ETERNAL" title="Doom ETERNAL">
                                <div class="name">Doom ETERNAL</div>
                            </div>
                            <div class="price">
                                <div class="toPrice">
                                    <span class="value">999</span>
                                </div>
                                <div class="fromPrice">
                                    <span class="value">1300</span>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="cardGame big js-itemNavSlider" title="Перейти к странице игры">
                            <div class="actions">
                                <button class="btn like" title="Добавить игру в избранное">
                                    <span class="icon-static icon-static-actionLike"></span>
                                </button>
                                <button
                                        class="btn border rounded uppercase bg-darkPink hover-bg-pink inCart"
                                        title="Добавить данный товар в корзину покупок"
                                >
                                    В корзину
                                </button>
                            </div>
                            <div class="head">
                                <img class="img" src="./img/CoverDoomEternal.jpg" alt="Image of Doom ETERNAL" title="Doom ETERNAL">
                                <div class="name">Doom ETERNAL</div>
                            </div>
                            <div class="price">
                                <div class="toPrice">
                                    <span class="value">999</span>
                                </div>
                                <div class="fromPrice">
                                    <span class="value">1300</span>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="cardGame big js-itemNavSlider" title="Перейти к странице игры">
                            <div class="actions">
                                <button class="btn like" title="Добавить игру в избранное">
                                    <span class="icon-static icon-static-actionLike"></span>
                                </button>
                                <button
                                        class="btn border rounded uppercase bg-darkPink hover-bg-pink inCart"
                                        title="Добавить данный товар в корзину покупок"
                                >
                                    В корзину
                                </button>
                            </div>
                            <div class="head">
                                <img class="img" src="./img/CoverDoomEternal.jpg" alt="Image of Doom ETERNAL" title="Doom ETERNAL">
                                <div class="name">Doom ETERNAL</div>
                            </div>
                            <div class="price">
                                <div class="toPrice">
                                    <span class="value">999</span>
                                </div>
                                <div class="fromPrice">
                                    <span class="value">1300</span>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="cardGame big js-itemNavSlider" title="Перейти к странице игры">
                            <div class="actions">
                                <button class="btn like" title="Добавить игру в избранное">
                                    <span class="icon-static icon-static-actionLike"></span>
                                </button>
                                <button
                                        class="btn border rounded uppercase bg-darkPink hover-bg-pink inCart"
                                        title="Добавить данный товар в корзину покупок"
                                >
                                    В корзину
                                </button>
                            </div>
                            <div class="head">
                                <img class="img" src="./img/CoverDoomEternal.jpg" alt="Image of Doom ETERNAL" title="Doom ETERNAL">
                                <div class="name">Doom ETERNAL</div>
                            </div>
                            <div class="price">
                                <div class="toPrice">
                                    <span class="value">999</span>
                                </div>
                                <div class="fromPrice">
                                    <span class="value">1300</span>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="cardGame big js-itemNavSlider" title="Перейти к странице игры">
                            <div class="actions">
                                <button class="btn like" title="Добавить игру в избранное">
                                    <span class="icon-static icon-static-actionLike"></span>
                                </button>
                                <button
                                        class="btn border rounded uppercase bg-darkPink hover-bg-pink inCart"
                                        title="Добавить данный товар в корзину покупок"
                                >
                                    В корзину
                                </button>
                            </div>
                            <div class="head">
                                <img class="img" src="./img/CoverDoomEternal.jpg" alt="Image of Doom ETERNAL" title="Doom ETERNAL">
                                <div class="name">Doom ETERNAL</div>
                            </div>
                            <div class="price">
                                <div class="toPrice">
                                    <span class="value">999</span>
                                </div>
                                <div class="fromPrice">
                                    <span class="value">1300</span>
                                </div>
                            </div>
                        </a>

                        <a href="#" class="cardGame big js-itemNavSlider" title="Перейти к странице игры">
                            <div class="actions">
                                <button class="btn like" title="Добавить игру в избранное">
                                    <span class="icon-static icon-static-actionLike"></span>
                                </button>
                                <button
                                        class="btn border rounded uppercase bg-darkPink hover-bg-pink inCart"
                                        title="Добавить данный товар в корзину покупок"
                                >
                                    В корзину
                                </button>
                            </div>
                            <div class="head">
                                <img class="img" src="./img/CoverDoomEternal.jpg" alt="Image of Doom ETERNAL" title="Doom ETERNAL">
                                <div class="name">Doom ETERNAL</div>
                            </div>
                            <div class="price">
                                <div class="toPrice">
                                    <span class="value">999</span>
                                </div>
                                <div class="fromPrice">
                                    <span class="value">1300</span>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="cardGame big js-itemNavSlider" title="Перейти к странице игры">
                            <div class="actions">
                                <button class="btn like" title="Добавить игру в избранное">
                                    <span class="icon-static icon-static-actionLike"></span>
                                </button>
                                <button
                                        class="btn border rounded uppercase bg-darkPink hover-bg-pink inCart"
                                        title="Добавить данный товар в корзину покупок"
                                >
                                    В корзину
                                </button>
                            </div>
                            <div class="head">
                                <img class="img" src="./img/CoverDoomEternal.jpg" alt="Image of Doom ETERNAL" title="Doom ETERNAL">
                                <div class="name">Doom ETERNAL</div>
                            </div>
                            <div class="price">
                                <div class="toPrice">
                                    <span class="value">999</span>
                                </div>
                                <div class="fromPrice">
                                    <span class="value">1300</span>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="cardGame big js-itemNavSlider" title="Перейти к странице игры">
                            <div class="actions">
                                <button class="btn like" title="Добавить игру в избранное">
                                    <span class="icon-static icon-static-actionLike"></span>
                                </button>
                                <button
                                        class="btn border rounded uppercase bg-darkPink hover-bg-pink inCart"
                                        title="Добавить данный товар в корзину покупок"
                                >
                                    В корзину
                                </button>
                            </div>
                            <div class="head">
                                <img class="img" src="./img/CoverDoomEternal.jpg" alt="Image of Doom ETERNAL" title="Doom ETERNAL">
                                <div class="name">Doom ETERNAL</div>
                            </div>
                            <div class="price">
                                <div class="toPrice">
                                    <span class="value">999</span>
                                </div>
                                <div class="fromPrice">
                                    <span class="value">1300</span>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="cardGame big js-itemNavSlider" title="Перейти к странице игры">
                            <div class="actions">
                                <button class="btn like" title="Добавить игру в избранное">
                                    <span class="icon-static icon-static-actionLike"></span>
                                </button>
                                <button
                                        class="btn border rounded uppercase bg-darkPink hover-bg-pink inCart"
                                        title="Добавить данный товар в корзину покупок"
                                >
                                    В корзину
                                </button>
                            </div>
                            <div class="head">
                                <img class="img" src="./img/CoverDoomEternal.jpg" alt="Image of Doom ETERNAL" title="Doom ETERNAL">
                                <div class="name">Doom ETERNAL</div>
                            </div>
                            <div class="price">
                                <div class="toPrice">
                                    <span class="value">999</span>
                                </div>
                                <div class="fromPrice">
                                    <span class="value">1300</span>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="cardGame big js-itemNavSlider" title="Перейти к странице игры">
                            <div class="actions">
                                <button class="btn like" title="Добавить игру в избранное">
                                    <span class="icon-static icon-static-actionLike"></span>
                                </button>
                                <button
                                        class="btn border rounded uppercase bg-darkPink hover-bg-pink inCart"
                                        title="Добавить данный товар в корзину покупок"
                                >
                                    В корзину
                                </button>
                            </div>
                            <div class="head">
                                <img class="img" src="./img/CoverDoomEternal.jpg" alt="Image of Doom ETERNAL" title="Doom ETERNAL">
                                <div class="name">Doom ETERNAL</div>
                            </div>
                            <div class="price">
                                <div class="toPrice">
                                    <span class="value">999</span>
                                </div>
                                <div class="fromPrice">
                                    <span class="value">1300</span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <a
                            href="/news"
                            class="more btn border rounded big increase translucent bg-darkLilac"
                            title="Открыть каталог со всеми играми"
                    >
                        Ещё
                    </a>
                </div>
                <div class="item js-tabsTarget-4">
                    <div class="gameGrid">
                        <a href="#" class="cardGame big js-itemNavSlider" title="Перейти к странице игры">
                            <div class="actions">
                                <button class="btn like" title="Добавить игру в избранное">
                                    <span class="icon-static icon-static-actionLike"></span>
                                </button>
                                <button
                                        class="btn border rounded uppercase bg-darkPink hover-bg-pink inCart"
                                        title="Добавить данный товар в корзину покупок"
                                >
                                    В корзину
                                </button>
                            </div>
                            <div class="head">
                                <img class="img" src="./img/CoverDoomEternal.jpg" alt="Image of Doom ETERNAL" title="Doom ETERNAL">
                                <div class="name">Doom ETERNAL</div>
                            </div>
                            <div class="price">
                                <div class="toPrice">
                                    <span class="value">999</span>
                                </div>
                                <div class="fromPrice">
                                    <span class="value">1300</span>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="cardGame big js-itemNavSlider" title="Перейти к странице игры">
                            <div class="actions">
                                <button class="btn like" title="Добавить игру в избранное">
                                    <span class="icon-static icon-static-actionLike"></span>
                                </button>
                                <button
                                        class="btn border rounded uppercase bg-darkPink hover-bg-pink inCart"
                                        title="Добавить данный товар в корзину покупок"
                                >
                                    В корзину
                                </button>
                            </div>
                            <div class="head">
                                <img class="img" src="./img/CoverDoomEternal.jpg" alt="Image of Doom ETERNAL" title="Doom ETERNAL">
                                <div class="name">Doom ETERNAL</div>
                            </div>
                            <div class="price">
                                <div class="toPrice">
                                    <span class="value">999</span>
                                </div>
                                <div class="fromPrice">
                                    <span class="value">1300</span>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="cardGame big js-itemNavSlider" title="Перейти к странице игры">
                            <div class="actions">
                                <button class="btn like" title="Добавить игру в избранное">
                                    <span class="icon-static icon-static-actionLike"></span>
                                </button>
                                <button
                                        class="btn border rounded uppercase bg-darkPink hover-bg-pink inCart"
                                        title="Добавить данный товар в корзину покупок"
                                >
                                    В корзину
                                </button>
                            </div>
                            <div class="head">
                                <img class="img" src="./img/CoverDoomEternal.jpg" alt="Image of Doom ETERNAL" title="Doom ETERNAL">
                                <div class="name">Doom ETERNAL</div>
                            </div>
                            <div class="price">
                                <div class="toPrice">
                                    <span class="value">999</span>
                                </div>
                                <div class="fromPrice">
                                    <span class="value">1300</span>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="cardGame big js-itemNavSlider" title="Перейти к странице игры">
                            <div class="actions">
                                <button class="btn like" title="Добавить игру в избранное">
                                    <span class="icon-static icon-static-actionLike"></span>
                                </button>
                                <button
                                        class="btn border rounded uppercase bg-darkPink hover-bg-pink inCart"
                                        title="Добавить данный товар в корзину покупок"
                                >
                                    В корзину
                                </button>
                            </div>
                            <div class="head">
                                <img class="img" src="./img/CoverDoomEternal.jpg" alt="Image of Doom ETERNAL" title="Doom ETERNAL">
                                <div class="name">Doom ETERNAL</div>
                            </div>
                            <div class="price">
                                <div class="toPrice">
                                    <span class="value">999</span>
                                </div>
                                <div class="fromPrice">
                                    <span class="value">1300</span>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="cardGame big js-itemNavSlider" title="Перейти к странице игры">
                            <div class="actions">
                                <button class="btn like" title="Добавить игру в избранное">
                                    <span class="icon-static icon-static-actionLike"></span>
                                </button>
                                <button
                                        class="btn border rounded uppercase bg-darkPink hover-bg-pink inCart"
                                        title="Добавить данный товар в корзину покупок"
                                >
                                    В корзину
                                </button>
                            </div>
                            <div class="head">
                                <img class="img" src="./img/CoverDoomEternal.jpg" alt="Image of Doom ETERNAL" title="Doom ETERNAL">
                                <div class="name">Doom ETERNAL</div>
                            </div>
                            <div class="price">
                                <div class="toPrice">
                                    <span class="value">999</span>
                                </div>
                                <div class="fromPrice">
                                    <span class="value">1300</span>
                                </div>
                            </div>
                        </a>

                        <a href="#" class="cardGame big js-itemNavSlider" title="Перейти к странице игры">
                            <div class="actions">
                                <button class="btn like" title="Добавить игру в избранное">
                                    <span class="icon-static icon-static-actionLike"></span>
                                </button>
                                <button
                                        class="btn border rounded uppercase bg-darkPink hover-bg-pink inCart"
                                        title="Добавить данный товар в корзину покупок"
                                >
                                    В корзину
                                </button>
                            </div>
                            <div class="head">
                                <img class="img" src="./img/CoverDoomEternal.jpg" alt="Image of Doom ETERNAL" title="Doom ETERNAL">
                                <div class="name">Doom ETERNAL</div>
                            </div>
                            <div class="price">
                                <div class="toPrice">
                                    <span class="value">999</span>
                                </div>
                                <div class="fromPrice">
                                    <span class="value">1300</span>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="cardGame big js-itemNavSlider" title="Перейти к странице игры">
                            <div class="actions">
                                <button class="btn like" title="Добавить игру в избранное">
                                    <span class="icon-static icon-static-actionLike"></span>
                                </button>
                                <button
                                        class="btn border rounded uppercase bg-darkPink hover-bg-pink inCart"
                                        title="Добавить данный товар в корзину покупок"
                                >
                                    В корзину
                                </button>
                            </div>
                            <div class="head">
                                <img class="img" src="./img/CoverDoomEternal.jpg" alt="Image of Doom ETERNAL" title="Doom ETERNAL">
                                <div class="name">Doom ETERNAL</div>
                            </div>
                            <div class="price">
                                <div class="toPrice">
                                    <span class="value">999</span>
                                </div>
                                <div class="fromPrice">
                                    <span class="value">1300</span>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="cardGame big js-itemNavSlider" title="Перейти к странице игры">
                            <div class="actions">
                                <button class="btn like" title="Добавить игру в избранное">
                                    <span class="icon-static icon-static-actionLike"></span>
                                </button>
                                <button
                                        class="btn border rounded uppercase bg-darkPink hover-bg-pink inCart"
                                        title="Добавить данный товар в корзину покупок"
                                >
                                    В корзину
                                </button>
                            </div>
                            <div class="head">
                                <img class="img" src="./img/CoverDoomEternal.jpg" alt="Image of Doom ETERNAL" title="Doom ETERNAL">
                                <div class="name">Doom ETERNAL</div>
                            </div>
                            <div class="price">
                                <div class="toPrice">
                                    <span class="value">999</span>
                                </div>
                                <div class="fromPrice">
                                    <span class="value">1300</span>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="cardGame big js-itemNavSlider" title="Перейти к странице игры">
                            <div class="actions">
                                <button class="btn like" title="Добавить игру в избранное">
                                    <span class="icon-static icon-static-actionLike"></span>
                                </button>
                                <button
                                        class="btn border rounded uppercase bg-darkPink hover-bg-pink inCart"
                                        title="Добавить данный товар в корзину покупок"
                                >
                                    В корзину
                                </button>
                            </div>
                            <div class="head">
                                <img class="img" src="./img/CoverDoomEternal.jpg" alt="Image of Doom ETERNAL" title="Doom ETERNAL">
                                <div class="name">Doom ETERNAL</div>
                            </div>
                            <div class="price">
                                <div class="toPrice">
                                    <span class="value">999</span>
                                </div>
                                <div class="fromPrice">
                                    <span class="value">1300</span>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="cardGame big js-itemNavSlider" title="Перейти к странице игры">
                            <div class="actions">
                                <button class="btn like" title="Добавить игру в избранное">
                                    <span class="icon-static icon-static-actionLike"></span>
                                </button>
                                <button
                                        class="btn border rounded uppercase bg-darkPink hover-bg-pink inCart"
                                        title="Добавить данный товар в корзину покупок"
                                >
                                    В корзину
                                </button>
                            </div>
                            <div class="head">
                                <img class="img" src="./img/CoverDoomEternal.jpg" alt="Image of Doom ETERNAL" title="Doom ETERNAL">
                                <div class="name">Doom ETERNAL</div>
                            </div>
                            <div class="price">
                                <div class="toPrice">
                                    <span class="value">999</span>
                                </div>
                                <div class="fromPrice">
                                    <span class="value">1300</span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <a
                            href="/news"
                            class="more btn border rounded big increase translucent bg-darkLilac"
                            title="Открыть каталог со всеми играми"
                    >
                        Ещё
                    </a>
                </div>
                <div class="item js-tabsTarget-5">
                    <div class="gameGrid">
                        <a href="#" class="cardGame big js-itemNavSlider" title="Перейти к странице игры">
                            <div class="actions">
                                <button class="btn like" title="Добавить игру в избранное">
                                    <span class="icon-static icon-static-actionLike"></span>
                                </button>
                                <button
                                        class="btn border rounded uppercase bg-darkPink hover-bg-pink inCart"
                                        title="Добавить данный товар в корзину покупок"
                                >
                                    В корзину
                                </button>
                            </div>
                            <div class="head">
                                <img class="img" src="./img/CoverDoomEternal.jpg" alt="Image of Doom ETERNAL" title="Doom ETERNAL">
                                <div class="name">Doom ETERNAL</div>
                            </div>
                            <div class="price">
                                <div class="toPrice">
                                    <span class="value">999</span>
                                </div>
                                <div class="fromPrice">
                                    <span class="value">1300</span>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="cardGame big js-itemNavSlider" title="Перейти к странице игры">
                            <div class="actions">
                                <button class="btn like" title="Добавить игру в избранное">
                                    <span class="icon-static icon-static-actionLike"></span>
                                </button>
                                <button
                                        class="btn border rounded uppercase bg-darkPink hover-bg-pink inCart"
                                        title="Добавить данный товар в корзину покупок"
                                >
                                    В корзину
                                </button>
                            </div>
                            <div class="head">
                                <img class="img" src="./img/CoverDoomEternal.jpg" alt="Image of Doom ETERNAL" title="Doom ETERNAL">
                                <div class="name">Doom ETERNAL</div>
                            </div>
                            <div class="price">
                                <div class="toPrice">
                                    <span class="value">999</span>
                                </div>
                                <div class="fromPrice">
                                    <span class="value">1300</span>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="cardGame big js-itemNavSlider" title="Перейти к странице игры">
                            <div class="actions">
                                <button class="btn like" title="Добавить игру в избранное">
                                    <span class="icon-static icon-static-actionLike"></span>
                                </button>
                                <button
                                        class="btn border rounded uppercase bg-darkPink hover-bg-pink inCart"
                                        title="Добавить данный товар в корзину покупок"
                                >
                                    В корзину
                                </button>
                            </div>
                            <div class="head">
                                <img class="img" src="./img/CoverDoomEternal.jpg" alt="Image of Doom ETERNAL" title="Doom ETERNAL">
                                <div class="name">Doom ETERNAL</div>
                            </div>
                            <div class="price">
                                <div class="toPrice">
                                    <span class="value">999</span>
                                </div>
                                <div class="fromPrice">
                                    <span class="value">1300</span>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="cardGame big js-itemNavSlider" title="Перейти к странице игры">
                            <div class="actions">
                                <button class="btn like" title="Добавить игру в избранное">
                                    <span class="icon-static icon-static-actionLike"></span>
                                </button>
                                <button
                                        class="btn border rounded uppercase bg-darkPink hover-bg-pink inCart"
                                        title="Добавить данный товар в корзину покупок"
                                >
                                    В корзину
                                </button>
                            </div>
                            <div class="head">
                                <img class="img" src="./img/CoverDoomEternal.jpg" alt="Image of Doom ETERNAL" title="Doom ETERNAL">
                                <div class="name">Doom ETERNAL</div>
                            </div>
                            <div class="price">
                                <div class="toPrice">
                                    <span class="value">999</span>
                                </div>
                                <div class="fromPrice">
                                    <span class="value">1300</span>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="cardGame big js-itemNavSlider" title="Перейти к странице игры">
                            <div class="actions">
                                <button class="btn like" title="Добавить игру в избранное">
                                    <span class="icon-static icon-static-actionLike"></span>
                                </button>
                                <button
                                        class="btn border rounded uppercase bg-darkPink hover-bg-pink inCart"
                                        title="Добавить данный товар в корзину покупок"
                                >
                                    В корзину
                                </button>
                            </div>
                            <div class="head">
                                <img class="img" src="./img/CoverDoomEternal.jpg" alt="Image of Doom ETERNAL" title="Doom ETERNAL">
                                <div class="name">Doom ETERNAL</div>
                            </div>
                            <div class="price">
                                <div class="toPrice">
                                    <span class="value">999</span>
                                </div>
                                <div class="fromPrice">
                                    <span class="value">1300</span>
                                </div>
                            </div>
                        </a>

                        <a href="#" class="cardGame big js-itemNavSlider" title="Перейти к странице игры">
                            <div class="actions">
                                <button class="btn like" title="Добавить игру в избранное">
                                    <span class="icon-static icon-static-actionLike"></span>
                                </button>
                                <button
                                        class="btn border rounded uppercase bg-darkPink hover-bg-pink inCart"
                                        title="Добавить данный товар в корзину покупок"
                                >
                                    В корзину
                                </button>
                            </div>
                            <div class="head">
                                <img class="img" src="./img/CoverDoomEternal.jpg" alt="Image of Doom ETERNAL" title="Doom ETERNAL">
                                <div class="name">Doom ETERNAL</div>
                            </div>
                            <div class="price">
                                <div class="toPrice">
                                    <span class="value">999</span>
                                </div>
                                <div class="fromPrice">
                                    <span class="value">1300</span>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="cardGame big js-itemNavSlider" title="Перейти к странице игры">
                            <div class="actions">
                                <button class="btn like" title="Добавить игру в избранное">
                                    <span class="icon-static icon-static-actionLike"></span>
                                </button>
                                <button
                                        class="btn border rounded uppercase bg-darkPink hover-bg-pink inCart"
                                        title="Добавить данный товар в корзину покупок"
                                >
                                    В корзину
                                </button>
                            </div>
                            <div class="head">
                                <img class="img" src="./img/CoverDoomEternal.jpg" alt="Image of Doom ETERNAL" title="Doom ETERNAL">
                                <div class="name">Doom ETERNAL</div>
                            </div>
                            <div class="price">
                                <div class="toPrice">
                                    <span class="value">999</span>
                                </div>
                                <div class="fromPrice">
                                    <span class="value">1300</span>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="cardGame big js-itemNavSlider" title="Перейти к странице игры">
                            <div class="actions">
                                <button class="btn like" title="Добавить игру в избранное">
                                    <span class="icon-static icon-static-actionLike"></span>
                                </button>
                                <button
                                        class="btn border rounded uppercase bg-darkPink hover-bg-pink inCart"
                                        title="Добавить данный товар в корзину покупок"
                                >
                                    В корзину
                                </button>
                            </div>
                            <div class="head">
                                <img class="img" src="./img/CoverDoomEternal.jpg" alt="Image of Doom ETERNAL" title="Doom ETERNAL">
                                <div class="name">Doom ETERNAL</div>
                            </div>
                            <div class="price">
                                <div class="toPrice">
                                    <span class="value">999</span>
                                </div>
                                <div class="fromPrice">
                                    <span class="value">1300</span>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="cardGame big js-itemNavSlider" title="Перейти к странице игры">
                            <div class="actions">
                                <button class="btn like" title="Добавить игру в избранное">
                                    <span class="icon-static icon-static-actionLike"></span>
                                </button>
                                <button
                                        class="btn border rounded uppercase bg-darkPink hover-bg-pink inCart"
                                        title="Добавить данный товар в корзину покупок"
                                >
                                    В корзину
                                </button>
                            </div>
                            <div class="head">
                                <img class="img" src="./img/CoverDoomEternal.jpg" alt="Image of Doom ETERNAL" title="Doom ETERNAL">
                                <div class="name">Doom ETERNAL</div>
                            </div>
                            <div class="price">
                                <div class="toPrice">
                                    <span class="value">999</span>
                                </div>
                                <div class="fromPrice">
                                    <span class="value">1300</span>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="cardGame big js-itemNavSlider" title="Перейти к странице игры">
                            <div class="actions">
                                <button class="btn like" title="Добавить игру в избранное">
                                    <span class="icon-static icon-static-actionLike"></span>
                                </button>
                                <button
                                        class="btn border rounded uppercase bg-darkPink hover-bg-pink inCart"
                                        title="Добавить данный товар в корзину покупок"
                                >
                                    В корзину
                                </button>
                            </div>
                            <div class="head">
                                <img class="img" src="./img/CoverDoomEternal.jpg" alt="Image of Doom ETERNAL" title="Doom ETERNAL">
                                <div class="name">Doom ETERNAL</div>
                            </div>
                            <div class="price">
                                <div class="toPrice">
                                    <span class="value">999</span>
                                </div>
                                <div class="fromPrice">
                                    <span class="value">1300</span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <a
                            href="/news"
                            class="more btn border rounded big increase translucent bg-darkLilac"
                            title="Открыть каталог со всеми играми"
                    >
                        Ещё
                    </a>
                </div>
            </div>
        </div>
        <div class="homeSection">
            <div class="homeTitle">Жанры</div>
            <div class="genresSlider js-genresSlider">
                <div class="visibleArea js-visibleAreaSlider">
                    <div class="slides js-tapeSlider">
                        <div class="slide js-slide active">
                            <a class="genre" href="#" title="Открыть игры с жанром шутер">
                                <img class="img" src="./img/genreSlide-1.png" alt="Slide">
                                <div class="name">Шутера</div>
                            </a>
                            <a class="genre" href="#" title="Открыть игры с жанром стратегия">
                                <img class="img" src="./img/genreSlide-2.png" alt="Slide">
                                <div class="name">Стратегии</div>
                            </a>
                        </div>
                        <div class="slide js-slide active">
                            <a class="genre" href="#" title="Открыть игры с жанром выживание">
                                <img class="img" src="./img/genreSlide-4.png" alt="Slide">
                                <div class="name">Выживания 2</div>
                            </a>
                            <a class="genre" href="#" title="Открыть игры с жанром аниме">
                                <img class="img" src="./img/genreSlide-3.png" alt="Slide">
                                <div class="name">Аниме 2</div>
                            </a>
                        </div>
                        <div class="slide js-slide">
                            <a class="genre" href="#" title="Открыть игры с жанром шутер">
                                <img class="img" src="./img/genreSlide-1.png" alt="Slide">
                                <div class="name">Шутера</div>
                            </a>
                            <a class="genre" href="#" title="Открыть игры с жанром стратегия">
                                <img class="img" src="./img/genreSlide-2.png" alt="Slide">
                                <div class="name">Стратегии</div>
                            </a>
                        </div>
                        <div class="slide js-slide">
                            <a class="genre" href="#" title="Открыть игры с жанром выживание">
                                <img class="img" src="./img/genreSlide-4.png" alt="Slide">
                                <div class="name">Выживания 2</div>
                            </a>
                            <div class="genre" href="#" title="Открыть игры с жанром аниме">
                                <img class="img" src="./img/genreSlide-3.png" alt="Slide">
                                <div class="name">Аниме 2</div>
                            </div>
                        </div>
                        <div class="slide js-slide">
                            <a class="genre" href="#" title="Открыть игры с жанром шутер">
                                <img class="img" src="./img/genreSlide-1.png" alt="Slide">
                                <div class="name">Шутера</div>
                            </a>
                            <a class="genre" href="#" title="Открыть игры с жанром стратегия">
                                <img class="img" src="./img/genreSlide-2.png" alt="Slide">
                                <div class="name">Стратегии</div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="slideControls vertical">
                    <button class="btn prev js-prevSlide"></button>
                    <div class="progress js-progressSlider"></div>
                    <button class="btn next js-nextSlide"></button>
                </div>
            </div>
        </div>
        <div class="homeSection">
            <div class="homeTitle">Новости и статьи</div>
            <div class="newsSlider">
                <button class="btn prev increase">
                    <span class="icon-static icon-static-arrow"></span>
                </button>
                <div class="visibleArea">
                    <div class="tape">
                        <a href="#" class="newsPreview active">
                            <img class="img" src="./img/newPreview-1.png" alt="Новость 1" title="Новость 1">
                            <div class="attributes">
                                <div class="btn small round border small bg-darkLilac">Новости</div>
                                <div class="date">12.01.21</div>
                            </div>
                            <div class="description">
                                <div class="title">8 Миллионов продаж</div>
                                <div class="text">CDPR похвастались в своем твиттере, что количество предзаказов...</div>
                            </div>
                        </a>
                        <a href="#" class="newsPreview active">
                            <img class="img" src="./img/newPreview-2.png" alt="Новость 1" title="Новость 1">
                            <div class="attributes">
                                <div class="btn small round border small bg-darkLilac">Новости</div>
                                <div class="date">12.01.21</div>
                            </div>
                            <div class="description">
                                <div class="title">8 Миллионов продаж</div>
                                <div class="text">CDPR похвастались в своем твиттере, что количество предзаказов...</div>
                            </div>
                        </a>
                        <a href="#" class="newsPreview active">
                            <img class="img" src="./img/newPreview-3.png" alt="Новость 1" title="Новость 1">
                            <div class="attributes">
                                <div class="btn small round border small bg-darkLilac">Новости</div>
                                <div class="date">12.01.21</div>
                            </div>
                            <div class="description">
                                <div class="title">8 Миллионов продаж</div>
                                <div class="text">CDPR похвастались в своем твиттере, что количество предзаказов...</div>
                            </div>
                        </a>
                        <a href="#" class="newsPreview">
                            <img class="img" src="./img/newPreview-3.png" alt="Новость 1" title="Новость 1">
                            <div class="attributes">
                                <div class="btn small round border small bg-darkLilac">Новости</div>
                                <div class="date">12.01.21</div>
                            </div>
                            <div class="description">
                                <div class="title">8 Миллионов продаж</div>
                                <div class="text">CDPR похвастались в своем твиттере, что количество предзаказов...</div>
                            </div>
                        </a>
                    </div>
                </div>
                <button class="btn next increase">
                    <span class="icon-static icon-static-arrow"></span>
                </button>
            </div>
            <a class="btn round border backlight-pink hover-bg-palePink all" href="#">Все новости</a>
        </div>
        <div class="homeSection">
            <div class="homeTitle">Медиа о нас</div>
            <div class="homeMedia">
                <div class="items">
                    <a href="#" class="item" title="Медиа о нас 1">
                        <img class="img" src="./img/homeMedia-1.png" alt="Медиа о нас 1" title="Медиа о нас 1">
                    </a>
                    <a href="#" class="item" title="Медиа о нас 2">
                        <img class="img" src="./img/homeMedia-2.png" alt="Медиа о нас 2" title="Медиа о нас 2">
                    </a>
                    <a href="#" class="item" title="Медиа о нас 3">
                        <img class="img" src="./img/homeMedia-3.png" alt="Медиа о нас 3" title="Медиа о нас 3">
                    </a>
                    <a href="#" class="item" title="Медиа о нас 4">
                        <img class="img" src="./img/homeMedia-4.png" alt="Медиа о нас 4" title="Медиа о нас 4">
                    </a>
                </div>
            </div>
        </div>
    </div>
</main>