<main class="homePage">
    {{#if checkedEmail}}
        <div class="modalMessage js-modalMessage">E-mail успешно подтвержден! ✔</div>
    {{/if}}
    {{#if successPayment}}
        <div class="successPayment js-successPayment">
            <div class="title">Спасибо за покупку</div>
            <div class="text">
                Благодарим, что выбрали наш интернет-магазин!
                Ключ активации направлен на E-mail, указанный в Вашем профиле или при оформлении заказа.
                Если Вам не удалось найти письмо с ключом активации, убедительная просьба проверить папку "Спам" или иные папки рассылок.
                Так же в случае возникновения проблем, Вы всегда можете обратиться в службу поддержки нашего магазина в социальных сетях.
            </div>
            <div class="socials">
                <a href="https://vk.com/ice.games" target="_blank" rel="nofollow" class="link">
                    <img class="img" src="{{websiteAddress}}img/vkSocial.svg" loading="lazy">
                </a>
                <a href="https://t.me/ICE_supportBot" rel="nofollow" class="link" target="_blank">
                    <img class="img" src="{{websiteAddress}}img/telegramSocial.svg" loading="lazy">
                </a>
            </div>
            <button class="btn homeBtn js-closeSuccessPayment">Ок, спасибо!</button>
        </div>
    {{/if}}
    <div class="homeSlider js-homeSlider">
        <div class="tape js-tapeSlider">
            {{#each sliderProducts}}
                <div class="cover slide{{#if @first}} active{{/if}} js-slide" data-video-name="{{coverVideo}}">
                    <video class="video" muted></video>
                    <img class="img" src="{{@root.websiteAddress}}{{coverImg}}" loading="lazy" alt="Постер игры {{name}}" title="Постер игры {{name}}">
                    <div class="tableInfo homeSection">
                        <div class="tableInfo__container">
                            <div class="tableInfo__info">
                                <h2 class="tableInfo__name">{{name}}</h2>
                                <div class="tableInfo__desc">{{encodeString description}}</div>
                            </div>
                            <div class="tableInfo__price">
                                <div class="tableInfo__priceValues">
                                    {{#iff discount '>' 0}}
                                        <div class="rowDiscount">
                                            <div class="fromPrice">
                                                <span class="value">{{priceFrom}}</span>
                                            </div>
                                            <div class="discount">{{discount}}</div>
                                        </div>
                                    {{/iff}}
                                    <div class="toPrice">
                                        <span class="value">{{priceTo}}</span>
                                    </div>
                                </div>
                                <div class="tableInfo__actions">
                                    <a href="{{ @root.websiteAddress }}{{#if @root.platform }}{{ @root.platform }}/{{/if}}games/{{alias}}" title="Перейти к странице товара" class="btn moreInfo">Подробнее</a>
                                    {{#if inCart}}
                                        <button
                                                title="Перейти в корзину покупок"
                                                class="btn homeBtn js-addToCart js-active"
                                        >Добавлено</button>
                                    {{else}}
                                        <button
                                                title="Добавить товар в корзину покупок"
                                                class="btn homeBtn addToCart js-addToCart"
                                                data-product-id="{{_id}}"
                                        >
                                            В корзину
                                        </button>
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
        <div class="wrapNav">
            <div class="navigate js-navigateItemsContainer">
            {{#each sliderProducts}}
                <button class="roundNavItem circleProgress {{#if @first}} active{{/if}} js-itemNavigate" style="--progressPercent: 0">
                    <svg>
                        <circle cx="24" cy="24" r="24"></circle>
                        <circle cx="24" cy="24" r="24"></circle>
                    </svg>
                    <img src="{{@root.websiteAddress}}{{img}}" loading="lazy" class="center">
                </button>
            {{/each}}
            </div>
        </div>
    </div>
    <div class="homeWrapper">
        <div class="homeContent">
            <h3 class="homeTitle popularsTitle">Популярное</h3>
            <section class="section popularSwiper">
            <div class="container slider-column">
                <div class="swiper swiper-slider-populars">
                    <div class="swiper-wrapper">
                        {{#each recommend}}
                        <div class="slide swiper-slide">
                             {{> game}}
                        </div>
                        {{/each}}   
                    </div>
                </div>
                <span class="swiper-button-prev"></span>
                <span class="swiper-button-next"></span>
            </div>
            </section>
        </div>
        <div class="homeSection">
            <div class="homeStatistics mobileInvisibleScroll">
            <div class="statisticInput">
                <div class="label">комьюнити</div>
                <div class="valueWrapper">
                    <div class="value js-counterAnimation animated">{{countUsers}}</div>
                    <div class='icon icon-usersGroup animated'></div>
                </div>
            </div>
            <div class="statisticInput">
                <div class="label">игр куплено</div>
                <div class="valueWrapper">
                    <div class="value js-counterAnimation animated">{{countSales}}</div>
                    <div class='icon icon-bagCheck animated'></div>
                </div>
            </div>
            <div class="statisticInput">
                <div class="label">игр на сайте</div>
                <div class="valueWrapper">
                    <div class="value js-counterAnimation animated">{{countProducts}}</div>
                    <div class='icon icon-gamepadCharge animated'></div>
                </div>
            </div>
            <div class="statisticInput">
                <div class="label">отзывов</div>
                <div class="valueWrapper">
                    <div class="value js-counterAnimation animated">{{countReviews}}</div>
                    <div class='icon icon-likeReviews animated'></div>
                </div>
            </div>
            </div>
            <div class="splitInfoBlock">
            <img src="{{websiteAddress}}img/splitInfoBlockHomeBgV2.jpg" class="img infoBlockImg" loading="lazy" alt="Картинка для инфо-блока про сплит на главной">
            <div class="content">
                <img class="icon" src="{{@root.websiteAddress}}img/iconSplit.png" loading="lazy" alt="Доступно в сплит" title="Доступно для оплаты по частям">
                <div class="title">Играйте сейчас - платите потом</div>
                <div class="description">Делите заказы на части и оплачивайте постепенно</div>
                <a href="{{websiteAddress}}split" class="btn homeBtn">Узнать подробнее</a>
            </div>
            <div class="bg"></div>
            <div class='yaPayBlock'>
                <img class="qr" src="{{websiteAddress}}img/qr-yandex-pay.png" alt="">
                <p class="direction">Наведите камеру, <br>чтобы скачать приложение<br> "Яндекс Пэй"</p>
            </div>
            </div> 
        </div>
        <div class="flexColumn homeCatalog js-homeCatalogTabs">
            <div class='homeContent'>
                <div class="categories invisibleScroll">
                    {{#each catalog}}
                        {{#iff products.length '>' 0}}
                            <button class="categoryBtn js-tabBtn{{#if @first}} active{{/if}} "data-target-id="{{@index}}">
                                {{category.name}}
                            </button>
                        {{/iff}}
                    {{/each}}
                </div>
                <div class="blocks">
            {{#each catalog}}
                {{#iff products.length '>' 0}}
                    <div class="item hideScroll js-tabBlock-{{@index}}{{#if @first}} active{{/if}}">
                        {{#each products}}
                            {{> game
                                size='big'
                            }}
                        {{/each}}
                    </div>
                {{/iff}}
            {{/each}}
                </div> 
            </div>
            <a
                href="{{ websiteAddress }}{{#if platform}}{{ platform }}/{{/if}}    gamesonlyStock=true"
                class="btn homeBtn"
                title="Открыть каталог со всеми товарами"
            >
                В каталог
            </a>
        </div>
        <div class="flexColumn homeSelections">
            <div class='homeContent'>
                <h2 class="homeTitle">Подборки</h2>
                <section class="section selectionsSwiper selectionsBlock mobileScroll">
                    <div class="container slider-column">
                        <div class="swiper swiper-slider-selections">
                            <div class="swiper-wrapper">
                            {{#each selections}}
                                <a href="{{@root.websiteAddress}}{{#if @root.platform}}{{@root.platform }}/{{/if}}selections/{{alias}}"title="Перейти на  страницу подборки {{name}}" class="slide swiper-slide">
                                    <img  src="{{@root.websiteAddress}}{{img}}"  class="selectionImg" loading="lazy" alt="Изображениеподборки товаров {{name}}" title="Изображение подборкитоваров {{name}}">
                                    <div class="selectionInfo">
                                        <div class="selectionName">{{name}}</div>
                                    {{!-- <div class="selectionCountProducts">Игр в подборке:    {{products.length}}</div> --}}
                                    </div>
                                </a>
                            {{/each}}
                        </div>
                    </div>
                    <span class="swiper-button-prev"></span>
                    <span class="swiper-button-next"></span>
                </div>
                </section>
            </div>
            <a class="btn homeBtn" href="{{websiteAddress}}{{#if @root.platform}}{{@root.platform }}/{{/if}}selections">Все подборки</a>
        </div>
        <div class="flexColumn homeGenres">
            <div class="homeContent">
                <h2 class="homeTitle">Жанры</h2>
                <section class="section genresSwiper">
                <div class="container slider-column">
                    <div class="swiper swiper-slider-genres">
                        <div class="swiper-wrapper">
                        {{#each genres}}
                            <a class="slide swiper-slide" href="{{@root.websiteAddress}}{{#if @root.platform}}{{ @root.platform }}/{{/if}}games?genres={{alias}}" title="Открыть игры с жанром {{name}}">
                                <p class="name">{{name}}</p>
                                <p class="count">{{gamesCount}}</p>
                            </a>
                        {{/each}}  
                        </div>
                    </div>
                    <span class="swiper-button-prev"></span>
                    <span class="swiper-button-next"></span>
                </div>
                </section>
            </div>
            <a class="btn homeBtn" href="{{websiteAddress}}{{#if @root.platform}}{{@root.platform }}/{{/if}}selections">Все жанры</a>
        </div>  
        <div class="flexColumn homeNews">
            <div class="homeContent">
                <h2 class="homeTitle">Новости и статьи</h2>
                <section class="section newsSwiper">
                <div class="container slider-column">
                    <div class="swiper swiper-slider-news">
                        <div class="swiper-wrapper">
                        {{#each articles}}
                            <a href="{{@root.websiteAddress}}{{#if @root.platform}}{{@root.platform}}/{{/if}}blog/{{alias}}" class="slide newsPreview swiper-slide{{#iff @index '<' 3}} active{{/iff}}">
                            {{!-- todo вернуть адрес --}}
                                <img class="img" src="{{@root.websiteAddress}}/img/22149a6b-c5fe-43bb-a8ed-9967f94ece25.jpeg" loading="lazy" alt="Изображение записи из блога {{name}}" title="Изображение записи из блога {{name}}">
                                <div class="attributes">
                                    <div class="newsBtn">
                                        {{#iff type '===' 'news'}}Новости{{else}}Статьи{{/iff}}
                                    </div>
                                <div class="date">{{createdDate}}</div>
                            </div>
                            <div class="description">
                                <div class="title">{{name}}</div>
                                <div class="text">{{introText}}</div>
                            </div>
                            </a>
                        {{/each}}  
                        </div>
                    </div>
                <span class="swiper-button-prev"></span>
                <span class="swiper-button-next"></span>
                </div>
                </section>
            </div>
            <a class="btn homeBtn" href="{{websiteAddress}}{{#if platform}}{{platform}}/{{/if}}blog">Все новости</a>
        </div>
        
        
        <div class="homeSection aboutUsHome">
            {{#iff platform '===' 'xbox'}}
                <h1 class="homeTitle">ice games top za svoi dengi</h1>
                <div class="aboutUsPlatform">
                    <img src="{{websiteAddress}}/img/aboutUsXbox.png" class="img" loading="lazy"    alt="Представление сайта на различных устройствах">
                    <div class="text">
                        <div class="content js-aboutUsContentHome">
                            <p>C ICE GAMES никогда не скучно! В каталоге более 2000 синглплеерных   и онлайн-игр, среди которых вы точно найдете много интересных тайтлов  для Xbox. Всего пара минут, и благодаря интуитивно понятному    интерфейсу и сортировке по жанру и цене у вас перед глазами и свежие   релизы, которых с нетерпением ждали поклонники по всему миру, и   любимая миллионами геймеров старая добрая классика, проверенная   годами.</p>
                            <p><strong>И есть еще множество причин покупать игры для Xbox в ICE     GAMES</strong></p>
                            <ul>
                                <li>Регулярно проводим акции и даем скидки. С нами недорогие игры   для приставки — привычная реальность.</li>
                                <li>Для оплаты доступно большинство платежных систем. Никаких   мучений с переводом денег, все максимально удобно.</li>
                                <li>Наша надежная и дружелюбная техподдержка всегда на связи и  готова оперативно ответить на любые вопросы.</li>
                                <li>Знаем, что вам интересно, и рассказываем об играх и игровой     индустрии в своем блоге, чтобы вы были в курсе всего.</li>
                                <li>Дарим уникальные подарки. Можете отдать другу купленный у   нас, но еще не активированный ключ.</li>
                                <li>Мгновенно доставляем ключ на электронную почту после оплаты.    Не придется ждать, вы сразу можете погрузиться в новую игру.</li>
                            </ul>
                            <p>У нас только лицензионные ключи! Никакого key-ресейла и прочих   сомнительных схем с риском потери денег и других сложностей. С    разработчиками и издателями игр для Xbox мы сотрудничаем напрямую и    гарантируем безопасность покупки. Даже если вдруг возникнут проблемы   при активации ключа, предоставим новый бесплатно! Правило актуально   для игр любой категории, и недорогих, и с самым большим ценником.</p>
                            <p>Присоединяйтесь к нам в соцсетях и держите руку на пульсе</p>
                            <p>В наших сообществах всегда самые свежие обзоры новых релизов,    интересные конкурсы с ценными призами, стримы с анонсами тайтлов для   Xbox и много другого актуального контента. Самому активному   пользователю каждую неделю дарим бесплатную игру. Не упустите свой    шанс!</p>
                        </div>
                        <button class="btn showAllBtn js-showAboutAsHome">
                            Показать полностью
                        </button>
                    </div>
                </div>
            {{/iff}}
            {{#unless platform}}
                <h1 class="homeTitle">ice games top za svoi dengi</h1>
                <div class="aboutUsPlatform">
                    <img src="{{websiteAddress}}/img/aboutUs-v2.png" class="img" alt="Представление сайта на различных устройствах">
                    <div class="text">
                        <div class="content js-aboutUsContentHome">
                            <p>
                                С нами Вам точно не будет скучно! Каталог ICE GAMES насчитывает     более 2 000 синглплеерных и онлайн -
                                игр для всех игровых площадок, включая Steam, Epic Games Store,     GOG, Origin, Ubisoft Connect,
                                Battle.net. Здесь всегда доступны как свежие тайтлы, так и  классика, проверенная годами и миллионами
                                игроков со всего мира. Мы позаботились о том, чтобы подходящую  компьютерную игру можно было найти за
                                считаные минуты благодаря интуитивно понятному интерфейсу. Тайтлы   можно сортировать по жанру, цене,
                                площадке.
                            </p>
                            <br>
                            <p>И есть еще много причин покупать игры для ПК у нас:</p>
                            <ul>
                                <li>регулярные скидки и акции — недорогие игры вполне реальны;</li>
                                <li>поддержка абсолютного большинства платежных систем;</li>
                                <li>надежная и дружелюбная техническая поддержка, готовая ответить на любой вопрос;</li>
                                <li>блог, в котором мы регулярно рассказываем об играх и игровой индустрии;</li>
                                <li>уникальные подарки — неактивированный ключ можно отдать другу;</li>
                                <li>мгновенная доставка ключа — начните играть прямо сейчас!</li>
                            </ul>
                            <br>
                            <p>
                                Продаем только лицензионные игры — никакого key-ресейла и прочих сомнительных схем,     чреватых потерей
                                денег и блокировкой аккаунта в «Стиме». Сотрудничаем с разработчиками и издателями  напрямую — это
                                залог безопасности покупателей. В случае проблем с активацией бесплатно предоставим Вам     новый ключ —
                                правило действует как для дешевых, так и для самых дорогих игр.
                            </p>
                            <br>
                            <p>Присоединяйтесь к нашим сообществам в социальных сетях!</p>
                            <p>
                                Вас ждут обзоры новинок, стримы с игровыми анонсами, конкурсы и многое другое. Самый    активный
                                пользователь каждую неделю получает бесплатную игру.
                            </p>
                            <p>Как активировать ключ в «Стиме» или на другой площадке?</p>
                            <p>
                                Для покупки нужно указать электронную почту. Сразу после оплаты на нее придет код, который
                                необходимо ввести в «Стиме» или другом сервисе. Помните: активация цифрового ключа  возможна только на
                                площадке, для которой он предназначался. Например, в магазине Steam нельзя получить игру    для Epic
                                Games или GOG. Чтобы воспользоваться большинством сервисов, понадобится скачать клиент.
                            </p>
                        </div>
                        <button class="btn showAllBtn js-showAboutAsHome">
                            Показать полностью
                        </button>
                    </div>
                </div>
            {{/unless}}
        </div>
    </div>
        <div class="homeSection mediaAboutUs">
            <h2 class="homeTitle">Медиа о нас</h2>
            <div class="homeMediaSlider js-homeMediaSlider">
                <div class="tape js-tape">
                    {{#each partners}}
                        <a href="{{link}}" target="_blank" rel="nofollow" class="slide js-slide" title="Логотип {{name}}">
                            <img class="img" src="{{websiteAddress}}{{img}}" alt="Логотип {{name}}" title="Логотип {{name}}">
                        </a>
                    {{/each}}
                </div>
            </div>
        </div>
        </div>
    </div>
</main>
