<main class="homePage">
    {{#if checkedEmail}}
        <div class="modalMessage js-modalMessage">E-mail успешно подтвержден! ✔</div>
    {{/if}}
    {{#if successPayment}}
        <div class="successPayment js-successPayment">
            <div class="title">Спасибо за покупку</div>
            <div class="text">
                Благодарим, что выбрали наш интернет-магазин!
                Ключ активации направлен на E-mail, указанный в Вашем профиле или при оформлении заказа.
                Если Вам не удалось найти письмо с ключом активации, убедительная просьба проверить папку "Спам" или иные папки рассылок.
                Так же в случае возникновения проблем, Вы всегда можете обратиться в службу поддержки нашего магазина в социальных сетях.
            </div>
            <div class="socials">
                <a href="https://vk.com/ice.games" target="_blank" rel="nofollow" class="link">
                    <img class="img" src="{{websiteAddress}}img/vkSocial.svg" loading="lazy">
                </a>
                <a href="https://t.me/ICE_supportBot" rel="nofollow" class="link" target="_blank">
                    <img class="img" src="{{websiteAddress}}img/telegramSocial.svg" loading="lazy">
                </a>
            </div>
            <button class="btn rounded increase bg-pink js-closeSuccessPayment">Ок, спасибо!</button>
        </div>
    {{/if}}
    <div class="homeSlider js-homeSlider">
        <div class="tape js-tapeSlider">
            {{#each sliderProducts}}
                <div class="cover slide{{#if @first}} active{{/if}} js-slide" data-video-name="{{coverVideo}}">
                    <video class="video" muted></video>
                    <img class="img" src="{{@root.websiteAddress}}{{coverImg}}" loading="lazy" alt="Постер игры {{name}}" title="Постер игры {{name}}">
                    <div class="contentContainer tableInfo">
                        <div class="tableInfo__container">
                            <div class="tableInfo__info">
                                <h2 class="tableInfo__name">{{name}}</h2>
                                <div class="tableInfo__desc">{{encodeString description}}</div>
                            </div>
                            <div class="tableInfo__price">
                                <div class="tableInfo__priceValues">
                                    {{#iff discount '>' 0}}
                                        <div class="rowDiscount">
                                            <div class="fromPrice">
                                                <span class="value">{{priceFrom}}</span>
                                            </div>
                                            <div class="discount">{{discount}}</div>
                                        </div>
                                    {{/iff}}
                                    <div class="toPrice">
                                        <span class="value">{{priceTo}}</span>
                                    </div>
                                </div>
                                <div class="tableInfo__actions">
                                    <a href="{{ @root.websiteAddress }}{{#if @root.platform }}{{ @root.platform }}/{{/if}}games/{{alias}}" title="Перейти к странице товара" class="btn rounded bg-darkLilac">Подробнее</a>
                                    {{#if inCart}}
                                        <button
                                                title="Перейти в корзину покупок"
                                                class="btn rounded increase bg-pink js-addToCart js-active"
                                        >Добавлено</button>
                                    {{else}}
                                        <button
                                                title="Добавить товар в корзину покупок"
                                                class="btn rounded increase bg-pink js-addToCart"
                                                data-product-id="{{_id}}"
                                        >
                                            В корзину
                                        </button>
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
        <div class="contentContainer navigate js-navigateItemsContainer">
            {{#each sliderProducts}}
                <button class="roundNavItem circleProgress {{#if @first}} active{{/if}} js-itemNavigate" style="--progressPercent: 0">
                    <svg>
                        <circle cx="24" cy="24" r="24"></circle>
                        <circle cx="24" cy="24" r="24"></circle>
                    </svg>
                    <img src="{{@root.websiteAddress}}{{img}}" loading="lazy" class="center">
                </button>
            {{/each}}
        </div>
    </div>
    <div class="contentContainer homeContent">
        <div class="homeSection">
            <h3 class="homeSubTitle">Рекомендуем</h3>
            <div class="homeRecommend mobileScroll">
                {{#each recommend}}
                    {{> game
                            size='big'
                    }}
                {{/each}}
            </div>
        </div>
        <div class="homeSection homeStatistics mobileInvisibleScroll">
            <div class="statisticInput">
                <div class="label">комьюнити</div>
                <div class="value animated js-counterAnimation">4956</div>
            </div>
            <div class="statisticInput">
                <div class="label">игр куплено</div>
                <div class="value animated js-counterAnimation">{{countSales}}</div>
            </div>
            <div class="statisticInput">
                <div class="label">игр на сайте</div>
                <div class="value animated js-counterAnimation">{{countProducts}}</div>
            </div>
            <div class="statisticInput">
                <div class="label">отзывов</div>
                <div class="value animated js-counterAnimation">{{countReviews}}</div>
            </div>
        </div>
        <div class="splitInfoBlock">
            <img src="{{websiteAddress}}img/splitInfoBlockHomeBg.jpg" class="img" loading="lazy" alt="Картинка для инфо-блока про сплит на главной">
            <div class="content">
                <img class="icon" src="{{@root.websiteAddress}}img/iconSplit.png" loading="lazy" alt="Доступно в сплит" title="Доступно для оплаты по частям">
                <div class="title">Играй сейчас - плати потом</div>
                <div class="description">Дели сумму заказа на части и оплачивай постепенно</div>
                <a href="{{websiteAddress}}split" class="btn border round bg-pink">Узнать подробнее</a>
            </div>
            <div class="separate"></div>
        </div>
        <div class="homeSection homeCatalog js-homeCatalogTabs">
            <div class="categories mobileInvisibleScroll">
                {{#each catalog}}
                    {{#iff products.length '>' 0}}
                        <button class="btn round border big bg-darkLilac translucent js-tabBtn{{#if @first}} active{{/if}}" data-target-id="{{@index}}">
                            {{category.name}}
                        </button>
                    {{/iff}}
                {{/each}}
            </div>
            <div class="blocks">
                {{#each catalog}}
                    {{#iff products.length '>' 0}}
                        <div class="item mobileScroll js-tabBlock-{{@index}}{{#if @first}} active{{/if}}">
                            {{#each products}}
                                {{> game
                                    size='big'
                                }}
                            {{/each}}
                        </div>
                    {{/iff}}
                {{/each}}
            </div>
            <a
                    href="{{ websiteAddress }}{{#if platform}}{{ platform }}/{{/if}}games?onlyStock=true"
                    class="more btn border rounded increase bg-darkLilac"
                    title="Открыть каталог со всеми товарами"
            >
                В каталог
            </a>
        </div>
        <div class="homeSection">
            <h2 class="homeTitle">Жанры</h2>
            <div class="genresSlider js-genresSlider">
                <button class="btn prev js-prevBtn"></button>
                <div class="visibleArea js-visibleArea">
                    <div class="tape js-tape">
                        {{#each genres}}
                            <a class="slide js-slide" href="{{@root.websiteAddress}}{{#if @root.platform}}{{ @root.platform }}/{{/if}}games?genres={{alias}}" title="Открыть игры с жанром {{name}}">
                                <span class="blackout" style="background-color: {{bgColor}}"></span>
                                <img class="img" src="{{@root.websiteAddress}}{{img}}" loading="lazy" alt="Изображение жанра {{name}}" title="Изображение жанра {{name}}">
                                <div class="name">{{name}}</div>
                            </a>
                        {{/each}}
                    </div>
                </div>
                <button class="btn next js-nextBtn"></button>
            </div>
        </div>
        <div class="homeSection">
            <h2 class="homeTitle">Подборки</h2>
            <div class="selectionsBlock">
                {{#each selections}}
                    <a href="{{@root.websiteAddress}}{{#if @root.platform}}{{ @root.platform }}/{{/if}}selections/{{alias}}" title="Перейти на страницу подборки {{name}}" class="selection">
                        <img src="{{@root.websiteAddress}}{{img}}" class="selectionImg" loading="lazy" alt="Изображение подборки товаров {{name}}" title="Изображение подборки товаров {{name}}">
                        <div class="selectionInfo">
                            <div class="selectionName">{{name}}</div>
                            <div class="selectionCountProducts">Игр в подборке: {{products.length}}</div>
                        </div>
                    </a>
                {{/each}}
            </div>
            <a class="btn round border hover-bg-palePink allSelections" href="{{websiteAddress}}{{#if @root.platform}}{{ @root.platform }}/{{/if}}selections">Все подборки</a>
        </div>
        {{> newsSlider
                aricles=articles
        }}
        <div class="homeSection aboutUsHome">
            {{#iff platform '===' 'xbox'}}
                <img src="{{websiteAddress}}/img/aboutUsXbox.png" class="img" loading="lazy" alt="Представление сайта на различных устройствах">
                <div class="text">
                    <div class="content js-aboutUsContentHome">
                        <p>C ICE GAMES никогда не скучно! В каталоге более 2000 синглплеерных и онлайн-игр, среди которых вы точно найдете много интересных тайтлов для Xbox. Всего пара минут, и благодаря интуитивно понятному интерфейсу и сортировке по жанру и цене у вас перед глазами и свежие релизы, которых с нетерпением ждали поклонники по всему миру, и любимая миллионами геймеров старая добрая классика, проверенная годами.</p>
                        <p><strong>И есть еще множество причин покупать игры для Xbox в ICE GAMES</strong></p>
                        <ul>
                            <li>Регулярно проводим акции и даем скидки. С нами недорогие игры для приставки — привычная реальность.</li>
                            <li>Для оплаты доступно большинство платежных систем. Никаких мучений с переводом денег, все максимально удобно.</li>
                            <li>Наша надежная и дружелюбная техподдержка всегда на связи и готова оперативно ответить на любые вопросы.</li>
                            <li>Знаем, что вам интересно, и рассказываем об играх и игровой индустрии в своем блоге, чтобы вы были в курсе всего.</li>
                            <li>Дарим уникальные подарки. Можете отдать другу купленный у нас, но еще не активированный ключ.</li>
                            <li>Мгновенно доставляем ключ на электронную почту после оплаты. Не придется ждать, вы сразу можете погрузиться в новую игру.</li>
                        </ul>
                        <p>У нас только лицензионные ключи! Никакого key-ресейла и прочих сомнительных схем с риском потери денег и других сложностей. С разработчиками и издателями игр для Xbox мы сотрудничаем напрямую и гарантируем безопасность покупки. Даже если вдруг возникнут проблемы при активации ключа, предоставим новый бесплатно! Правило актуально для игр любой категории, и недорогих, и с самым большим ценником.</p>
                        <p>Присоединяйтесь к нам в соцсетях и держите руку на пульсе</p>
                        <p>В наших сообществах всегда самые свежие обзоры новых релизов, интересные конкурсы с ценными призами, стримы с анонсами тайтлов для Xbox и много другого актуального контента. Самому активному пользователю каждую неделю дарим бесплатную игру. Не упустите свой шанс!</p>
                    </div>
                    <button class="btn showAllBtn js-showAboutAsHome">
                        Показать полностью
                    </button>
                </div>
            {{/iff}}
            {{#unless platform}}
                <img src="{{websiteAddress}}/img/aboutUs.png" class="img" alt="Представление сайта на различных устройствах">
                <div class="text">
                    <div class="content js-aboutUsContentHome">
                        <h1>ICE GAMES</h1>
                        <p>
                            С нами Вам точно не будет скучно! Каталог ICE GAMES насчитывает более 2 000 синглплеерных и онлайн -
                            игр для всех игровых площадок, включая Steam, Epic Games Store, GOG, Origin, Ubisoft Connect,
                            Battle.net. Здесь всегда доступны как свежие тайтлы, так и классика, проверенная годами и миллионами
                            игроков со всего мира. Мы позаботились о том, чтобы подходящую компьютерную игру можно было найти за
                            считаные минуты благодаря интуитивно понятному интерфейсу. Тайтлы можно сортировать по жанру, цене,
                            площадке.
                        </p>
                        <p><strong>И есть еще много причин покупать игры для ПК у нас:</strong></p>
                        <ul>
                            <li>регулярные скидки и акции — недорогие игры вполне реальны;</li>
                            <li>поддержка абсолютного большинства платежных систем;</li>
                            <li>надежная и дружелюбная техническая поддержка, готовая ответить на любой вопрос;</li>
                            <li>блог, в котором мы регулярно рассказываем об играх и игровой индустрии;</li>
                            <li>уникальные подарки — неактивированный ключ можно отдать другу;</li>
                            <li>мгновенная доставка ключа — начните играть прямо сейчас!</li>
                        </ul>
                        <p>
                            Продаем только лицензионные игры — никакого key-ресейла и прочих сомнительных схем, чреватых потерей
                            денег и блокировкой аккаунта в «Стиме». Сотрудничаем с разработчиками и издателями напрямую — это
                            залог безопасности покупателей. В случае проблем с активацией бесплатно предоставим Вам новый ключ —
                            правило действует как для дешевых, так и для самых дорогих игр.
                        </p>
                        <p>Присоединяйтесь к нашим сообществам в социальных сетях!</p>
                        <p>
                            Вас ждут обзоры новинок, стримы с игровыми анонсами, конкурсы и многое другое. Самый активный
                            пользователь каждую неделю получает бесплатную игру.
                        </p>
                        <p>Как активировать ключ в «Стиме» или на другой площадке?</p>
                        <p>
                            Для покупки нужно указать электронную почту. Сразу после оплаты на нее придет код, который
                            необходимо ввести в «Стиме» или другом сервисе. Помните: активация цифрового ключа возможна только на
                            площадке, для которой он предназначался. Например, в магазине Steam нельзя получить игру для Epic
                            Games или GOG. Чтобы воспользоваться большинством сервисов, понадобится скачать клиент.
                        </p>
                    </div>
                    <button class="btn showAllBtn js-showAboutAsHome">
                        Показать полностью
                    </button>
                </div>
            {{/unless}}
        </div>
        <div class="homeSection">
            <h2 class="homeTitle">Медиа о нас</h2>
            <div class="homeMediaSlider js-homeMediaSlider">
                <div class="tape js-tape">
                    {{#each partners}}
                        <a href="{{link}}" target="_blank" rel="nofollow" class="slide js-slide" title="Логотип {{name}}">
                            <img class="img" src="{{websiteAddress}}{{img}}" alt="Логотип {{name}}" title="Логотип {{name}}">
                        </a>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</main>
