<main>
    {{#if checkedEmail}}
        <div class="modalMessage js-modalMessage">E-mail успешно подтвержден! ✔</div>
    {{/if}}
    <div class="homeSlider js-homeSlider">
        <div class="tape js-tapeSlider">
            {{#each sliderProducts}}
                <div class="cover blackout blackout-left blackout-bottom slide{{#if @first}} active{{/if}} js-slide" data-video-name="{{coverVideo}}">
                    <video class="video" muted></video>
                    <img class="img" src="{{@root.websiteAddress}}{{coverImg}}" alt="Постер игры {{name}}" title="Постер игры {{name}}">
                    <div class="offer">
                        <div class="name">
                            {{name}}
                        </div>
                        <div class="description">
                            {{description}}
                        </div>
                        <div class="price">
                            <div class="rowDiscount">
                                <div class="fromPrice">
                                    <span class="value">
                                        {{priceFrom}}
                                    </span>
                                </div>
                                <div class="discount">{{discount}}</div>
                            </div>
                            <div class="toPrice">
                                <span class="value">
                                    {{priceTo}}
                                </span>
                            </div>
                        </div>
                        <div class="actions">
                            <button title="Добавить товар в корзину покупок" class="btn elongated rounded increase bg-pink hover-backlight-blue">В корзину</button>
                            <a href="/games/{{alias}}" title="Перейти к странице товара" class="btn elongated rounded translucent bg-pink">Подробнее</a>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
        <div class="contentContainer navigate">
            <div class="slideControls">
                <button class="btn prev js-prevBtn"></button>
                <div class="progress js-progress"></div>
                <button class="btn next js-nextBtn"></button>
            </div>
            <div class="items mobileScroll js-navigateItemsContainer">
                {{#each sliderProducts}}
                    <button class="cardGame big{{#if @first}} active{{/if}} js-itemNavigate" title="Переключить слайд">
                        <div class="head">
                            <img class="img" src="{{@root.websiteAddress}}{{img}}" alt="Изображение игры {{name}}" title="{{name}}">
                            <div class="name">
                                {{name}}
                            </div>
                        </div>
                        <div class="price">
                            <div class="toPrice">
                                <span class="value">
                                    {{priceTo}}
                                </span>
                            </div>
                            <div class="fromPrice">
                                <span class="value">
                                    {{priceFrom}}
                                </span>
                            </div>
                        </div>
                    </button>
                {{/each}}
            </div>
        </div>
    </div>
    <div class="contentContainer">
        <div class="homeSection homeCatalog js-homeCatalogTabs">
            <div class="categories mobileInvisibleScroll">
                {{#each catalog}}
                    <button class="btn round border big bg-darkLilac translucent js-tabBtn{{#if @first}} active{{/if}}" data-target-id="{{category._id}}">
                        {{category.name}}
                    </button>
                {{/each}}
            </div>
            <div class="blocks">
                {{#each catalog}}
                    <div class="item mobileScroll js-tabBlock-{{category._id}}{{#if @first}} active{{/if}}">
                        {{#each products}}
                            {{> game
                                id=_id
                                size='big'
                            }}
                        {{/each}}
                    </div>
                {{/each}}
            </div>
            <a
                    href="/games"
                    class="more btn border rounded big increase translucent bg-darkLilac"
                    title="Открыть каталог со всеми товарами"
            >
                В каталог
            </a>
        </div>
        <div class="homeSection">
            <div class="homeTitle">Жанры</div>
            <div class="genresSlider js-genresSlider">
                <div class="visibleArea js-visibleArea">
                    <div class="slides js-tape">
                        <div class="slide js-slide">
                            {{#each genres}}
                                <a class="genre" href="{{websiteAddress}}{{url}}" title="Открыть игры с жанром {{name}}">
                                    <img class="img" src="{{@root.websiteAddress}}{{img}}" alt="Изображение жанра {{name}}" title="Изображение жанра {{name}}">
                                    <div class="name">
                                        {{name}}
                                    </div>
                                </a>
                                {{#if (endOfBlock @index 2 @last)}}
                                    </div>
                                    <div class="slide js-slide">
                                {{/if}}
                            {{/each}}
                        </div>
                    </div>
                </div>
                <div class="slideControls vertical">
                    <button class="btn prev js-prevBtn"></button>
                    <div class="progress js-progress"></div>
                    <button class="btn next js-nextBtn"></button>
                </div>
            </div>
        </div>
        {{> newsSlider
                aricles=articles
        }}
        <div class="homeSection">
            <div class="homeTitle">Медиа о нас</div>
            <div class="homeMediaSlider js-homeMediaSlider">
                <div class="tape js-tape">
                    <a href="#" rel="nofollow" class="slide" title="Медиа о нас 1">
                        <img class="img" src="{{websiteAddress}}img/homeMedia-1.png" alt="Медиа о нас 1" title="Медиа о нас 1">
                    </a>
                    <a href="#" rel="nofollow" class="slide" title="Медиа о нас 2">
                        <img class="img" src="{{websiteAddress}}img/homeMedia-2.png" alt="Медиа о нас 2" title="Медиа о нас 2">
                    </a>
                    <a href="#" rel="nofollow" class="slide" title="Медиа о нас 3">
                        <img class="img" src="{{websiteAddress}}img/homeMedia-3.png" alt="Медиа о нас 3" title="Медиа о нас 3">
                    </a>
                    <a href="#" rel="nofollow" class="slide" title="Медиа о нас 4">
                        <img class="img" src="{{websiteAddress}}img/homeMedia-4.png" alt="Медиа о нас 4" title="Медиа о нас 4">
                    </a>
                    <a href="#" rel="nofollow" class="slide" title="Медиа о нас 1">
                        <img class="img" src="{{websiteAddress}}img/homeMedia-1.png" alt="Медиа о нас 1" title="Медиа о нас 1">
                    </a>
                    <a href="#" rel="nofollow" class="slide" title="Медиа о нас 2">
                        <img class="img" src="{{websiteAddress}}img/homeMedia-2.png" alt="Медиа о нас 2" title="Медиа о нас 2">
                    </a>
                    <a href="#" rel="nofollow" class="slide" title="Медиа о нас 3">
                        <img class="img" src="{{websiteAddress}}img/homeMedia-3.png" alt="Медиа о нас 3" title="Медиа о нас 3">
                    </a>
                    <a href="#" rel="nofollow" class="slide" title="Медиа о нас 4">
                        <img class="img" src="{{websiteAddress}}img/homeMedia-4.png" alt="Медиа о нас 4" title="Медиа о нас 4">
                    </a>
                </div>
            </div>
        </div>
    </div>
</main>