<main>
    <div class="homeSlider js-homeSlider">
        <div class="tape js-tapeSlider">
            {{#each games}}
                <div class="headCover blackout horizontal vertical maxHeight slide{{#if @first}} active{{/if}} js-slide">
                    {{#if dataValues.coverVideo}}
                        <video class="video" autoplay muted loop>
                            <source type="video/mp4" src="/{{dataValues.coverVideo}}">
                        </video>
                    {{else}}
                        <img class="img" src="/{{dataValues.coverImg}}" alt="Phoenix Point: Year One Edition" title="Phoenix Point: Year One Edition">
                    {{/if}}
                    <div class="offer">
                        <div class="name">
                            {{dataValues.name}}
                        </div>
                        <div class="description">
                            {{dataValues.description}}
                        </div>
                        <div class="price">
                            <div class="toPrice">
                                <span class="value">{{dataValues.price}}</span>
                            </div>
                            <div class="fromPrice">
                                <span class="value">1300</span>
                            </div>
                            <div class="discount">{{dataValues.discount}}</div>
                        </div>
                        <div class="actions">
                            <a href="#" title="Перейти к покупке" class="btn rounded increase bg-pink hover-backlight-blue">Купить</a>
                            <a href="#" title="Перейти к странице игры" class="btn rounded translucent bg-pink">Подробнее</a>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
        <div class="contentContainer">
            <div class="navigateHomeSlide">
                <div class="slideControls brand">
                    <div class="btn prev slideControl brand left js-prevSlide"></div>
                    <div class="progress js-progressSlider"></div>
                    <div class="btn next slideControl brand right js-nextSlide"></div>
                </div>
                <div class="items gameGrid">
                    {{#each games}}
                        <div class="cardGame{{#if @first}} active{{/if}} js-itemNavSlider">
                            <div class="cover">
                                <img src="/{{dataValues.img}}" alt="Image of Doom ETERNAL" title="Doom ETERNAL">
                                <div class="name">{{dataValues.name}}</div>
                            </div>
                            <div class="price">
                                <div class="toPrice">
                                    <span class="value">{{dataValues.price}}</span>
                                </div>
                                <div class="fromPrice">
                                    <span class="value">1300</span>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
    <div class="contentContainer">
        <div class="uspRow">
            {{#each usp}}
                <div class="cardUsp">{{dataValues.text}}</div>
            {{/each}}
        </div>
        <div class="homeCatalog js-tabs">
            <div class="categories">
                {{#each categories}}
                    <button class="btn round border small bg-darkLilac translucent js-tabsBtn{{#if @first}} active{{/if}}" data-target="{{@index}}">{{dataValues.name}}</button>
                {{/each}}
            </div>
            <div class="items">
                {{#each gamesCategories}}
                    <div class="item{{#if @first}}{{else}} hide{{/if}} js-tabsTarget-{{@index}}">
                        <div class="products gameGrid">
                            {{#each this}}
                                <div class="cardGame">
                                    <div class="actions">
                                        <button class="btn like">
                                            <span class="likeIcon"></span>
                                        </button>
                                        <button class="btn border rounded uppercase bg-darkPink hover-bg-pink inCart" title="Добавить данный товар в корзину покупок">В корзину</button>
                                    </div>
                                    <div class="cover">
                                        <img src="/{{dataValues.img}}" alt="Image of Doom ETERNAL" title="Doom ETERNAL">
                                        <div class="name">{{dataValues.name}}</div>
                                    </div>
                                    <div class="price">
                                        <div class="toPrice">
                                            <span class="value">{{dataValues.price}}</span>
                                        </div>
                                        <div class="fromPrice">
                                            <span class="value">1300</span>
                                        </div>
                                    </div>
                                </div>
                            {{/each}}
                        </div>
                        <a href="/news" class="btn border rounded more bg-darkLilac increase" title="Открыть каталог со всеми играми">Ещё</a>
                    </div>
                {{/each}}
            </div>
        </div>
        <div class="homeGenresSlider js-homeGeneresSlider">
            <div class="homeTitle">Жанры</div>
            <div class="visibleArea js-visibleAreaSlider">
                <div class="items js-tapeSlider">
                    <div class="slide js-slide">
                        {{#each genres}}
                            <div class="genre">
                                <img class="img" src="/{{dataValues.img}}" alt="Slide">
                                <div class="name">{{dataValues.name}}</div>
                            </div>
                            {{#if (isSecond @index)}}
                                </div>
                                <div class="slide js-slide">
                            {{/if}}
                        {{/each}}
                    </div>
                </div>
            </div>
            <div class="controls slideControls brand vertical">
                <div class="btn prev slideControl brand top js-prevSlide"></div>
                <div class="progress js-progressSlider"></div>
                <div class="btn next slideControl brand js-nextSlide"></div>
            </div>
        </div>
        <div class="homeNewsTape">
            <div class="homeTitle">Новости и статьи</div>
            <input type="button" title="Предыдущий слайд" class="btn prev">
            <div class="slider">
                <div class="slide newsPreview">
                    <a href="#" class="imgContainer btn">
                        <img src="./img/newPreview-1.png" alt="Новость 1" title="Новость 1">
                    </a>
                    <div class="attributes">
                        <a href="#" title="Открыть все материалы данной категории" class="category btn round border small bg-darkLilac translucent">Новости</a>
                        <div class="date">12.01.21</div>
                    </div>
                    <div class="description">
                        <div class="title">8 Миллионов продаж</div>
                        <div class="text">CDPR похвастались в своем твиттере, что количество предзаказов...</div>
                    </div>
                </div>
                <div class="slide newsPreview">
                    <a href="#" class="imgContainer btn">
                        <img src="./img/newPreview-2.png" alt="Новость 2" title="Новость 2">
                    </a>
                    <div class="attributes">
                        <a href="#" title="Открыть все материалы данной категории" class="category btn round border small bg-darkLilac translucent">Новости</a>
                        <div class="date">12.01.21</div>
                    </div>
                    <div class="description">
                        <div class="title">8 Миллионов продаж</div>
                        <div class="text">CDPR похвастались в своем твиттере, что количество предзаказов...</div>
                    </div>
                </div>
                <div class="slide newsPreview">
                    <a href="#" class="imgContainer btn">
                        <img src="./img/newPreview-3.png" alt="Новость 3" title="Новость 3">
                    </a>
                    <div class="attributes">
                        <a href="#" title="Открыть все материалы данной категории" class="category btn round border small bg-darkLilac translucent">Статьи</a>
                        <div class="date">12.01.21</div>
                    </div>
                    <div class="description">
                        <div class="title">8 Миллионов продаж</div>
                        <div class="text">CDPR похвастались в своем твиттере, что количество предзаказов...</div>
                    </div>
                </div>
            </div>
            <input type="button" title="Следующий слайд" class="btn next">
        </div>
        <div class="mediaHome">
            <div class="homeTitle">Медиа о нас</div>
            <div class="items">
                <a href="#" class="item btn" title="Медиа о нас 1">
                    <img src="./img/homeMedia-1.png" alt="Медиа о нас 1" title="Медиа о нас 1">
                </a>
                <a href="#" class="item btn" title="Медиа о нас 2">
                    <img src="./img/homeMedia-2.png" alt="Медиа о нас 2" title="Медиа о нас 2">
                </a>
                <a href="#" class="item btn" title="Медиа о нас 3">
                    <img src="./img/homeMedia-3.png" alt="Медиа о нас 3" title="Медиа о нас 3">
                </a>
                <a href="#" class="item btn" title="Медиа о нас 4">
                    <img src="./img/homeMedia-4.png" alt="Медиа о нас 4" title="Медиа о нас 4">
                </a>
            </div>
        </div>
    </div>
</main>