<main class="contentContainer withoutCover legalInfoPage">
    {{> breadcrumbs}}
    <h1 class="title">Правовая информация</h1>
    <p class="description">
        Та самая страница с необходимыми документами, которые сложно читать. Однако эти документы — официальное
        подтверждение всех наших слов на других разделах сайта. Здесь Вы можете убедиться, что мы ничего не скрываем и
        бережём Ваше доверие.
    </p>
    <div class="links">
        <a class="link" href="{{websiteAddress}}legal-info/agreement">Пользовательское соглашение</a>
        <a class="link" href="{{websiteAddress}}legal-info/privacy-policy">Политика конфиденциальности</a>
        <a class="link" href="{{websiteAddress}}legal-info/license-agreement-offer">Лицензионный договор-оферта</a>
        <a class="link" href="{{websiteAddress}}legal-info/service-offer-agreement">Договор-оферта оказания услуг</a>
        <a class="link" href="{{websiteAddress}}legal-info/public-offer-for-use-ya-split">Публичная оферта ИП Колпаков Игорь Сергеевич о покупке товаров с использованием сервиса Яндекс Сплит</a>
    </div>
    <div class="entity">
        <div class="row">ИНДИВИДУАЛЬНЫЙ ПРЕДПРИНИМАТЕЛЬ КОЛПАКОВ ИГОРЬ СЕРГЕЕВИЧ</div>
        <div class="row">ОГРНИП: 321440000021782</div>
        <div class="row">ИНН: 440118086746</div>
        <div class="row">Дата регистрации: 30 сентября 2021 г.</div>
        <div class="row">Юридический адрес организации: Российская Федерация, 156009, КОСТРОМСКАЯ ОБЛ, Г. КОСТРОМА, МКР ЮБИЛЕЙНЫЙ, дом 3, кв. 38</div>
        <div class="row">Фактический адрес: Российская Федерация, 105094, г. Москва, ул. Золотая, дом 11, офис №6А15</div>
        <div class="row">Расчетный счет: 40802810900002630322</div>
        <div class="row">ОГРН: 321440000021782</div>
        <div class="row">Банк: АО «Тинькофф Банк»</div>
    </div>
</main>