<a href="/admin/{{section}}/add/">{{addTitle}}</a>

<ul>
    {{#each elements}}
        <li>
            <a href="/admin/{{../section}}/edit/{{id}}">{{name}}{{#if active}}<span style="color: red"> *</span>{{/if}}</a>
        </li>
    {{/each}}
</ul>