{{#if tasks}}
    <ul>
        {{#each tasks}}
            <li>
                {{#if successSaveProduct}}
                    {{#if productFound}}
                        <h4>Дополнить данные к игре</h4>
                    {{else}}
                        <h4>Не удалось найти игру в STEAMBUY</h4>
                    {{/if}}
                {{else}}
                    <h4>Ошибка при сохранении данных игры</h4>
                {{/if}}
                <form method="post" action="/admin/parsing/tasks/in-work">
                    <input type="hidden" name="taskId" value="{{_id}}">
                    <input type="submit" value="Взять в работу">
                </form>
            </li>
        {{/each}}
    </ul>
{{else}}
    {{#if taskInWork}}
        {{#if taskInWork.successSaveProduct}}
            {{#if taskInWork.productFound}}
                <h4>
                    Дополнить данные к игре - <a href="/admin/products/edit/{{taskInWork.product._id}}" target="_blank">{{taskInWork.product.name}}</a>
                </h4>
                Необходимо дополнить:
                <ul>
                    {{#each taskInWork.needFill}}
                        <li>{{this}}</li>
                    {{/each}}
                </ul>
                <br>
                Игра на <a href="{{taskInWork.sourceLink}}" target="_blank">STEAMBUY</a>
                <br>
                <br>
                <form method="post" action="/admin/parsing/tasks/performed">
                    <input type="hidden" name="taskId" value="{{taskInWork._id}}">
                    <input type="submit" value="Готово">
                </form>
                <br>
                <form method="post" action="/admin/parsing/tasks/refusal">
                    <input type="hidden" name="taskId" value="{{taskInWork._id}}">
                    <input type="submit" value="Отказаться">
                </form>
            {{else}}
                <h4>
                    Не удалось найти игру
                    <a href="/admin/products/edit/{{taskInWork.product._id}}" target="_blank">
                        {{taskInWork.product.name}}
                    </a> на STEAMBUY
                </h4>
                <form method="post" action="/admin/parsing/tasks/pars-product">
                    <label>
                        Название игры (точно, как в результатах поиска на STEAMBUY):
                        <input type="text" name="productName">
                    </label>
                    <br>
                    <br>
                    <input type="hidden" name="taskId" value="{{taskInWork._id}}">
                    <input type="submit" value="Спарсить">
                </form>
                <br>
                <form method="post" action="/admin/parsing/tasks/refusal">
                    <input type="hidden" name="taskId" value="{{taskInWork._id}}">
                    <input type="submit" value="Отказаться">
                </form>
            {{/if}}
        {{else}}
            <h4>
                Ошибка при сохранении данных игры - {{taskInWork.productDsName}}
            </h4>
            <form method="post" action="/admin/parsing/tasks/pars-product">
                <label>
                    Название игры (точно, как в результатах поиска на STEAMBUY):
                    <input type="text" name="productName">
                </label>
                <br>
                <br>
                <label>
                    id товара с digiseller:
                    <input type="text" name="dsId">
                </label>
                <br>
                <br>
                <label>
                    Цена товара с digiseller:
                    <input type="text" name="priceTo">
                </label>
                <br>
                <br>
                <input type="hidden" name="taskId" value="{{taskInWork._id}}">
                <input type="submit" value="Спарсить">
            </form>
            <br>
            <form method="post" action="/admin/parsing/tasks/refusal">
                <input type="hidden" name="taskId" value="{{taskInWork._id}}">
                <input type="submit" value="Отказаться">
            </form>
        {{/if}}
    {{else}}
        <p>Задач не найдено</p>
    {{/if}}
{{/if}}