{{#if tasks}}
    <p>{{person.login}}, тобой выполнено задача: <b>{{completedCount}}</b></p>
    <ul>
        {{#each tasks}}
            <li>
                {{#if successSaveProduct}}
                    {{#if productFound}}
                        <h4>
                            Дополнить данные к игре - {{product.name}}
                        </h4>
                        Необходимо дополнить:
                        <ul>
                            {{#each needFill}}
                                <li>{{this}}</li>
                            {{/each}}
                        </ul>
                        <br>
                    {{else}}
                        <h4>Не удалось найти игру {{product.name}} на STEAMBUY</h4>
                    {{/if}}
                {{else}}
                    <h4>Ошибка при сохранении данных игры</h4>
                {{/if}}
                <form method="post" action="/admin/parsing/tasks/in-work">
                    <input type="hidden" name="taskId" value="{{_id}}">
                    <input type="submit" value="Взять в работу">
                </form>
            </li>
        {{/each}}
    </ul>
{{else}}
    {{#if taskInWork}}
        {{#if taskInWork.successSaveProduct}}
            {{#if taskInWork.productFound}}
                <h4>
                    Дополнить данные к игре - <a href="/admin/products/edit/{{taskInWork.product._id}}" target="_blank">{{taskInWork.product.name}}</a>
                </h4>
                Необходимо дополнить:
                <ul>
                    {{#each taskInWork.needFill}}
                        <li>{{this}}</li>
                    {{/each}}
                </ul>
                <br>
                Игра на <a href="{{taskInWork.sourceLink}}" target="_blank">STEAMBUY</a>
                <br>
                <br>
                <form method="post" action="/admin/parsing/tasks/performed">
                    <input type="hidden" name="taskId" value="{{taskInWork._id}}">
                    <input type="submit" value="Готово">
                </form>
                <br>
                <form method="post" action="/admin/parsing/tasks/refusal">
                    <input type="hidden" name="taskId" value="{{taskInWork._id}}">
                    <input type="submit" value="Отказаться">
                </form>
            {{else}}
                {{#if taskInWork.byHand}}
                    <h4>
                        Заполните данные для игры <a href="/admin/products/edit/{{taskInWork.product._id}}" target="_blank">{{taskInWork.product.name}}</a>
                    </h4>
                    <form method="post" action="/admin/parsing/tasks/performed">
                        <input type="hidden" name="taskId" value="{{taskInWork._id}}">
                        <input type="submit" value="Готово">
                    </form>
                    <br>
                    <form method="post" action="/admin/parsing/tasks/refusal">
                        <input type="hidden" name="taskId" value="{{taskInWork._id}}">
                        <input type="submit" value="Отказаться">
                    </form>
                {{else}}
                    <h4>
                        Не удалось найти игру {{taskInWork.product.name}} на STEAMBUY
                    </h4>
                    <form method="post" action="/admin/parsing/tasks/pars-product">
                        <label>
                            Название игры (как в результатах поиска на STEAMBUY):
                            <input type="text" name="productName">
                        </label>
                        <br>
                        <br>
                        <label>
                            Ссылка на страницу игры в STEAMBUY:
                            <input type="text" name="sourceLink">
                        </label>
                        <br>
                        <br>
                        <label>
                            Заполнить в ручную
                            <input type="checkbox" name="byHand">
                        </label>
                        <br>
                        <br>
                        <input type="hidden" name="taskId" value="{{taskInWork._id}}">
                        <input type="submit" value="Спарсить">
                    </form>
                    <br>
                    <form method="post" action="/admin/parsing/tasks/refusal">
                        <input type="hidden" name="taskId" value="{{taskInWork._id}}">
                        <input type="submit" value="Отказаться">
                    </form>
                {{/if}}
            {{/if}}
        {{else}}
            <h4>
                Ошибка при сохранении данных игры - {{taskInWork.productDsName}}
            </h4>
            <form method="post" action="/admin/parsing/tasks/pars-product">
                <label>
                    Название игры (как в результатах поиска на STEAMBUY):
                    <input type="text" name="productName">
                </label>
                <br>
                <br>
                <label>
                    Ссылка на страницу игры в STEAMBUY:
                    <input type="text" name="sourceLink">
                </label>
                <br>
                <br>
                <label>
                    id товара с digiseller:
                    <input type="text" name="dsId">
                </label>
                <br>
                <br>
                <label>
                    Цена товара с digiseller:
                    <input type="text" name="priceTo">
                </label>
                <br>
                <br>
                <input type="hidden" name="taskId" value="{{taskInWork._id}}">
                <input type="submit" value="Спарсить">
            </form>
            <br>
            <form method="post" action="/admin/parsing/tasks/refusal">
                <input type="hidden" name="taskId" value="{{taskInWork._id}}">
                <input type="submit" value="Отказаться">
            </form>
        {{/if}}
    {{else}}
        <p>Задач не найдено</p>
    {{/if}}
{{/if}}