<div class="ratingPageBg secondPlaceDownProfile">
    <div class="coverImg">
        <img class="img" src="{{websiteAddress}}img/otherPlaceProfile.jpg" alt="Постер для просмотра страниц пользователей с позицией 4 и ниже в рейтинге" title="Постер для просмотра страниц пользователей с позицией 4 и ниже в рейтинге">
    </div>
</div>
<main class="contentContainer withoutCover viewProfilePage">
    <div class="breadcrumbs contentContainer">
        <div class="item">
            <a class="btn link" href="/">Главная</a>
        </div>
        <div class="item">
            <a class="btn link" href="/rating">Рейтинг пользователей</a>
        </div>
        <div class="current">{{user.login}}</div>
    </div>
    <div class="head">
        <div class="main">
            <span class="icon"></span>
            <h1 class="name">{{user.login}}</h1>
            <div class="rating">
                <div class="value">Рейтинг {{user.rating}}</div>
                <div class="position">Позиция 1 \ {{countUsers}}</div>
            </div>
        </div>
        <div class="statistics">
            <div class="item">
                <div class="value">0</div>
                <div class="name">Игр<br>куплено</div>
            </div>
            <div class="item">
                <div class="value">{{user.invitedUsers.length}}</div>
                <div class="name">Друзей приглашено</div>
            </div>
            <div class="item">
                <div class="value">{{user.viewedArticles.length}}</div>
                <div class="name">Статей прочитано</div>
            </div>
            <div class="item">
                <div class="value">0</div>
                <div class="name">Достижений получено</div>
            </div>
            <div class="item">
                <div class="value">{{user.daysUs}}</div>
                <div class="name">Дней с ICE GAMES</div>
            </div>
        </div>
    </div>
    <div class="achievements">
        <div class="subtitle">Достижения</div>
        <div class="slider">
            <button class="btn prev increase">
                <span class="icon-static icon-static-arrow"></span>
            </button>
            <div class="visibleAreaWrapper">
                <div class="visibleArea">
                    <div class="tape">
                        <div class="slide active"></div>
                        <div class="slide active"></div>
                        <div class="slide active"></div>
                        <div class="slide active"></div>
                        <div class="slide active"></div>
                        <div class="slide"></div>
                    </div>
                </div>
            </div>
            <button class="btn next increase">
                <span class="icon-static icon-static-arrow"></span>
            </button>
        </div>
    </div>
    <div class="games">
        <div class="subtitle">Игры</div>
        <div class="items">
            {{> game}}
        </div>
    </div>
</main>