{{#iff ratingPosition '===' 1}}
    <div class="ratingPageBg firstPlaceProfile">
        <div class="coverImg">
            <img class="img" src="{{websiteAddress}}img/firstPlaceProfile.jpg" alt="Rating">
        </div>
    </div>
{{/iff}}
{{#iff ratingPosition '===' 2}}
    <div class="ratingPageBg secondPlaceDownProfile">
        <div class="coverImg">
            <img class="img" src="{{websiteAddress}}img/secondPlaceProfile.jpg" alt="Rating">
        </div>
    </div>
{{/iff}}
{{#iff ratingPosition '===' 3}}
    <div class="ratingPageBg secondPlaceDownProfile">
        <div class="coverImg">
            <img class="img" src="{{websiteAddress}}img/thirdPlaceProfile.jpg" alt="Rating">
        </div>
    </div>
{{/iff}}
{{#iff ratingPosition '>' 3}}
    <div class="ratingPageBg secondPlaceDownProfile">
        <div class="coverImg">
            <img class="img" src="{{websiteAddress}}img/otherPlaceProfile.jpg" alt="Постер для просмотра страниц пользователей с позицией 4 и ниже в рейтинге" title="Постер для просмотра страниц пользователей с позицией 4 и ниже в рейтинге">
        </div>
    </div>
{{/iff}}
<main class="contentContainer withoutCover viewProfilePage">
    <div class="breadcrumbs contentContainer mobileInvisibleScroll">
        <div class="item">
            <a class="btn link" href="/">Главная</a>
        </div>
        <div class="item">
            <a class="btn link" href="/rating">Рейтинг пользователей</a>
        </div>
        <div class="current">{{user.login}}</div>
    </div>
    <div class="head">
        <div class="main">
            <span class="icon"></span>
            <h1 class="name">{{user.login}}</h1>
            <div class="rating">
                <div class="value">Рейтинг {{user.rating}}</div>
                <div class="position">Позиция {{ratingPosition}} \ {{countUsers}}</div>
            </div>
        </div>
        <div class="statistics">
            <div class="item">
                <div class="value">{{user.purchasedProducts}}</div>
                <div class="name">Игр куплено</div>
            </div>
            <div class="item">
                <div class="value">{{user.invitedUsers.length}}</div>
                <div class="name">Друзей приглашено</div>
            </div>
            <div class="item">
                <div class="value">{{user.viewedArticles.length}}</div>
                <div class="name">Статей прочитано</div>
            </div>
            <div class="item">
                <div class="value">{{countAchievements}}</div>
                <div class="name">Достижений получено</div>
            </div>
            <div class="item">
                <div class="value">{{user.daysUs}}</div>
                <div class="name">Дней с ICE GAMES</div>
            </div>
        </div>
    </div>
    <div class="achievements">
        <div class="subtitle">Достижения</div>
        <div class="slider js-achievementViewProfileSlider">
            <button class="btn prev increase js-prevBtn">
                <span class="icon-static icon-static-arrow"></span>
            </button>
            <div class="visibleArea js-visibleArea">
                <div class="tape js-tape">
                    {{#each user.achievements}}
                        <div class="achievement big slide js-slide">
                            <img src="{{@root.websiteAddress}}{{icon}}" alt="Иконка достижения {{name}}" title="Иконка достижения {{name}}" class="achievementIcon">
                            <div class="name">{{name}}</div>
                            <div class="description">{{description}}</div>
                        </div>
                    {{/each}}
                    {{#each restAchievements}}
                        <div class="achievement big slide js-slide">
                            <img src="{{@root.websiteAddress}}{{icon}}" alt="Иконка достижения {{name}}" title="Иконка достижения {{name}}" class="achievementIcon">
                            <div class="name">{{name}}</div>
                            <div class="description">{{description}}</div>
                            <div class="lock" title="Достижение еще не получено">
                                <span class="icon icon-lock"></span>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
            <button class="btn next increase js-nextBtn">
                <span class="icon-static icon-static-arrow"></span>
            </button>
        </div>
    </div>
    {{#if lastPurchasedProducts.length}}
        <div class="games">
            <div class="subtitle">Игры</div>
            <div class="items mobileScroll">
                {{#each lastPurchasedProducts}}
                    {{> game
                            id=_id
                            name=name
                            img=img
                            priceTo=priceTo
                            priceFrom=priceFrom
                            dsId=dsId
                            inStock=inStock
                            size='big'
                    }}
                {{/each}}
            </div>
        </div>
    {{/if}}
</main>