<main class="contentContainer withoutCover profilePage">
    <div class="breadcrumbs contentContainer mobileInvisibleScroll">
        <div class="item">
            <a class="btn link" href="{{websiteAddress}}">Главная</a>
        </div>
        <div class="item">
            <a class="btn link" href="{{websiteAddress}}profile">Профиль</a>
        </div>
        <div class="current">Пригласи друга</div>
    </div>
    <div class="profile">
        {{> profileMenu}}
        <div class="content">
            <div class="referralLink">
                <div class="subtitle">Ваша реферальная ссылка</div>
                <div class="description">Копируй ссылку и отправляй друзям, чтобы подниматься в рейтинге айсов</div>
                <div class="linkBlock">
                    <div class="refLink js-copyText mobileInvisibleScroll">{{websiteAddress}}?inviter={{userId}}</div>
                    <button class="btn border round small js-copyBtn">Копировать</button>
                </div>
            </div>
            <div class="friends">
                <div class="subtitle">Приглашенные друзья</div>
                {{#if invitedUsers.length}}
                    <div class="list">
                        {{#each invitedUsers}}
                            <div class="item">
                                <a href="{{@root.websiteAddress}}rating/{{login}}" class="name link">{{login}}</a>
                                <div class="ratingPosition">Позиция {{ratingPosition}} \ {{@root.countUsers}}</div>
                            </div>
                        {{/each}}
                    </div>
                {{else}}
                    <div class="noItems">Вы еще не пригласили ни одного друга</div>
                {{/if}}
            </div>
        </div>
    </div>
</main>