<div class="ratingPageBg main">
    <div class="coverImg">
        <img class="img" src="{{websiteAddress}}img/ratingCover.jpg" alt="Постер для страницы рейтинга" title="Постер для страницы рейтинга">
    </div>
</div>
<main class="contentContainer withoutCover ratingPage">
    <div class="breadcrumbs contentContainer">
        <div class="item">
            <a class="btn link" href="{{websiteAddress}}">Главная</a>
        </div>
        <div class="current">Рейтинг</div>
    </div>
    <h1 class="title">Рейтинг айсов</h1>
    <div class="description">Тут Вы можете увидеть рейтинг среди всех пользователей на сайте</div>
    <div class="list js-listRating">
        {{#each users}}
            <a href="{{@root.websiteAddress}}rating/{{login}}" class="item">
                {{#iff @index '<' 3}}
                    <div class="crown">
                        <div class="crownMask">
                            <div class="crownColor"></div>
                        </div>
                    </div>
                {{/iff}}
                <div class="position">{{inc @index}} \ {{@root.countUsers}}</div>
                <div class="name">{{login}}</div>
                <div class="rating">{{rating}}</div>
            </a>
        {{/each}}
    </div>
    <button class="btn rounded bg-lilac translucent loadMore js-loadMoreRating" data-skip="20">Загрузить ещё</button>
</main>