<main class="contentContainer withoutCover selectionsPage">
    {{> breadcrumbs}}
    <h1 class="title">Подборки игр</h1>
    <div class="ourChoice">
        <h2 class="title">Наш выбор</h2>
        <div class="slider js-ourChoiceSlider">
            <div class="visibleAreaWrapper">
                <div class="visibleArea js-visibleArea">
                    <div class="tape js-tape">
                        {{#each ourChoice}}
                            <div class="slide js-slide">
                                {{> game }}
                            </div>
                        {{/each}}
                    </div>
                </div>
            </div>
            <div class="slideControls-rounded">
                <button class="btn prev js-prevBtn"></button>
                <button class="btn next js-nextBtn"></button>
            </div>
        </div>
    </div>
    <div class="selections">
        {{#each selections}}
            <a href="{{@root.websiteAddress}}selections/{{alias}}" title="Перейти на страницу подборки {{name}}" class="selection">
                <img src="{{@root.websiteAddress}}{{img}}" class="selectionImg" alt="Изображение подборки товаров {{name}}" title="Изображение подборки товаров {{name}}">
                <div class="selectionInfo">
                    <div class="selectionName">{{name}}</div>
                    <div class="selectionCountProducts">Игр в подборке: {{products.length}}</div>
                </div>
            </a>
        {{/each}}
    </div>
    <button class="btn round border hover-bg-palePink loadMore js-loadMoreSelections">Загрузить еще</button>
</main>