<main class="contentContainer withoutCover categoriesCatalogPage">
    {{> breadcrumbs}}
    <div class="head">
        <h1 class="title">{{hTitle}}</h1>
        {{#if section.description}}
            <div class="descriptionContainer">
                <button class="btn round info border js-openDescriptionSplitCatalog">i</button>
                <div class="description js-descriptionSplitCatalog">
                    <button class="btn round-close close js-descriptionSplitCatalogClose"></button>
                    {{encodeString section.description}}
                </div>
            </div>
        {{/if}}
    </div>
    <div class="list">
        {{#each products}}
            {{> game
                    id=_id
            }}
        {{/each}}
    </div>
    {{#iff pagination.length '>' 2}}
        <div class="nav">
            <a class="btn rounded bg-pink increase big" href="{{websiteAddress}}games?{{sectionType}}={{section._id}}">В каталог</a>
            <div class="pagination">
                {{#each pagination}}
                    {{#if separator}}
                        <div class="separator">...</div>
                    {{else}}
                        {{> pageBtn}}
                    {{/if}}
                {{/each}}
            </div>
        </div>
    {{else}}
        <a class="btn rounded bg-pink increase big inCatalog" href="{{websiteAddress}}games?{{sectionType}}={{section._id}}">В каталог</a>
    {{/iff}}
</main>