<main class="splitInfoPage">
    {{> breadcrumbs}}
    <div class="cover">
        <img
            class="img"
            alt="Картинка для страницы информации о сплите"
            title="Картинка для страницы информации о сплите"
            src="{{websiteAddress}}img/splitInfoPageCover.jpg"
        >
        <div class="separate"></div>
        <div class="textBlock">
            <h1 class="title">Играйте сейчас -<br>платите потом</h1>
            <p class="description">Делите заказы на части и оплачивайте постепенно</p>
        </div>
        <div class='yaPayBlock'>
            <img class="qr" src="{{websiteAddress}}img/qr-yandex-pay.png" alt="QR код Яндекс оплаты">
            <p class="direction">Наведите камеру, чтобы<br> скачать приложение<br> "Яндекс Пэй"</p>
        </div>
    </div>
    <div class="info contentContainer">
        <div class="howWorks block">
            <div class="title">Как это работает?</div>
            <div class="description">Выберите товар в магазине и оформите его с оплатой частями. Покупка сразу ваша, а деньги — потом</div>
            <div class="scale">
                <div class='section'>
                    <p class='text'>Списывается сразу</p>
                    <p class='date'>Сегодня - {{ one }}</p>        
                </div>
                <div class='section'>
                    <p class='text'>Второй платеж</p>
                    <p class='date'>{{ two }}</p>        
                </div>
                <div class='section'>
                    <p class='text'>Третий платеж</p>
                    <p class='date'>{{ three }}</p>        
                </div>
                <div class='section'>
                    <p class='text'>Финальный платеж</p>
                    <p class='date'>{{ four }}</p>        
                </div>
            </div>
            <div class="description desktop">Спишем сразу только первый платёж, а оставшиеся — по графику раз в 2 недели</div>
        </div>
        <div class="variants block">
            <div class="title">Выбирай любой</div>
            <div class="items">
                <div class="item">
                    <div class="textInfo">
                        <div class="title">Обычный сплит</div>
                        <div class="description">На 2 месяца: сразу получите то, что хочется, и платите частями раз в 2 недели</div>
                    </div>
                    <img src="{{websiteAddress}}img/firstVariantSplitBg.jpg" class="img" loading="lazy" alt="Вариант оплаты на 2 месяца в сплит">
                </div>
                <div class="item">
                    <div class="textInfo">
                        <div class="title">Длинный сплит</div>
                        <div class="description">На 4 или 6 месяцев: купите что-нибудь большое и растяните оплату на подольше</div>
                    </div>
                    <img src="{{websiteAddress}}img/secondVariantSplitBg.jpg" class="img" loading="lazy" alt="Вариант оплаты на 4 или 6 месяцев в сплит">
                </div>
            </div>
        </div>
        <div class="example block">
            <div class="title">Всё увидишь сразу</div>
            <div class="description">На странице оплаты увидите значок сплита и выберите срок. Всё - можно сразу оформлять заказ.</div>
            <div class="visual">
                <img src="{{websiteAddress}}img/widgetSplit.jpg" class="widgetSplit" loading="lazy" alt="Пример сплита на маке">
                <div class="mac">
                    <img src="{{websiteAddress}}img/exampleSplitMac.png" class="img" loading="lazy" alt="Пример сплита на маке">
                </div>
            </div>
        </div>
        <div class="faq">
            <div class="title">Ответы на вопросы</div>
            <div class="item collapse js-collapse" itemscope itemtype="http://schema.org/Question">
                <button class="btn head">
                    <span class="title">1. <span itemprop="name">Как работает Сплит?</span></span>
                    <span class="control"></span>
                </button>
                <div class="content" itemprop="suggestedAnswer" itemscope itemtype="http://schema.org/Answer">
                    <span itemprop="text">
                        <p>Он делит сумму вашего заказа на 4 или 6 частей — как вы захотите. Первую списываем с карты сразу, оставшиеся — по графику. Дату каждого платежа вы видите уже при оформлении, поэтому списания не станут неожиданностью</p>
                    </span>
                </div>
            </div>
            <div class="item collapse js-collapse" itemscope itemtype="http://schema.org/Question">
                <button class="btn head">
                    <span class="title">2. <span itemprop="name">Почему Сплит может быть недоступен?</span></span>
                    <span class="control"></span>
                </button>
                <div class="content" itemprop="suggestedAnswer" itemscope itemtype="http://schema.org/Answer">
                    <span itemprop="text">
                        <p>Возможно, вы решили оплатить заказ наличными, а Сплит работает только при оплате картой</p>
                    </span>
                </div>
            </div>
            <div class="item collapse js-collapse" itemscope itemtype="http://schema.org/Question">
                <button class="btn head">
                    <span class="title">3. <span itemprop="name">Какие документы нужны?</span></span>
                    <span class="control"></span>
                </button>
                <div class="content" itemprop="suggestedAnswer" itemscope itemtype="http://schema.org/Answer">
                    <span itemprop="text">
                        <p>Никаких. Достаточно номера телефона или аккаунта в Яндекс</p>
                    </span>
                </div>
            </div>
            <div class="item collapse js-collapse" itemscope itemtype="http://schema.org/Question">
                <button class="btn head">
                    <span class="title">4. <span itemprop="name">Что если я передумаю?</span></span>
                    <span class="control"></span>
                </button>
                <div class="content" itemprop="suggestedAnswer" itemscope itemtype="http://schema.org/Answer">
                    <span itemprop="text">
                        <p>Вернуть сплит-заказ можно так же, как и обычный. Все деньги мы отправим обратно на карту, которой вы оплачивали</p>
                    </span>
                </div>
            </div>
            <div class="item collapse js-collapse" itemscope itemtype="http://schema.org/Question">
                <button class="btn head">
                    <span class="title">5. <span itemprop="name">Это безопасно?</span></span>
                    <span class="control"></span>
                </button>
                <div class="content" itemprop="suggestedAnswer" itemscope itemtype="http://schema.org/Answer">
                    <span itemprop="text">
                        <p>Абсолютно. Мы не оформляем на вас кредит и не скрываем дополнительные условия «под звёздочкой». Мы просто делим платеж на части</p>
                    </span>
                </div>
            </div>
        </div>
    </div>
</main>
